<%= content_tag :div,
  id: essence_richtext_editor.dom_id,
  class: essence_richtext_editor.css_classes,
  data: essence_richtext_editor.data_attributes do %>
  <%= content_label(essence_richtext_editor) %>
  <div class="tinymce_container">
    <%= text_area_tag(
      essence_richtext_editor.form_field_name,
      essence_richtext_editor.ingredient || '',
      class: essence_richtext_editor.tinymce_class_name,
      id: "tinymce_#{essence_richtext_editor.id}"
    ) %>
  </div>
<% end %>
