<div class="content_editor content_text_editor"<%= " style=\"float: left;\"" if options[:css_class] == "text_short" %>>
	<label><%= render_content_name(content) %></label>
	<%= text_field_tag(
		content.form_field_name,
		content.ingredient,
		:class => 'thin_border text_long'
	) %>
</div>
