<div class="content_editor essence_page" id="<%= essence_page_editor.dom_id %>" data-content-id="<%= essence_page_editor.id %>">
  <%= content_label(essence_page_editor) %>
  <%= select_tag(
    essence_page_editor.form_field_name,
    pages_for_select,
    id: essence_page_editor.form_field_id,
    class: 'alchemy_selectbox full_width'
  ) %>
</div>
