<%= content_tag :div,
  id: essence_date_editor.dom_id,
  class: essence_date_editor.css_classes,
  data: essence_date_editor.data_attributes do %>
  <%= content_label(essence_date_editor) %>
  <%= alchemy_datepicker(
    essence_date_editor.essence, :date, {
      name: essence_date_editor.form_field_name,
      id: essence_date_editor.form_field_id,
      value: essence_date_editor.ingredient
    }
  ) %>
  <label for="<%= essence_date_editor.form_field_id %>" class="essence_date--label">
    <i class="icon far fa-calendar-alt fa-fw fa-lg"></i>
  </label>
<% end %>
