<div class="content_editor essence_html_editor" data-content-id="<%= essence_html_editor.id %>">
  <%= content_label(essence_html_editor) %>
  <%= text_area_tag(
    essence_html_editor.form_field_name,
    essence_html_editor.ingredient
  ) %>
</div>
