<% cache(content) do -%>
<div class="content_editor essence_richtext" id="<%= content_dom_id(content) %>">
  <%= label_and_remove_link(content) %>
  <div class="tinymce_container">
    <%= text_area_tag(
      content.form_field_name,
      content.ingredient || '',
      :class => content.tinymce_class_name
    ) %>
  </div>
</div>
<% end -%>
