<% cache(content) do -%>
<div class="content_editor essence_richtext" id="<%= content.dom_id %>">
  <%= label_and_remove_link(content) %>
  <div class="tinymce_container">
    <%= text_area_tag(
      content.form_field_name,
      content.ingredient || '',
      class: content.tinymce_class_name,
      id: "tinymce_#{content.id}"
    ) %>
  </div>
</div>
<% end -%>
