<div class="content_editor essence_html_editor" data-content-id="<%= content.id %>">
  <%= content_label(content) %>
  <%= text_area_tag(
    content.form_field_name,
    content.ingredient
  ) %>
</div>
