<div class="content_editor essence_richtext" id="<%= essence_richtext_editor.dom_id %>">
  <%= content_label(essence_richtext_editor) %>
  <div class="tinymce_container">
    <%= text_area_tag(
      essence_richtext_editor.form_field_name,
      essence_richtext_editor.ingredient || '',
      class: essence_richtext_editor.tinymce_class_name,
      id: "tinymce_#{essence_richtext_editor.id}"
    ) %>
  </div>
</div>
