<%- alchemy_assets_set(:sitemap) -%>
<%- content_for :toolbar do -%>
<div id="toolbar">
	<div class="button_with_label">
        <%= select_tag(
			'language', 
			options_for_select(Language.all.map { |l| [l.name, l.id] }, session[:language_id]),
			:onchange => %(
				Alchemy.pleaseWaitOverlay();
				jQuery.get('/admin/pages/switch_language', {
					language_id: this.value
				});
			)
		) %>
        <label><%= _("Language tree") %></label>
    </div>
</div>
<%- end -%>
<%- if @layout_root -%>
<ul class="list" id="layoutpages">
    <%= render :partial => "layoutpage", :collection => @layout_root.children %>
</ul>
<%- else -%>

<%= render :partial => 'create_language_form' %>

<%- end -%>
