@import "compass/css3";
@import "compass/css3/user-interface";
@import "sassy-buttons";

$text-color: #333333;
$light-blue: #C6DBE7;
$blue: darken($light-blue, 15%);
$very-light-blue: lighten($light-blue, 12%);
$light-gray: #EDEDED;
$medium-gray: #E3E3E3;
$dark-gray: #666666;

$default-padding: 4px;
$default-margin: $default-padding;

$default-font-face: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
$default-font-size: 12px;
$default-font-style: $default-font-size $default-font-face;

$default-border-color: #AFAFAF;
$default-border-width: 1px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;
$default-border-radius: 3px;

$button-bg-color: #F7F7F7;
$button-hover-bg-color: #e6f0f5;
$button-border-color: #9A9A9A;
$button-hover-border-color: #888888;
$button-text-shadow: #f2f2f2 1px 1px 0;

$sb-base-color:      $light-gray;
$sb-border-radius:   $default-border-radius;
$sb-font-size:       $default-font-size;
$sb-text-color:      $text-color;
$sb-ie-support:      true;
$default-form-field-margin: 0.3em 0;

@mixin rounded-corner($radius: $default-border-radius) {
  @include border-radius($radius);
}

@mixin reset-border-radius {
  @include border-radius(0);
}

@mixin top-rounded-border($radius: $default-border-radius) {
  @include border-top-radius($radius);
}

@mixin left-rounded-border($radius: $default-border-radius) {
  @include border-left-radius($radius);
}

@mixin right-rounded-border($radius: $default-border-radius) {
  @include border-right-radius($radius);
}

@mixin bottom-rounded-border($radius: $default-border-radius) {
  @include border-bottom-radius($radius);
}

@mixin bottom-left-rounded-border($radius: $default-border-radius) {
  @include border-bottom-left-radius($radius);
}

@mixin disable-user-select {
  @include user-select(none);
}

@mixin default-button-style {
  @include sassy-button('shiny', $sb-border-radius, $sb-font-size, $sb-base-color, $sb-second-color, $sb-text-color, $sb-text-style, $sb-pseudo-states, $sb-ie-support);

  border-color: $button-border-color;
  margin: $default-form-field-margin;
}

@mixin default-focus-style($bg-color: $very-light-blue, $border: 1px solid $blue) {
  background-color: $bg-color;
  border: $border;
  @include box-shadow(0 0 6px $blue, inset 0 0 4px $light-blue);
  outline: none;
  @include transition(all 0.25s ease-in-out);

  &::-moz-focus-inner {
    border: none !important;
    padding: 1px !important;
  }
}

@mixin default-input-style {
  $border-inset-color: lighten($default-border-color, 20%);
  @include rounded-corner;
  @include box-shadow(inset 1px 1px 2px $medium-gray);
  font: $default-font-style;
  padding: 1px $default-padding;
  margin: $default-form-field-margin;
  background: #fff;
  border-top: 1px solid $default-border-color;
  border-left: 1px solid $default-border-color;
  border-bottom: 1px solid $border-inset-color;
  border-right: 1px solid $border-inset-color;
  width: 210px;
  font-size: 12px;
  line-height: 12px;
  height: 25px;
  @include transition(all 0.25s ease-in-out);

  &:focus {
    @include default-focus-style;
  }
}

@mixin text-overflow($prop: ellipsis) {
  text-overflow: $prop;
  -o-text-overflow: $prop;
  -ms-text-overflow: $prop;
  -moz-text-overflow: $prop;
}
