%rounded-border {
  border-radius: $default-border-radius;
}

%text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
}

%thumbnail-background {
  position: relative;
  display: table-cell;
  background-color: scale-color($dark-gray, $lightness: 40%, $saturation: -40%);
  text-align: center;
  vertical-align: middle;
  padding: 0;
  line-height: 0;
}

%field-with-error {
  border-color: $error_border_color;
  color: $error_text_color;
  background-color: lighten($error_background_color, 8%);
  box-shadow: inset 1px 1px 4px rgba($error_border_color, 0.5);
}

%blue-focus-style {
  @include default-focus-style;
}

%default-input-style {
  box-sizing: border-box;
  @extend %rounded-border;
  box-shadow: inset 0px 1px 5px $medium-gray;
  font: $default-font-style;
  padding: 1px 2*$default-padding;
  margin: $default-form-field-margin;
  background: white;
  border: 1px solid $default-border-color;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  height: $default-form-field-height;
  @include transition(
    box-shadow 0.25s ease-in-out,
    background-color 0.25s ease-in-out,
    border 0.25s ease-in-out
  );

  &:focus {
    @extend %blue-focus-style;
  }

  &[disabled], .disabled {
    color: #888;
    background-color: rgba(#fff, 0.5);
    cursor: not-allowed;
  }
}

%gradiated-toolbar {
  background: $toolbar-bg-color;
  padding: 8px 4px;
  height: $default-form-field-height;
}
