%text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
}

%field-with-error {
  border-color: $error_border_color;
  color: $error_text_color;
  background-color: lighten($error_background_color, 8%);
  box-shadow: inset 0px 0 1px rgba($error_border_color, 0.5);
}

%default-input-style {
  border-radius: $default-border-radius;
  box-shadow: $form-field-box-shadow;
  font: $default-font-style;
  color: $form-field-text-color;
  padding: $form-field-padding;
  margin: $form-field-margin;
  background: $form-field-background-color;
  border-width: $form-field-border-width;
  border-style: $form-field-border-style;
  border-color: $form-field-border-color;
  height: $form-field-height;
  width: 100%;
  font-size: $form-field-font-size;
  line-height: $form-field-line-height;
  transition: $transition-duration;

  &:focus {
    @include default-focus-style($box-shadow: 0 0 0 1px $focus-color);
  }

  &[disabled], .disabled {
    color: $form-field-disabled-text-color;
    background-color: $form-field-disabled-bg-color;
    cursor: not-allowed;
  }
}

%gradiated-toolbar {
  background: $toolbar-bg-color;
  padding: 8px 4px;
  height: $toolbar-height;
}
