%text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
}

%thumbnail-background {
  position: relative;
  display: table-cell;
  background-color: $dark-gray;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  line-height: 0;
}

%field-with-error {
  border-color: $error_border_color;
  color: $error_text_color;
  background-color: lighten($error_background_color, 8%);
  box-shadow: inset 1px 1px 4px rgba($error_border_color, 0.5);
}

%blue-focus-style {
  @include default-focus-style;
}

%default-input-style {
  border-radius: $default-border-radius;
  box-shadow: inset 0px 0 1px $medium-gray;
  font: $default-font-style;
  color: $text-color;
  padding: 1px 2*$default-padding;
  margin: $default-form-field-margin;
  background: $input-background-color;
  border-width: $default-border-width;
  border-style: $default-border-style;
  border-color: $default-border-color $default-border-color $border-inset-color $border-inset-color;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  height: $default-form-field-height;
  transition-property: box-shadow, background-color, border;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;

  &:focus {
    @extend %blue-focus-style;
  }

  &[disabled], .disabled {
    color: #888;
    background-color: $disabled-form-field-bg-color;
    cursor: not-allowed;
  }
}

%gradiated-toolbar {
  background: $toolbar-bg-color;
  padding: 8px 4px;
  height: $toolbar-height;
}
