// Status colors

$blue: #196AFF;
$green: #6EA600;
$yellow: #E6AC00;
$red: #E63956;
$orange: #D96C00;
$dark-gray: #475266;

// Colors for file type icons

$brown: #734533;
$violet: #5A41D9;
$cold-blue: #3956E6;
$warm-red: #D93A2B;
$warm-gray: #595350;

// Interface colors

$light-blue: scale-color($blue, $lightness: 90%);
$light-green: scale-color($green, $lightness: 90%);
$light-yellow: scale-color($yellow, $lightness: 90%);
$light-red: scale-color($red, $lightness: 92%);

$white: scale-color($blue, $lightness: 96%, $saturation: -85%);
$light-gray: scale-color($blue, $lightness: 92%, $saturation: -88%);
$medium-gray: scale-color($blue, $lightness: 83%, $saturation: -85%);
$medium-dark-gray: scale-color($blue, $lightness: 67%, $saturation: -89%);

$text-color: $dark-gray;
$icon-color: $dark-gray;
$muted-text-color: rgba(0, 0, 0, 0.4);
$linked-color: $light-yellow;

$header-color: $medium-dark-gray;
$header-text-color: $text-color;

// flash messages, hints and notices

$success_border_color: scale-color($green, $lightness: 40%, $saturation: -40%);
$success_text_color: scale-color($green, $lightness: -20%);
$success_background_color: $light-green;

$info_border_color: scale-color($blue, $lightness: 40%, $saturation: -40%);
$info_text_color: scale-color($blue, $lightness: -20%);
$info_background_color: #cadbf3;

$warning_border_color: scale-color($yellow, $lightness: 40%, $saturation: -40%);
$warning_text_color: scale-color($yellow, $lightness: -20%);
$warning_background_color: $light-yellow;

$error_border_color: scale-color($red, $lightness: 40%, $saturation: -40%);
$error_text_color: scale-color($red, $lightness: -20%);
$error_background_color: $light-red;

// Typography

$default-font-face: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
$mono-font-face: Menlo, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
$default-font-size: 12px;
$default-font-style: $default-font-size $default-font-face;

// layout

$default-padding: 4px;
$default-margin: $default-padding;

// Borders

$default-border-color: scale-color($blue, $lightness: 55%, $saturation: -85%);
$border-inset-color: lighten($default-border-color, 20%);
$default-border-width: 1px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;
$default-border-radius: 3px;
$default-form-field-margin: $default-margin 0;
$default-form-field-height: 29px;

// Buttons

$button-bg-color: #f7f7f7;
$button-hover-bg-color: white;
$button-border-color: $default-border-color;
$button-hover-border-color: scale-color($default-border-color, $lightness: -30%);
$button-text-shadow: rgbs(255,255,255,.2) 1px 1px 0;
$button-gradient-first-color: white !default;
$button-gradient-second-color: $white !default;
$button-padding: 0.5em 1.5em !default;
$button-margin: $default-form-field-margin !default;
$linked-button-color: #ffd77a;

// Effects

$text-shadow-light: rgba(white, 0.2) 0 0 4px !default;
$transition-duration: 200ms !default;
$transition-easing: linear !default;

// Certain elements

$dialog-header-height: 36px;
$header-font-size: $default-font-size;
$form-left-width: 35%;
$form-right-width: 65%;
$sitemap-line-height: 32px;
$main-menu-width: 150px !default;
$collapsed-main-menu-width: 48px !default;
$main-menu-bg-color: $dark-gray !default;
$main-menu-active-bg-color: scale-color($dark-gray, $lightness: -15%) !default;
$main-menu-text-color: $light-blue !default;
$main-menu-entry-max-width: 100px !default;
$toolbar-bg-color: $medium-gray !default;
$header-height: 29px !default;
