$text-color: rgba(39, 47, 69, 0.8);
$icon-color: rgba(51, 59, 81, 0.75);
$muted-text-color: rgba(0, 0, 0, 0.5);
$light-blue: #cddce5; // #c6dbe7
$blue: #6e92c0;;
$very-light-blue: lighten($light-blue, 12%);
$light-gray: #f6f6f6;
$medium-gray: #efefef;
$dark-gray: #666666;
$light_yellow: #fbfbd8;
$linked-color: #ffd77a;
$white: #fff;

$body-background-color: $light-gray;

$default-font-face: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
$mono-font-face: Menlo, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
$default-font-size: 12px;
$default-font-style: $default-font-size $default-font-face;

$dialog-header-height: 36px;
$header-color: $light-blue;
$header-text-color: $text-color;
$header-font-size: $default-font-size;

$default-padding: 4px;
$default-margin: $default-padding;

$default-border-color: rgba(#afafaf, 0.5);
$border-inset-color: lighten($default-border-color, 10%);
$default-border-width: 1px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;
$default-border-radius: 3px;
$default-form-field-margin: $default-margin 0;
$default-form-field-height: 29px;

$button-bg-color: $medium-gray;
$button-hover-bg-color: darken($medium-gray, 5%);
$button-border-color: $default-border-color;
$button-hover-border-color: #888888;
$button-text-color: $text-color;
$button-text-shadow: $white 1px 1px 0;
$button-box-shadow: $white 0 1px 0 inset;
$button-padding: 0.5em 1.5em !default;
$button-margin: $default-form-field-margin !default;
$linked-button-color: #ffd77a;

$success_border_color: #9cc4a1;
$success_text_color: #2e5934;
$success_background_color: #e2efd3;

$info_border_color: #8392b5;
$info_text_color: #233772;
$info_background_color: #cadbf3;

$warning_border_color: #c4c19c;
$warning_text_color: #726d23;
$warning_background_color: #f3f0c1;

$error_border_color: #c49c9c;
$error_text_color: #a23434;
$error_background_color: #efd3d3;

$form-left-width: 35%;
$form-right-width: 65%;

$sitemap-line-height: 32px;
$sitemap-page-background-color: rgba($white, 0.75);
$sitemap-page-hover-color: rgba($light_yellow, 0.5);
$sitemap-info-background-color: rgba($linked-color, 0.5);
$sitemap-highlight-color: rgba(#fffba5, 0.5);

$main-menu-width: 150px !default;
$collapsed-main-menu-width: 48px !default;
$main-menu-bg-color: rgba(#c7deec, 0.75) !default;
$main-menu-active-bg-color: $light-blue !default;
$main-menu-text-color: #222 !default;
$main-menu-entry-max-width: 100px !default;
$toolbar-bg-color: $medium-gray !default;
$toolbar-height: 46px !default;
$element-toolbar-height: 37px !default;
$header-height: 29px !default;
$text-shadow-light: rgba($white, 0.5) 0 0 4px !default;
$transition-duration: 200ms !default;
$transition-easing: linear !default;

$addon-icon-opacity: 0.85;

$table-row-background-color: rgba($white, 0.25);
$table-row-hover-color: rgba($light_yellow, 0.5);

$elements-window-width: 400px !default;
$element-header-bg-color: $medium-gray !default;
$top-menu-height: 75px !default;

$tabs-height: 31px !default;

