$light-blue: #cddce5;
$very-light-blue: lighten($light-blue, 12%);
$blue: #2d5a8d;
$light-gray: #f7f7f7;
$medium-gray: #efefef;
$dark-gray: #666666;
$dark-gray-blue: rgb(51, 59, 81);
$light_yellow: #fbfbd8;
$orange: #ffd77a;
$white: #fff;

$text-color: rgba($dark-gray-blue, 0.8) !default;
$muted-text-color: rgba($dark-gray-blue, 0.5) !default;
$icon-color: rgba($dark-gray-blue, 0.75) !default;
$linked-color: $orange !default;

$body-background-color: $light-gray;

$default-font-face: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
$mono-font-face: Menlo, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
$default-font-size: 12px;
$default-font-style: $default-font-size $default-font-face;

$dialog-header-height: 36px;
$dialog-header-color: $blue;
$dialog-header-text-color: $white;
$dialog-header-font-size: $default-font-size;
$dialog-box-shadow: 0 8px 16px rgba(35, 35, 35, 0.5);
$dialog-overlay-color: rgb(100, 100, 100);
$dialog-overlay-opacity: 0.4;
$dialog-background-color: $light-gray;

$default-padding: 4px;
$default-margin: $default-padding;

$default-border-color: rgba(#afafaf, 0.5);
$border-inset-color: lighten($default-border-color, 10%);
$default-border-width: 1px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;
$default-border-radius: 3px;

$form-field-margin: $default-margin 0;
$form-field-height: 29px;
$form-field-background-color: $white;
$form-field-border-width: $default-border-width;
$form-field-border-style: $default-border-style;
$form-field-border-color: $default-border-color $default-border-color $border-inset-color $border-inset-color;
$form-field-box-shadow: inset 0px 0 1px $medium-gray;
$form-field-padding: 1px 2*$default-padding;
$form-field-font-size: $default-font-size;
$form-field-line-height: $default-font-size;
$form-field-text-color: $text-color;
$form-field-disabled-text-color: #888;
$form-field-disabled-bg-color: rgba($white, 0.5);

$focus-color: rgba(#eca96e, 0.75) !default;

$button-bg-color: $blue;
$button-hover-bg-color: lighten($button-bg-color, 5%);
$button-border-color: darken($button-bg-color, 5%);
$button-hover-border-color: lighten($button-border-color, 5%);
$button-text-color: $white;
$button-text-shadow: none;
$button-box-shadow: none;
$button-padding: 0.5em 1.5em !default;
$button-margin: $form-field-margin !default;

$secondary-button-bg-color: transparent;
$secondary-button-text-color: $blue;
$secondary-button-border-color: $blue;

$linked-button-color: rgba($linked-color, 0.75);
$linked-border-color: darken($linked-color, 10%);

$success_border_color: #9cc4a1;
$success_text_color: #2e5934;
$success_background_color: #e2efd3;

$info_border_color: #8392b5;
$info_text_color: #233772;
$info_background_color: #cadbf3;

$warning_border_color: #c4c19c;
$warning_text_color: #726d23;
$warning_background_color: #f3f0c1;

$error_border_color: #c49c9c;
$error_text_color: #a23434;
$error_background_color: #efd3d3;

$form-left-width: 35%;
$form-right-width: 65%;

$sitemap-line-height: 32px;
$sitemap-page-background-color: rgba($white, 0.75);
$sitemap-page-hover-color: rgba($light_yellow, 0.5);
$sitemap-info-background-color: rgba($linked-color, 0.5);
$sitemap-highlight-color: rgba(#fffba5, 0.5);

$main-menu-width: 150px !default;
$collapsed-main-menu-width: 48px !default;
$main-menu-bg-color: darken($blue, 10%) !default;
$main-menu-active-bg-color: $blue !default;
$main-menu-text-color: $white !default;
$main-menu-icon-color: $white !default;
$main-menu-entry-max-width: 100px !default;
$toolbar-bg-color: $medium-gray !default;
$toolbar-height: 46px !default;
$element-toolbar-height: 37px !default;
$header-height: 29px !default;
$header-background: #d8d8d8 !default;
$text-shadow-light: rgba($white, 0.5) 0 0 4px !default;
$transition-duration: 200ms !default;
$transition-easing: linear !default;

$tooltip-background-color: lighten($dark-gray-blue, 15%) !default;

$addon-icon-opacity: 0.85;

$table-row-even-background-color: $white;
$table-row-odd-background-color: rgba($white, 0.5);
$table-row-hover-color: rgba($light_yellow, 0.5);

$elements-window-width: 400px !default;
$element-header-bg-color: $medium-gray !default;
$top-menu-height: 75px !default;

$tabs-height: 31px !default;

$datepicker_current_bg: $blue !default;
$datepicker_current_color: $white !default;
$datepicker_current_box_shadow: none !default;
$datepicker_hover_bg: $light_yellow !default;
$datepicker_hover_color: $text-color !default;
$datepicker_today_bg: $medium-gray !default;
$datepicker_today_color: $blue !default;
$datepicker_header_color: $text-color !default;
$datepicker_day_bg: $light-gray !default;
$datepicker_day_border: 1px solid $medium-gray !default;
$datepicker_day_color: $text-color !default;
