/*  Alchemy CMS Sprockets Manifest
 *  -------------------------------
 *= require_self
 */

@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/solid";
@import "alchemy/defaults";
@import "alchemy/archive";
@import "alchemy/navigation";
@import "alchemy/attachments";
@import "alchemy/base";
@import "alchemy/buttons";
@import "alchemy/dialogs";
@import "alchemy/toolbar";
@import "alchemy/clipboard";
@import "alchemy/dashboard";
@import "alchemy/elements";
@import "alchemy/errors";
@import "alchemy/filter_field";
@import "alchemy/flash";
@import "alchemy/flatpickr";
@import "alchemy/fonts";
@import "alchemy/forms";
@import "alchemy/form_fields";
@import "alchemy/frame";
@import "alchemy/hints";
@import "alchemy/icons";
@import "alchemy/image_library";
@import "alchemy/labels";
@import "alchemy/nodes";
@import "alchemy/node-select";
@import "alchemy/notices";
@import "alchemy/page-select";
@import "alchemy/pagination";
@import "alchemy/preview_window";
@import "alchemy/resource_info";
@import "alchemy/search";
@import "alchemy/selects";
@import "alchemy/sitemap";
@import "alchemy/spinner";
@import "alchemy/tables";
@import "alchemy/tags";
@import "alchemy/typography";
@import "alchemy/lists";
@import "alchemy/upload";
@import "alchemy/jquery-ui";
@import "jquery.Jcrop.min";
