div#image_assign_filter_and_image_sizing {
  width: 100%;
  height: 40px;
}

#picture_archive {

  .selected_item_tools {
    margin: -4*$default-padding;
    border-bottom: 1px solid $default-border-color;
    margin-bottom: 4*$default-padding;
    padding: 4*$default-padding;
    display: none;
  }
}

#zoomed_picture_background {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;

  .zoomed_picture {
    max-height: 99%;
  }
}

.picture_thumbnail {
  padding: $default-padding;
  margin: 2px 1px 2px 2px;
  background-color: #fff;
  float: none;
  display: inline;
  display: inline-block;
  border: 1px solid #c0c0c0;
  position: relative;
  @extend .rounded-border;

  .thumbnail_background {
    @extend %thumbnail-background;
    width: 160px;
    height: 120px;
  }

  .picture_name {
    height: 14px;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    bottom: 1px;
    left: 0;
    font-family: "Courier New", Courier, mono;
    line-height: 11px;
    padding: 2px 0;
    margin-right: 4px;
    margin-left: 4px;
  }

  &.small {
    width: 80px;
    height: 80px;

    .picture_name {
      width: 80px;
    }

    .thumbnail_background {
      width: 80px;
      height: 60px;
    }
  }

  &.medium {
    width: 160px;
    height: 140px;

    .picture_name {
      width: 160px;
    }

    .thumbnail_background {
      width: 160px;
      height: 120px;
    }
  }

  &.large {
    width: 240px;
    height: 200px;

    .picture_name {
      width: 240px;
    }

    .thumbnail_background {
      width: 240px;
      height: 180px;
    }
  }

  &:hover {

    .picture_tool {
      display: block;
    }
  }
}

#pictures {
  margin-right: 232px;

  .picture_thumbnail {
    margin: 0 8px 8px 0;
    display: inline-block;
    float: none;

    .thumbnail_background {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: -ms-zoom-in;
      cursor: -o-zoom-in;
      cursor: image-url('alchemy/lupe.cur'), zoom-in, pointer;
    }
  }
}

div.assign_image_list_image {
  text-align: center;
  overflow: hidden;
  position: relative;
}

#assign_image_list {
  position: relative;
  padding-right: 244px;
  height: 519px;

  div.assign_image_list_image img {
    border-style: none;
  }
}

.picture_tool {
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: white;
  top: 3px;
  padding: 1px;
  z-index: 10;
  display: none;

  &.visible {
    display: block;
  }

  &.hidden {
    display: none;
  }

  &.select {
    left: 4px;

    input {
      margin: 0;
      padding: 0;
    }
  }

  &.delete {
    right: 4px;

    a {
      background: image-url('alchemy/icons.png') no-repeat -63px -72px;
    }
  }

  &.edit {
    top: auto;
    right: 4px;
    bottom: 24px;

    a {
      background: image-url('alchemy/icons.png') no-repeat -160px -167px;
    }
  }

  &.info {
    top: auto;
    left: 4px;
    bottom: 24px;

    a {
      background: image-url('alchemy/icons.png') no-repeat -64px -168px;
    }
  }

  a {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}

div#library_sidebar {
  @include box-sizing(border-box);
  position: absolute;
  border-left: 1px solid $default-border-color;
  top: 0;
  right: 0;
  width: 232px;
  padding-top: 96px;
  padding: 84px 4*$default-padding 0 4*$default-padding;
  height: 100%;
  z-index: 1;
  background-color: $light-gray;

  h2 {
    margin-top: 4*$default-margin;
  }
}

div#filter_bar {

  .selectboxit {
    width: 192px;
  }
}

div#tag_list {
  @include box-sizing(border-box);
  height: 80%;

  .js_filter_field_box {

    input { width: 200px }
    label { display: none }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: $default-margin 0;
    height: 95%;
    width: 204px;
    overflow-x: hidden;
    overflow-y: auto;

    li {
      display: block;
      padding: $default-padding 4*$default-padding $default-padding 6*$default-padding ;
      margin: 2*$default-margin 0;
      background-color: $medium-gray;
      @include border-radius(16px);
      white-space: nowrap;
      overflow: hidden;
      position: relative;

      &:before {
        position: absolute;
        left: 8px;
        top: 7px;
        font-family: 'Alchemy Icons';
        @extend .icon-tag:before;
      }

      a {
        text-decoration: none;
        display: block;
      }

      &:hover { background-color: $very-light-blue }

      &.active {
        background-color: $dark-gray;

        a, &:before { color: $light-gray }
      }
    }
  }
}

div#alchemy_window_body {

  #library_sidebar {
    padding: 0 4*$default-padding;
  }

  div#tag_list ul {
    height: 364px;
  }
}

div#pictures_page_list {

  h2 { margin: 0 2*$default-padding }
  h3 { padding: 0 $default-padding }

  ul.list {
    max-height: 100px;
    overflow: auto;
    margin: 2*$default-margin;
    background-color: $medium-gray;

    ul { padding: 0 $default-padding }
  }

  li.even, li.odd { padding: $default-padding }
}
