@import "alchemy/defaults";

.picture_thumbnail {
  padding: $default-padding;
  margin: 2px 1px 2px 2px;
  background-color: #fff;
  float: none;
  display: inline;
  display: inline-block;
  border: 1px solid #c0c0c0;
  position: relative;
  @include rounded-corner;
}

#pictures {
  padding: 2*$default-padding;
  border: $default-border;
  @include rounded-corner;
  margin: -2*$default-padding;
  background-color: $medium-gray;
}

#pictures, #picture_archive .pagination {
  text-align: center;
}

#picture_archive .selected_item_tools {
  margin-bottom: 20px;
}

#pictures .picture_thumbnail {
  margin: 0 16px 16px 0;
  display: inline-block;
  float: none;
}

#pictures .picture_thumbnail:hover .picture_tool {
  display: block;
}

.picture_thumbnail .thumbnail_background {
  display: table-cell;
  width: 160px;
  height: 120px;
  background-color: $dark-gray;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  line-height: 0;
}

.picture_thumbnail.small .thumbnail_background {
  width: 80px;
  height: 60px;
}

.picture_thumbnail.medium .thumbnail_background {
  width: 160px;
  height: 120px;
}

.picture_thumbnail.large .thumbnail_background {
  width: 240px;
  height: 180px;
}

#pictures .picture_thumbnail .thumbnail_background {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: -ms-zoom-in;
  cursor: -o-zoom-in;
  cursor: image-url('alchemy/lupe.cur'), zoom-in, pointer;
}

div.picture_thumbnail.small {
  width: 80px;
  height: 75px;
}

div.picture_thumbnail.medium {
  width: 160px;
  height: 140px;
}

div.picture_thumbnail.large {
  width: 240px;
  height: 195px;
}

.picture_thumbnail .picture_name {
  height: 12px;
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 1px;
  left: 0;
  font-family: "Courier New", Courier, mono;
  line-height: 11px;
  padding: 2px 0;
  margin-right: 4px;
  margin-left: 4px;
}

.picture_thumbnail .picture_name.rename.hover {
  cursor: text;
}

.picture_thumbnail.small .picture_name {
  width: 80px;
}

.picture_thumbnail.medium .picture_name {
  width: 160px;
  bottom: 3px;
}

.picture_thumbnail.large .picture_name {
  width: 240px;
}

div.assign_image_list_image {
  text-align: center;
  overflow: hidden;
  position: relative;
}

div.picture_thumbnail.small div.image_spinner img {
  top: 14px;
  left: 25px;
}

div.picture_thumbnail.medium div.image_spinner img {
  top: 42px;
  left: 64px;
}

div.picture_thumbnail.large div.image_spinner img {
  top: 74px;
  left: 108px;
}

div.image_spinner {
  background-color: $dark-gray;
  width: 1px;
  margin: $default-margin;
}

div.picture_thumbnail.small .image_spinner {
  height: 60px;
  margin: $default-margin;
}

div.picture_thumbnail.medium .image_spinner {
  height: 120px;
  margin: $default-margin;
}

div.picture_thumbnail.large .image_spinner {
  height: 180px;
}

div.image_spinner img {
  position: absolute;
  z-index: 0;
  top: 32px;
  left: 40px;
}

#assign_image_list div.assign_image_list_image img {
  border-style: none;
}

#assign_image_list div.assign_image_list_image span {

}

.selected_item_tools {
  height: 3em;
}

.picture_tool {
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: white;
  top: 3px;
  padding: 1px;
  z-index: 1;
  display: none;

  &.visible {
    display: block;
  }

  &.hidden {
    display: none;
  }

  &.select {
    left: 4px;
  }

  &.delete {
    right: 4px;

    a {
      background: image-url('alchemy/icons.png') no-repeat -63px -72px;
    }
  }

  a {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
