.attachment-select--attachment {
  display: flex;
  align-items: center;
  height: 21px;

  .icon {
    margin: 0 $default-margin 0 0;

    .select2-highlighted & {
      fill: $white;
    }
  }
}

.attachment-select--attachment-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
