html {
  height: 100%;
}

noscript {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  line-height: 1em;
  border-bottom: 1px solid #c4c19c;
  color: #726d23;
  background-color: #f3f0c1;

  h1, p {
    margin: 16px 0;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font: $default-font-style;
  background-color: $light-gray;
  height: 100%;
  cursor: default;

  // Fix for strange element window offset
  &.pages.edit { overflow: hidden }
}

h1 {
  margin: 8px;
  padding: 0;
  font-weight: bold;
  font-size: $default-font-size;
}

h2 {
  margin: $default-margin 0;
  padding-bottom: 5px;
  clear: both;
  font-weight: bold;
  font-size: $default-font-size;
}

h3 {
  margin: $default-margin 0;
  padding-bottom: 5px;
  font-size: $default-font-size;
  font-weight: bold;
}

p {
  margin: 0 0 2*$default-margin 0;
  white-space: normal;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @extend %white-focus-style;
    color: black;
  }

  img {
    border: none;
  }
}

form {
  margin-bottom: 0;
}

ul {
  padding-left: 16px;
  margin-top: 1em;
  margin-bottom: 1em;

  li {
    margin-bottom: 0.5em;
  }
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.center { text-align: center }

span.updated_at {
  float: right;
}

a.drop_down_select img {
  float: left;
  position: relative;
  top: 2px;
  margin-right: 4px;
}

#language_select {
  margin-bottom: 4px;
}

div.source_editor textarea {
  width: 100%;
  height: 358px;
}

div.edit_source_buttons {
  height: 18px;
  margin-top: 8px;
  float: right;
  clear: both;
}

div#page {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  position: relative;
/* needed for footer positioning*/
}

#archive_all .edit_images_bottom span {
  width: 19px;
  height: 19px;
  float: left;
  margin-right: 4px;
}

#archive_all .edit_images_bottom span a {
  display: block;
  height: 19px;
  width: 19px;
  background-repeat: no-repeat;
  text-decoration: none;
  background-position: left;
}

#archive_all .edit_images_bottom span a:hover {
  background-position: right;
}

#back_to_site {
  float: right;
  margin-right: 8px;
}

#page_names textarea {
  height: 67px;
}

div#new_page_from_clipboard {
  display: none;
}

div#new_page_from_clipboard input.button {
  float: right;
}

div#new_page_from_clipboard span {
  float: left;
  line-height: 25px;
}

#page_editing_head .site_status {
  margin: 0 4px 0 0;
  float: left;
}

div#page_status_options {
  float: left;
}

div#page_editing_menu {
  overflow: auto;
  padding-left: 1px;
  padding-right: 1px;
}

div#userinfo {
  text-align: right;
  float: right;
  margin-right: 8px;
}

#userinfo img {
  position: relative;
  top: 1px;
}

div#user_list_legend {
  overflow: auto;
  padding: 1px 1px 4px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  width: 370px;
}

#page_sorting_panel p {
  margin-top: 1em;
}

div.table_right span.tools a.icon_button img {
  left: -1px;
}

#user_edit form {
  margin: 0;
  padding: 2*$default-padding;
}

li.even {
  background-color: #fff;
}

li.odd {
  background-color: #eaf3f9;
}

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul#layoutpages.list {
  margin-top: 16px;
}

ul#layoutpages.list li {
  margin-left: 8px;
}

ul#sitemap.list {
  padding: 0 0 104px 0;
}

ul.list li {
  list-style-type: none;
  border-width: 0;
  border-style: none;
  display: block;
}

ul.list li.legend {
  background-color: transparent;
  font-weight: bold;
}

#layoutpages li img.site_status {
  float: left;
}

ul.list span.right {
  float: right;
}

.handle {
  cursor: move;
}

#userinfo p {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.headline_text_editor {
  overflow: auto;
  width: 374px;
}

.short_content_text {
  width: 374px;
  background-color: white;
  margin-bottom: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 2px;
  float: none;
}

.short_content_text a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.short_content_text a:hover {
  color: #000000;
  text-decoration: underline;
}

.picture_tool_assign_box {
  float: right;
  width: 105px;
  overflow: auto;
  padding: 1px;
}

/* @end */

.short_picture {
  float: left
}

.short_element {
  margin-left: 20px;
  float: left;
}

.short_element input {
  width: 190px;
  float: left;
  font: 11px $default-font-face;
}

.dashed_border {
  border: 1px dashed;
}

ul#all_files {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

img.image_in_text {
  position: relative;
  top: 3px;
}

div.right_checkbox {
  float: left;
}

div.all_rights {
  float: left;
  clear: both;
  margin-top: 10px;
}

.date_select_without_time #date_date_4i {
  display: none;
}

.date_select_without_time #date_date_5i {
  display: none;
}

.with_padding {
  padding: 2*$default-padding;
}

.with_margin {
  margin: 2*$default-padding;
}

div.element_head span.ajax_folder span.error_icon {
  float: left;
  width: 14px;
  height: 15px;
  text-align: center;
  background-color: white;
  border: 1px solid #935b5b;
  color: #935b5b;
}

div#images {
  margin-top: 16px;
  margin-bottom: 8px;
  overflow: visible;
}

p.foot_note {
  font-size: 10px;
  line-height: 1.5em;
  padding: $default-padding;
  background-color: $light_yellow;
  border: 1px solid $medium-gray;
  @extend .rounded-border;
}

#all_files td.name a {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: -o-zoom-in;
  cursor: zoom-in;
}

#sitemap .placeholder {
  background-color: $medium-gray;
  margin-bottom: 0px;
  margin-left: 22px;
}

#alchemy .ui-dialog div#jscropper {
  padding: 2 * $default-padding;

  .thumbnail_background {
    @extend %thumbnail-background;
    width: 800px;
    height: 600px;
    position: relative;
  }

  .jcrop-holder { @include inline-block }

  img {
    width: auto;
    max-height: 600px;
  }

  form {
    padding: 0;
    text-align: right;
    position: absolute;
    width: 800px;
    bottom: 2 * $default-padding;
    left: 2 * $default-padding;

    .button.with_icon { float: left }
  }
}

textarea#essence_picture_caption {
  width: 233px;
  height: 61px;
}

#alchemy .ui-dialog-content form.with_padding table td {
  vertical-align: top;
}

#page_selector_scroll_container {
  position: relative;
  width: 100%;
}

#page_selector_container {
  height: 230px;
  background-color: $light-gray;
  margin-bottom: 4px;
  border: 1px inset #e8e8e8;
  overflow: auto;
  padding: 4px 0 0 4px;
  @extend .rounded-border;
}

#alchemyConfirmation .alchemy_window_buttons {
  display: block;
  text-align: right;
  margin-top: 8px;
  padding-right: 8px;
}

#alchemyConfirmation_content div.alchemy_window_message {
  padding: 2*$default-padding;
}

input.with_border {
  margin: 0;
  padding: 1px;
  font-size: 12px;
  border: 1px solid silver;
}

input#user_admin {
  margin: 0 0 0 1px;
  padding: 0;
  border-width: 0;
  border-style: none;
}

#image_edit div {
  height: 25px;
}

#image_edit div span {
  float: left;
  padding: 0;
  margin-right: 6px;
  height: 17px;
  line-height: 19px;
}

#alchemy div#overlay_toolbar div#image_assign_filter_and_image_sizing form {
  float: right;
  width: 310px;
  height: 25px;
  margin-top: 2px;
  padding: 0 !important;
  margin-right: 0;

  .button {
    margin: 0;
  }
}

div#image_assign_filter_and_image_sizing form input.button {
  float: right;
}

li.assign_file_file {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 4px;
}

#assign_file_list li.assign_file_file a {
  overflow: hidden;
  display: block;
  padding-right: 4px;
  text-align: left;
  line-height: 25px;
}

div.assign_file_file_icon {
  float: left;
  margin: $default-margin;
  line-height: normal;
}

#alchemy .ui-dialog-content a img {
  border-style: none;
}

#sitemap_external_links form {
  margin-left: 5px;
  margin-bottom: 4px;
}

input#link_to_text {
  border-width: 1px;
  font-size: 11px;
  line-height: 11px;
  width: 229px;
}

.link_window_tab_body {
  background-color: $light-gray;
  padding: 2*$default-padding;
  margin: 0;
}

#alchemy .ui-dialog-content ul#sitemap {
  margin: 0;
  padding: 0 8px 8px 0;
}

#alchemy .ui-dialog-content ul#sitemap li {
  margin-left: 0;
  padding-left: 0;
}

#alchemy .ui-dialog-content ul#sitemap li li {
  padding-left: 22px;
}

#alchemy .ui-dialog-content ul#sitemap ul li span.sitemap_sitename {
  background-color: #f9f9f9;
  width: 311px;
  margin: 6px 0 0;
  padding: 0 0 4px 4px;
  height: 14px;
  float: left;
  line-height: 18px;
}

#alchemy .ui-dialog-content ul#sitemap ul li ul li span.sitemap_sitename {
  float: left;
  background-color: #f9f9f9;
  width: 290px;
  margin: 6px 0 0;
  padding: 0 0 4px 4px;
  height: 14px;
}

#alchemy .ui-dialog-content ul#sitemap ul li ul li ul li span.sitemap_sitename {
  float: left;
  background-color: #f9f9f9;
  width: 269px;
  margin: 6px 0 0;
  padding: 0 0 4px 4px;
  height: 14px;
}

#alchemy .ui-dialog-content ul#sitemap ul li ul li ul li ul li span.sitemap_sitename {
  float: left;
  background-color: #f9f9f9;
  width: 248px;
  margin: 6px 0 0;
  padding: 0 0 4px 4px;
  height: 14px;
}

#alchemy .ui-dialog-content ul#sitemap img.site_status {
  float: left;
  border-style: none;
  margin-bottom: 0px;
  border-width: 0;
  padding: 0;
  padding-top: 6px;
  margin-right: 4px;
}

#alchemy .ui-dialog-content ul#sitemap ul li img {
  border-width: 0;
  border-style: none;
  float: left;
}

#alchemy .ui-dialog-content ul#sitemap .sitemap_row {
  padding: 0;
  margin: 0px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  height: 28px;
}

div.elements_from_page_selector {
  width: 154px;
}

div.elements_for_page {
  position: absolute;
  right: 32px;
  top: -7px;
  z-index: 15;
  background-color: white;
  width: 240px;
  height: 33px;
  padding: $default-padding;
  border: $default-border;
  @include box-shadow(#9ea09f 0px 0px 4px);
  @extend .rounded-border;

  .spinner {
    top: 17px !important;
    left: 50% !important;
    margin-left: 4px;
  }

  .alchemy_selectbox {
    float: left;
    width: 212px;
  }
}

a.close_elements_from_page_selector {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 0;
  width: 8px;
  height: 8px;
  background: url('icons.png') no-repeat 0 -72px;
  cursor: pointer;
}

#alchemy .ui-dialog-content ul#sitemap ul .sitemap_row a {
  color: black;
  text-decoration: none;
  display: block;
  outline: none;
}

#sitemap a.show_elements_to_link {
  float: left;
  width: 16px;
  height: 16px;
  position: relative;
  background: url('icons.png') no-repeat -512px -72px;
  margin: 2px;
  font-size: 0;
  text-decoration: none;
}

.bordertop_white {
  border-top: 4px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: auto;
  float: none;
}

ul#assign_file_list {
  margin-bottom: 8px;
  margin-top: 8px;
  clear: both;
  height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}

ul#sitemap li .sitemap_sitename.selected_page a {
  background-color: $linked-color;
  color: $dark-gray;
}

#alchemy .ui-dialog-content ul#sitemap ul li span.sitemap_sitename.selected_page a {
  font-weight: bold;
  padding-left: 4px;
}

#alchemy .ui-dialog-content ul#sitemap ul li span.sitemap_sitename a:hover {
  font-weight: bold;
}

div.assign_file_file_name {
  float: left;
}

.selected_file a {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

div.assign_file_file_icon img {
  margin-top: 2px;
}

#external_link_table .padding_right {
  padding-right: 8px;
}

#external_link_table .external_address_input {
  width: 195px;
}

table.window_form td.checkbox {
  text-align: left;
}

select#url_protocol.medium {
  margin: 0;
}

#alchemy .ui-dialog-content td.medium {
  width: 76px;
}

#alchemy .ui-dialog .ui-dialog-content .buttons {
  text-align: right;
  margin: 0;
  padding: 0;

  label {
    float: left;
    line-height: 36px;
  }
}

#alchemy .ui-dialog-content p a.button.small {
  float: none;
  @include inline-block;
  vertical-align: inherit;
}

.assign_file_file.selected_file {
  background-color: #d1d1d1;
}

div#overlay_toolbar {
  @extend %gradiated-toolbar;
  border: $default-border;
  height: 44px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  padding: $default-padding;
}

div#overlay_toolbar div.toolbar_spacer {
  float: left;
  width: 1px;
  height: 37px;
  border-right-style: dotted;
  border-right-width: 1px;
  margin-right: 8px;
  margin-left: 4px;
}

div#overlay_toolbar a.button {
  width: 25px;
  height: 21px;
  text-decoration: none;
  float: right;
  border-width: 0;
  border-style: none;
  font-size: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
}

div#overlay_toolbar a.button:active {
  text-decoration: none;
  background-position: 0 -21px;
}

#alchemy div#overlay_toolbar form {
  float: left;
  padding: 0;
  margin-right: 8px;
}

#alchemy .ui-dialog #alchemyConfirmation.ui-dialog-content {
  padding: 2*$default-padding;
}

.ui-dialog-titlebar .preview-refresh-spinner {
  float: left;
  margin-top: 8px;
}

#clipboard_items {

  ul {
    list-style-type: none;
    margin: 0 0 8px;
    padding: 0;
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;

    li {
      padding: 2*$default-padding;
      border: $default-border;
      background-color: white;
      @extend .rounded-border;
      &.elements {
        background-color: #E5DCCA;
        border: 1px solid #BBA589;
      }
    }
  }
}

#trash_items {
  height: 310px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 1em;
}

.mceEditor table {
  border-spacing: 0 !important;
}

#dropbox {
  background: $medium-gray;
  border: $default-border;
  @extend .rounded-border;
  padding: $default-padding;
  margin-bottom: 2*$default-padding;
  text-align: center;
  line-height: 6em;
  &.dragover {
    background: $dark-gray;
    color: $light-gray;
    border-color: $light-gray;
  }
}

div.browse {
  margin-bottom: 1em;
}

#alchemyPreviewWindow {
  width: 100% !important;
}
