html {
  box-sizing: border-box;
  height: 100%;
  font-size: $base-font-size;

  &.turbolinks-progress-bar::before,
  .turbolinks-progress-bar {
    background-color: $blue !important;
    z-index: 400001;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

noscript {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  line-height: 1em;
  border-bottom: 1px solid $warning_border_color;
  color: $warning_text_color;
  background-color: $warning_background_color;

  h1, p {
    margin: 16px 0;
  }
}

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font: $default-font-style;
  background-color: $body-background-color;
  height: 100%;
  cursor: default;

  // Fix for strange element window offset
  &.pages.edit { overflow: hidden }

  &.prevent-scrolling {
    overflow: hidden;
  }
}

h1 {
  padding: 0;
  margin: 2*$default-margin;
  font-weight: bold;
  font-size: $default-font-size;

  &.resources-header {
    position: fixed;
    width: 100%;
    top: 75px;
    left: $main-menu-width + 9px;
    z-index: 2;
    margin: 0 -8px;
    padding: 16px;
    background-color: $light-gray;
  }
}

h2 {
  margin: $default-margin 0;
  padding-bottom: $default-padding;
  clear: both;
  font-weight: bold;
  font-size: $default-font-size;
}

h3 {
  margin: $default-margin 0;
  padding-bottom: $default-padding;
  font-size: $default-font-size;
  font-weight: bold;
}

p {
  margin: 0 0 2*$default-margin 0;
  white-space: normal;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @extend %blue-focus-style;
  }

  img {
    border: none;
  }
}

form {
  margin-bottom: 0;
}

ul {
  padding-left: 16px;
  margin-top: 1em;
  margin-bottom: 1em;

  li {
    margin-bottom: 0.5em;
  }
}

hr {
  border: 0 none;
  border-bottom: 1px solid;
  opacity: 0.5;
}

.float_right { float: right }

.float_left { float: left }

.center {
  text-align: center;
}

kbd {
  font-family: Courier, monospaced;
  background: $medium-gray;
  border: $default-border;
  padding: 0.25em 0.5em;
  vertical-align: top;
  margin-right: 1ex;
  border-radius: $default-border-radius;
}

.top-rounded-border {
  @include border-top-radius($default-border-radius);
}

.left-rounded-border {
  @include border-left-radius($default-border-radius);
}

.right-rounded-border {
  @include border-right-radius($default-border-radius);
}

.bottom-rounded-border {
  @include border-bottom-radius($default-border-radius);
}

.bottom-left-rounded-border {
  border-bottom-left-radius: $default-border-radius;
}

.disable-user-select {
  user-select: none;
}

.handle {
  cursor: move;
}

.with_padding {
  padding: 2*$default-padding;
}

.with_margin {
  margin: 2*$default-margin;
}

a img {
  border-style: none;
}

.full_width {
  width: 100%;
}

.hidden {
  display: none;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to   { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to   {transform:rotate(360deg);}
}
