button, input[type="submit"], a.button, input.button {
  @extend %button-defaults;

  &.small {
    padding: 2px 2*$default-padding;
    @include border-radius(10px);
    vertical-align: inherit;
    line-height: 4*$default-padding;
    font-size: inherit;

    &.with_icon {
      padding: 2px 2*$default-padding 2px $default-padding;
    }
  }

  &.with_icon {
    padding: 6px 18px 6px 6px;

    span.icon {
      margin-top: -5px;
      padding-right: 0.25em;
      height: 15px;
    }
  }

  &.icon_only {
    margin: 0;
    padding: 0;
    border: 0 none;
    @include box-shadow(none);
    @include background(none);
    @include border-radius(0);

    .icon {
      margin: 0;
    }
  }

  &:focus {
    @extend %blue-focus-style;
  }

  &.disabled {
    line-height: 13px;
    height: 29px;
    padding-top: 5px;
    padding-bottom: 4px;
  }
}

.icon_button {
  width: 21px;
  height: 21px;
  line-height: 21px;
  margin: 0;
  padding: 3px;
  overflow: hidden;
  text-align: center;

  .spinner {
    left: 50%;
    top: 50%;
  }

  .icon {
    @include inline-block;
    margin-top: -2px;
  }

  .old_icon {
    position: relative;
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    @include inline-block;
    top: -1px;
    left: -1px;
  }

  img {
    position: absolute;
    top: 2px;
    left: 3px;
  }

  &.small {
    width: 15px;
    height: 15px;
    padding: 0;
    float: none;
    @include inline-block;
    position: relative;
    top: 0px;
    background: none;
    border: none;
    @include box-shadow(none);

    .icon {
      left: auto;
      position: absolute;
      left: 1px;
      top: 3px;
      width: 8px;
      height: 8px;
      margin-top: 0;

      &:before {
        line-height: 10px;
      }

      &.delete-small {
        background-position: -4px -76px;
      }
    }

    &:hover {
      border: $default-border-width $default-border-style $button-hover-border-color;
      @include border-radius($default-border-radius);
      background: $button-hover-bg-color;
      top: -1px;
      right: -1px;

      .icon {
        left: 1px;
        top: 3px;
      }
    }
  }

  &.old_icon {
    width: 20px;
    height: 19px;

    img {
      top: 0;
      left: 1px;
    }
  }

  &.disabled {

    span {
      position: relative;
      @include opacity(0.3);
      cursor: default;
    }

    &:hover {
      background-color: #d3d3d3;
      border: 1px solid $button-border-color;
      cursor: default;
    }
  }

  &.linked {
    @include sassy-button('matte', $sb-border-radius, $sb-font-size, #ffd77a, $sb-second-color, $sb-text-color, $sb-text-style, $sb-pseudo-states, $sb-ie-support);
    padding: 3px;
    border-color: $default-border-color;
  }

  &:focus {
    @extend %blue-focus-style;
  }
}

button.icon_button {
  background: transparent;
  border: 0 none;
  @include border-radius(0);
  @include box-shadow(none);
  @include box-sizing(content-box);
}

#new_element button.button {
  float: right;
}

.button_with_label {
  position: relative;
  @include inline-block(top);
  text-align: center;
  margin: 0 2*$default-margin;
  line-height: 0;

  &.active, &:active {

    .icon_button {
      background-color: darken($sb-base-color, 10%);
      border: $default-border;
      padding: 2px;
      @extend %rounded-border;
    }
  }

  &:hover .icon_button {
    border: $default-border;
    padding: 2px;
    @extend %rounded-border;
  }

  .select2-container {
    margin: 0;
    top: 0;
  }

  .icon_button {
    float: none;
    margin-right: auto;
    margin-left: auto;
    @include inline-block;
    position: relative;
  }

  &.disabled {
    @include opacity(0.5);
    cursor: default;
  }
}

.button_with_label, .button_group {

  .icon_button {
    width: 23px;
    height: 23px;
    line-height: 23px;
  }

  label {
    display: none;
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -13px;
    z-index: 30;
    background: $dark-gray;
    color: #fff;
    padding: $default-padding 2*$default-padding;
    @extend %rounded-border;
    line-height: 1;
    @include box-shadow(0 0 4px $default-border-color);
    white-space: nowrap;

    &:before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 8px;
      border: 5px transparent solid;
      border-top-color: $dark-gray;
    }
  }

  &:hover label { display: block }
}
