button, input[type="submit"], a.button, input.button {
  @extend %button-defaults;

  &.small {
    padding: 2px 2*$default-padding;
    @include border-radius(10px);
    vertical-align: inherit;
    line-height: 4*$default-padding;
    font-size: inherit;

    &.with_icon {
      padding: 2px 2*$default-padding 2px $default-padding;
    }
  }

  &.with_icon {
    padding: 6px 18px 6px 6px;

    span.icon {
      margin-top: -5px;
      padding-right: 0.25em;
      height: 15px;
    }
  }

  &.icon_only {
    margin: 0;
    padding: 0;
    border: 0 none;
    @include box-shadow(none);
    @include background(none);
    @include border-radius(0);

    .icon {
      margin: 0;
    }
  }

  &:focus {
    @extend %blue-focus-style;
  }

  &.disabled {
    line-height: 13px;
    height: 29px;
    padding-top: 5px;
    padding-bottom: 4px;
  }
}

.icon_button {
  @extend %button-defaults;
  width: 21px;
  height: 21px;
  line-height: 19px;
  margin: 0;
  padding: 3px;
  overflow: hidden;
  text-align: center;

  .spinner {
    left: 50%;
    top: 50%;
  }

  .icon {
    @include inline-block;
    vertical-align: middle;
  }

  .old_icon {
    position: relative;
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    @include inline-block;
    top: -1px;
    left: -1px;
  }

  img {
    position: absolute;
    top: 2px;
    left: 3px;
  }

  &.small {
    width: 15px;
    height: 15px;
    padding: 0;
    float: none;
    @include inline-block;
    position: relative;
    top: 0px;
    background: none;
    border: none;
    @include box-shadow(none);

    .icon {
      left: auto;
      position: absolute;
      left: 1px;
      top: 3px;
      width: 8px;
      height: 8px;

      &:before {
        line-height: 10px;
      }

      &.delete-small {
        background-position: -4px -76px;
      }
    }

    &:hover {
      border: $default-border-width $default-border-style $button-hover-border-color;
      @include border-radius($default-border-radius);
      background: $button-hover-bg-color;
      top: 0px;
      right: 0px;

      .icon {
        left: 0px;
        top: 2px;
      }
    }
  }

  &.old_icon {
    width: 20px;
    height: 19px;

    img {
      top: 0;
      left: 1px;
    }
  }

  &.disabled {

    span {
      position: relative;
      @include opacity(0.3);
      cursor: default;
    }

    &:hover {
      background-color: #d3d3d3;
      border: 1px solid $button-border-color;
      cursor: default;
    }
  }

  &.linked {
    @include sassy-button('matte', $sb-border-radius, $sb-font-size, #ffd77a, $sb-second-color, $sb-text-color, $sb-text-style, $sb-pseudo-states, $sb-ie-support);
    padding: 3px;
    border-color: $default-border-color;
  }

  &:focus {
    @extend %blue-focus-style;
  }
}

button.icon_button {
  width: 29px;
  height: 29px;
}

#new_element button.button {
  float: right;
}

div#toolbar label {
  @include default-label-style;
}

.button_with_label {
  @include inline-block(top);
  text-align: center;
  margin-right: 8px;
  margin-left: 8px;
  min-width: 70px;
  line-height: 0;

  label {
    @include default-label-style;
  }

  &.active {

    .icon_button {
      $second-color: darken($sb-base-color, 10%);
      @include sassy-button-active-shadow($second-color);
      background-color: $second-color;
      @include background(linear-gradient(color-stops(darken($sb-base-color, 2%), $second-color 50%, darken($second-color, 8%))))
    }

    label {
      color: black;
      text-shadow: white 0 0 2px;
    }
  }

  .select2-container {
    margin: 0;
    top: 0;
  }

  .icon_button {
    float: none;
    margin-right: auto;
    margin-left: auto;
    @include inline-block;
    position: relative;
  }

  &.disabled {
    @include opacity(0.5);
    cursor: default;
  }
}

div.sitemap_right_tools .sitemap_sitetools a.icon_button {
  margin-right: 4px;
}
