#dashboard {
  overflow: auto;
  padding: 4 * $default-padding;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  * { box-sizing: border-box }

  h1 {
    font-size: 2em;
    margin: 0 0 8px 0;
  }

  h2 {
    padding: 0;
    margin-bottom: 16px;
  }

  div.column {
    width: 50%;
    float: left;
    padding-right: 16px;
  }

  div.widget {
    width: 100%;
    margin-bottom: 16px;
    background-color: $medium-gray;
    border: $default-border;
    @extend .top-rounded-border;
    float: left;

    h2 {
      padding: 2 * $default-padding;
      margin-bottom: 0;
    }

    p {
      margin: 4px 0;
    }

    table {
      width: 100%;
      padding: 0;
      border-spacing: 0;

      td {
        padding: 2 * $default-padding;
        margin-bottom: 0;
        position: relative;
        color: #aaa;

        &:first-child { width: 40% }
        form { float: right }
        span { color: #333 }
      }
    }
  }
}

div#sideboard {
  right: 16px;
  top: 82px;
  position: absolute;
  width: 240px;
  padding: 16px;

  div.sideboard_widget img {
    margin-bottom: 16px;
    float: none;
  }
}

div#license {
  overflow: auto;
  height: 24em;
  background-color: white;
}

#update_check {
  height: 16px;

  img#load_info {
    width: 16px;
    height: 16px;
    display: none;
  }

  & > span { display: none }

  span.icon {
    vertical-align: top;
  }
}

ul.shortcuts {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;

  li {
    margin: 1em 0;
  }
}
