#dashboard {
  overflow: auto;
  padding: 4*$default-padding 0;
  width: 100%;
  position: relative;

  h1 {
    font-size: 1.5em;
    margin: 0 0 8px 8px;
  }

  p {
    margin: 0 0 16px 8px;
  }

  .column {
    width: 50%;
    float: left;
    padding-right: 16px;
  }

  .widget {
    margin-bottom: 16px;

    h2 {
      padding: 2 * $default-padding;
      margin-bottom: 0;
    }

    p {
      margin: 4px 0;
    }

    table {
      td {
        position: relative;

        &:first-child { width: 40% }
        form { float: right }
      }
    }
  }
}

#update_check {
  height: 16px;

  img#load_info {
    width: 16px;
    height: 16px;
    display: none;
  }

  & > span { display: none }

  span.icon {
    vertical-align: top;
  }
}

ul.shortcuts {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;

  li {
    margin: 1em 0;
  }
}
