#alchemy_elements_window {
  position: absolute;
  right: 0;
  top: $top-menu-height;
  z-index: 20;
  width: calc(100vw - #{$collapsed-main-menu-width});
  height: calc(100vh - #{$top-menu-height});
  border-left: $default-border;
  background-color: $light-gray;
  transition: $transition-duration ease-in-out;
  transform: translate3d(100%, 0, 0);

  .elements-window-visible & {
    transform: translate3d(0, 0, 0);
  }

  // Fix for Tinymce fullscreen window positioning issues (GH#1511)
  .mce-fullscreen & {
    width: calc(100vw - #{$collapsed-main-menu-width - $default-border-width});
  }

  @media screen and (min-width: $large-screen-break-point) {
    width: $elements-window-width;
    min-width: $elements-window-min-width;
  }
}

#element_area {
  height: calc(100vh - #{$top-menu-height + $toolbar-height});
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .sortable-elements {
    min-height: 100px;
  }

  textarea {
    width: 100%;

    &.has_tinymce {
      // We need to do this, because globally all texareas have height: auto !important
      height: 140px !important;
    }
  }

  > .message {
    margin: 2*$default-margin
  }
}

#main-content-elements,
.element-editor.is-fixed .nestable-elements {
  padding: 2*$default-padding $default-padding 2px;
}

.element-title {
  overflow: hidden;
  white-space: nowrap;
  max-width: 85%;
  margin-left: $default-margin;
  text-overflow: ellipsis;
  transition: color $transition-duration;

  .has-hint & {
    max-width: 80%;
  }

  .preview_text_quote {
    font-size: $small-font-size;
    line-height: 15px;
  }
}

.preview_text_element_name {
  font-size: $small-font-size;
  font-weight: bold;
  line-height: 15px;
}

.element-handle,
.element-title {
  display: inline-block;
  vertical-align: middle;
}

.element-handle {
  position: relative;
  width: 18px;
  height: 18px;

  .element.icon {
    position: absolute;
    top: 3px;
    left: 1px;
  }
}

.draggable .element-handle {
  cursor: move;
}

.ajax-folder {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 8px;
  top: 10px;
  transition: none;

  .error_icon {
    float: left;
    width: 14px;
    height: 15px;
    text-align: center;
    background-color: white;
    border: 1px solid #935b5b;
    color: #935b5b;
  }
}

.element-editor {
  position: relative;
  border: 1px solid $default-border-color;
  border-radius: $default-border-radius;
  background-color: $light-gray;
  margin-bottom: 2*$default-margin;
  transition: box-shadow $transition-duration;

  &.hidden {
    display: block;
    border-style: dashed;
    opacity: 0.5;
    transition: opacity $transition-duration;

    > .element-header {
      background-color: transparent;
      background-image: linear-gradient(
        45deg,
        $light-gray 25%,
        $medium-gray 25%,
        $medium-gray 50%,
        $light-gray 50%,
        $light-gray 75%,
        $medium-gray 75%,
        $medium-gray 100%
      );
      background-size: 28.28px 28.28px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.is-fixed {
    border-width: 0;
    border-radius: 0;
  }

  &.not-draggable {
    opacity: 0.5;
  }

  &.dirty {
    border-color: #d0c83d;

    >.element-header {
      background-color: #fff8df;
    }
  }

  &.deprecated {
    border-color: $element-deprecated-border-color;

    > .element-header {
      background-color: $element-header-deprecated-bg-color;
      background-image: linear-gradient(
        45deg,
        $element-header-deprecated-bg-color 25%,
        $element-header-bg-color 25%,
        $element-header-bg-color 50%,
        $element-header-deprecated-bg-color 50%,
        $element-header-deprecated-bg-color 75%,
        $element-header-bg-color 75%,
        $element-header-bg-color 100%
      );
      background-size: 28.28px 28.28px;
    }
  }

  &.selected:not(.is-fixed), &:hover {
    &:not(.hidden) {
      box-shadow: 0 2px 8px rgba(#9b9b9b, 0.75);
    }
  }

  &.selected:not(.is-fixed):not(.folded):not(.dirty):not(.hidden):not(.deprecated) {
    > .element-header {
      background-color: $element-header-active-bg-color;
      color: $element-header-active-color;
    }
  }

  &.folded {

    .nested-elements {
      display: none;
    }
  }

  &.expanded {
    &.not-fixed {
      .nestable-elements {
        box-shadow: inset 0 4px 8px -2px darken($medium-gray, 15%);
        background-color: $medium-gray;
        padding: 8px 4px 4px;

        .add-nestable-element-button {
          width: calc(50% - 8px);
          margin: 4px;
          text-align: center;
        }
      }
    }
  }

  &.dragged {
    border-style: dotted;
    overflow: hidden;

    &:not(.compact) {
      height: 36px !important;
      transition: height 0.2s;
    }
  }

  &.compact {
    .element-toolbar {
      visibility: hidden;
      position: absolute;
      height: 35px;
      padding: 2px 0;
      opacity: 0;
      z-index: 1;
      border-bottom: $default-border;
      background-color: $light-gray;
      transition: all $transition-duration;
    }

    .element-header:hover+.element-toolbar,
    .element-toolbar:hover {
      visibility: visible;
      opacity: 1;
    }

    .element-footer {
      padding-top: 0;
      border-top: 0;

      .button {
        padding: $small-button-padding;
      }
    }

    .element-title {
      max-width: 75%;
    }

    &:not(.folded) .ajax-folder {
      pointer-events: none;

      i:before {
        content: fa-content($fa-var-ellipsis-v);
      }
    }

    .element-content {
      margin: 4px 8px;
    }

    .content_editor,
    .picture_thumbnail {
      width: 100%;
    }

    .picture_thumbnail {
      margin: 0;
    }

    .thumbnail_background {
      height: 115px;
    }

    textarea,
    input[type="url"],
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 0.5em;
      height: auto;
    }
  }

  .element-content {
    margin: 2*$default-padding;
  }

  .validation_notice {
    float: left;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: $small-font-size;
    text-align: left;
  }

  .message {
    margin: 2*$default-margin;
  }

  .foot_note {
    margin-bottom: 1em;
  }

  .autocomplete_tag_list {
    padding: $default-padding 0;

    label {
      font-size: $small-font-size;
    }

    .select2-container {
      width: 100%;

      .select2-choices {
        width: 100%;
        margin-bottom: 0;
        margin-top: 8px;
      }
    }
  }

  hr {
    height: 0;
    width: 100%;
    margin: 0 0 4*$default-margin 0;
    border: 0 none;
    border-top: 1px solid $medium-gray;
    opacity: 1;
  }
}

.element-header {
  position: relative;
  padding: 2*$default-padding;
  background-color: $element-header-bg-color;
  @extend .disable-user-select;
  cursor: pointer;
  border-radius: $default-border-radius;
  transition: background-color $transition-duration;

  .expanded & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .icon {
    color: inherit;
    transition: color $transition-duration;
  }

  >.hint-with-icon {
    position: absolute;
    right: 32px;
    top: 10px;

    .hint-bubble {
      left: auto;
      right: -24px;
      transform: none;

      &:before {
        left: auto;
        right: 24px;
        transform: none;
      }
    }
  }
}

.element-toolbar {
  padding: $default-padding 0;
  height: $element-toolbar-height;
  border-bottom: 1px solid $medium-gray;
}

.element_tools {
  display: flex;
  width: 100%;

  .button_with_label {
    margin: 0 2px;
  }
}

.element-footer {
  border-top: 1px solid $medium-gray;
  padding: 2*$default-padding;
  text-align: right;

  .button {
    margin: 0;
  }
}

.element-content-editors {
  display: flex;
  flex-wrap: wrap;
}

.picture_thumbnail .picture_image {
  overflow: hidden;

  img.img_paddingtop {
    @extend .disable-user-select;
  }
}

#fixed-elements {
  min-height: 100px;
}

.linkable_essence_tools {
  display: flex;
  position: absolute;
  bottom: 2 * $default-margin;
  right: 0;

  .icon_button {
    @include button-defaults($background-color: $medium-gray,
      $hover-color: darken($medium-gray, 5%),
      $border: 1px solid #c0c0c0,
      $box-shadow: none,
      $hover-border-color: #c0c0c0,
      $line-height: 30px,
      $padding: 0,
      $margin: 0,
      $border-radius: 0,
      $focus-border-color: $focus-color,
      $focus-box-shadow: 0 0 0 2px $focus-color);
    width: 29px;
    height: $form-field-height;

    &.disabled,
    &.disabled:hover {
      background-color: $form-field-disabled-bg-color;
    }

    &.linked.link-essence {
      @include linked-button($border-radius: 0,
        $line-height: 30px,
        $padding: 0);

      &:focus {
        border-radius: 0;
      }
    }

    &.linked.unlink-essence {
      @include linked-button($border-radius: 0 $default-border-radius $default-border-radius 0,
        $line-height: 30px,
        $padding: 0);

      &:focus {
        border-radius: 0 $default-border-radius $default-border-radius 0;
      }
    }

    &.unlink-essence {
      border-left-width: 0;
      @extend .right-rounded-border;
    }
  }
}

.droppable_element_placeholder {
  height: 36px;
  border: 1px dotted $button-border-color;
  background-color: $medium-gray;
  margin-bottom: 2*$default-margin;
  border-radius: $default-border-radius;
}

.edit_images_bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  padding: $default-padding $default-padding/2;

  a {
    margin: 0 $default-padding/2;
    padding: $default-padding/2;
    cursor: pointer;

    &.linked {
      border-radius: $default-border-radius;
      background-color: $linked-color;
    }

    &.disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.essence_picture {
  position: relative;

  .picture_tool_delete {
    position: absolute;
    right: $default-margin;
    top: $default-margin;
    padding: 2px 2px 0;
    z-index: 2;
  }

  .picture_thumbnail:hover .picture_tool_delete {
    display: block;
  }

  .picture_thumbnail {
    display: inline-block;
    width: 160px;
    margin: $default-margin 0;
    padding-bottom: 28px;
  }

  &.validation_failed .picture_thumbnail {
    border-color: $error_border_color
  }

  .thumbnail_background .icon {
    font-size: 4em;
    color: $medium-gray;
    vertical-align: top;
  }

  .essence_picture_css_class {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    width: 99px;
    background-color: white;
    background-color: rgba(255, 254, 255, 0.7);
    padding: 4px 8px;
    font-size: $small-font-size;
    text-align: right;
    height: 12px;
    overflow: hidden;
  }
}

.content_editor.essence_file {

  .file {
    margin: 6px 0 $default-margin;
    border: $default-border;
    background-color: $white;
    border-radius: $default-border-radius;
    height: $form-field-height;

    .validation_failed & {
      color: $error_text_color;
      border-color: $error_border_color;
    }
  }

  .file_icon {
    display: inline-block;
    text-align: center;
    float: left;
    width: 24px;
    padding: 6px 4px;
  }

  .file_name {
    white-space: nowrap;
    overflow: hidden;
    float: left;
    max-width: 80%;
    line-height: 28px;
    font-size: $small-font-size;
    text-overflow: ellipsis;
  }
}

.essence_file_tools {
  height: 27px;
  float: right;
  background-color: white;
  width: 48px;
  border-radius: 0 $default-border-radius $default-border-radius 0;

  a {
    text-decoration: none;
    padding: 6px $default-margin;
    float: left;
  }
}

div.tinymce_container {
  position: relative;
  margin: $default-margin 0;

  .spinner {
    top: 70px;
  }
}

input.long,
input.text_long {
  width: 363px;
}

select.long {
  width: 376px;
  margin: 0;
  padding: 0;
}

.content_editor {
  width: 100%;
  padding: $default-padding 0;
  position: relative;

  .thin_border,
  input[type="text"] {
    width: 100%;
  }

  &.missing {

    .message {
      margin: 0;
      @include clearfix;
    }

    p {
      float: left;
      width: 70%;
    }

    .button {
      float: right;
      margin: 0;
      text-decoration: none;
    }
  }

  &.display_inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    vertical-align: top;

    .thin_border,
    input[type="text"] {
      width: 170px;
    }
  }

  &.validation_failed {

    label {
      color: $error_text_color
    }

    input {
      @extend %field-with-error
    }

    .tinymce_container {
      outline: 1px solid $error_border_color;
    }
  }

  &.deprecated {
    border-radius: $default-border-radius;
    background-color: $element-header-deprecated-bg-color;
    background-image: linear-gradient(
      45deg,
      $element-header-deprecated-bg-color 25%,
      $element-header-bg-color 25%,
      $element-header-bg-color 50%,
      $element-header-deprecated-bg-color 50%,
      $element-header-deprecated-bg-color 75%,
      $element-header-bg-color 75%,
      $element-header-bg-color 100%
    );
    background-size: 28.28px 28.28px;
    padding-left: 2px;
    padding-right: 2px;
  }

  label {
    display: block;
    margin: $default-margin 0;
    font-size: $small-font-size;
    line-height: 15px;
    text-indent: 1px;

    span.warning.icon {
      position: relative;
      top: 2px;
    }

    &.inline {
      display: inline-block;
      vertical-align: middle;
      min-width: 90px;
      margin-right: 4px;
    }
  }

  &.essence_select {

    label {
      margin-bottom: 2*$default-margin
    }

    .select2-container {
      width: 100%;
    }

    &.display_inline .select2-container {
      width: 170px;
    }
  }

  select.essence_editor_select {
    border-radius: $default-border-radius;
    background: white;
    border: 1px solid $button-border-color;
    font-size: $default-font-size;
    height: 21px;
    line-height: 21px;
    padding: 2px;

    optgroup {
      color: gray;
      font-style: normal;
      font-weight: bold;
      text-indent: 8px;

      option {
        text-indent: 24px;
      }
    }

    option {
      padding-top: 2px;
      padding-bottom: 2px;
      color: black;
    }
  }

  &.essence_picture {
    width: 50%;
    padding-left: 1px; // Compensate the box shadow
    padding-right: $default-padding;

    +.essence_picture {
      padding-left: $default-padding;
      padding-right: 1px; // Compensate the box shadow
    }
  }
}

.content_rtf_text_area {
  display: none;
}

div.pictures_for_element {
  overflow: auto;
  margin-top: 4px;
}

textarea.has_tinymce {
  visibility: hidden;
}

.essence_html textarea {
  font-family: $mono-font-family;
  resize: vertical;
  font-size: $form-field-font-size;
}

.text_short_float_left {
  width: 170px;
  float: left;
  margin-right: 10px;
  border-width: 1px;
}

.element_errors {
  display: none;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: $error_background_color;
  padding: 2*$default-padding;
  list-style-type: none;
  border-radius: $default-border-radius;
  color: $error_text_color;
  border: 1px solid $error_border_color;

  p {
    margin: 0;
    line-height: 24px;
  }
}

.content_editor .hint-with-icon,
.content_editor .with-hint,
.element-handle .hint-with-icon {
  margin: 0;

  >.hint-bubble {
    left: -7px;
    transform: none;

    &:before {
      left: 16px;
    }
  }
}

.is-fixed {
  &.with-contents {
    >.element-footer {
      border-top: 0;
      border-bottom: 1px solid $medium-gray;
    }
  }

  >.nestable-elements .add-nestable-element-button {
    width: 100%;
    text-align: center;
  }
}

.element-editor,
.droppable_element_placeholder {
  width: 100%;

  .not-fixed & {
    width: calc(100% - 8px);
    margin: 4px;
  }

  &.compact {
    width: calc(50% - 8px);
  }
}

.nested-elements {
  display: flex;
  flex-wrap: wrap;

  .element-editor {
    position: relative;
  }

  .element-header {
    background-color: transparent;
  }

  .element-toolbar {
    width: 100%;
    border-top: 1px solid $medium-gray;
  }
}

.essence_date--label {
  position: absolute;
  right: 7px;
  top: 37px;
}
