.element_heading .preview_text_quote {
  font-size: 10px;
  font-style: italic;
  line-height: 15px;
}

span.preview_text_element_name {
  font-size: 10px;
  text-shadow: #efefef 1px 1px 1px;
  font-weight: bold;
  line-height: 15px;
}

img.add_element_spinner {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 5px;
  bottom: 6px;
}

div#element_area {
  padding: 0;
  margin: 0;
  min-height: 90%;

  .sortable_cell {
    min-height: 100px;
    padding: 8px 8px 2px;
  }

  textarea {
    width: 100%;
    height: 140px;
  }

  h2#no_elements_on_page_notice {
    padding: 2*$default-padding;
    text-align: center;
  }
}

.element_handle {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 9px;
}

.draggable .element_handle {
  cursor: move;
}

.element_handle .element_icon {
  z-index: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('icons.png') no-repeat -224px -72px;
}

.element_handle span.icon {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.element_handle span.icon.element_dirty {
  background-position: -160px -166px;
}

.element_head_all {
  overflow: auto;
  width: 374px;
}

.element_head_left {
  float: left;
  width: 230px;
  overflow: auto;
  padding-bottom: 10px;
}

.element_head_right {
  float: left;
  width: 144px;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.add_picture {
  float: left;
  margin: 1px;
  width: 111px;
  padding: 4px;
  background-color: #f0e8d7;
  border: 1px solid #c2baab;
  @include rounded-corner;
  height: 115px;

  a {
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    line-height: 104px;
    @include rounded-corner;
    font-size: 40px;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;

    .icon {
      position: absolute;
      top: 52px;
      left: 47px;
    }
  }
}

.element_foot {
  padding: 2 * $default-padding;
  border-top-style: none;
  position: relative;
  background-color: #e5dcca;
  width: 100%;
  height: 29px;
  margin-left: -8px;
  margin-right: -8px;

  .element_tools {
    float: left;
    margin-right: 8px;
    margin-top: 6px;
  }

  .element_public {
    float: left;
    margin-top: 6px;
  }

  .button {
    position: absolute;
    right: 8px;
    bottom: 4px;
  }
}

.ajax_folder {
  position: absolute;
  right: 8px;
  top: 8px;
}

.element_heading {
  padding: 0;
  z-index: 0;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: 35px;
  top: 11px;
  width: 322px;
}

div.element_editor {
  border: 1px solid #bba589;
  @include rounded-corner;
  background-color: #f0e8d7;
  margin-bottom: 8px;

  &.not-draggable {
    @include opacity(0.5);
  }

  &.dirty {
    border-color: #d0c83d;

    .element_head, .element_foot {
      background-color: #fff8df;
    }
  }

  &.selected {
    border-color: $blue;
    @include box-shadow(0 0 4px $blue);
  }

  .validation_notice {
    font-size: 10px;
    margin-top: 1em;
  }

  .foot_note {
    margin-bottom: 1em;
  }

  p.content_editor_error {
    border: 1px solid #f5b04e;
    padding: 4px 8px;
    line-height: 21px;
    background-color: #f5dea9;
    margin-top: 4px;
    @include rounded-corner;

    span.icon.warning {
      position: relative;
      top: 2px;
      margin-right: 8px;
    }
  }

  .autocomplete_tag_list {
    background-color: #e5dcca;
    margin: 0 -8px 1px -8px;
    padding: 2*$default-padding;

    label {
      top: 18px;
      left: 14px;
    }

    input[data-autocomplete] {
      padding-left: 25px;
      width: 100%;
      background-color: #F1EAD9;
    }
  }
}

#alchemy .ui-dialog div.element_editor form {
  margin: 0;
  padding: 8px 8px 0 8px;
}

div.element_tools {
  height: 20px;
}

span.element_tools_icons {
  float: left;
}

.element_tools a {
  width: 16px;
  height: 16px;
  float: left;
  margin: 1px 4px 1px 1px;
}

a.delete_element_button {
  background: url('icons.png') no-repeat -63px -72px;
}

a.element_copy_button {
  background: url('icons.png') no-repeat -128px -72px;
}

a.element_move_button {
  background: url('icons.png') no-repeat -97px -72px;
}

.element_head {
  padding: 8px 0 6px;
  position: relative;
  margin-bottom: 0;
  border-top-color: #e3e3e3;
  height: 20px;
  background-color: #e5dcca;
  @include disable-user-select;
}

form.add_gallery_to_index {
  overflow: auto;
}

div.picture_gallery_images {
  overflow: hidden;
  margin: $default-margin 0;
  border: 1px inset #cecece;
  @include rounded-corner;
  background-color: #e5dcca;
  padding: 1px;

  .essence_picture_editor {
    margin: 1px;
    float: left;
    height: 126px;

    .picture_thumbnail { margin: 0 }
  }
}

div.picture_thumbnail div.picture_image {
  height: 93px;
  overflow: hidden;

  img.img_paddingtop {
    @include disable-user-select;
  }
}

div#cells {
  min-height: 100px;
}

.place_element_spinner {
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 5px;
}

span.linkable_essence_tools {
  position: absolute;
  bottom: 0;
  right: 0;

  a.icon_button {
    margin: 0 0 0 4px;
    position: absolute;
    bottom: 4px;
    right: 28px;
    @include reset-border-radius;

    &.unlink {
      right: 0;
      @include right-rounded-border;
    }
  }
}

a.expand_element {
  background: url('icons.png') no-repeat -160px -72px;
  height: 16px;
  width: 16px;
  text-decoration: none;
  display: block;
  margin: 1px;
}

a.fold_element {
  background: url('icons.png') no-repeat -192px -72px;
  height: 16px;
  width: 16px;
  text-decoration: none;
  display: block;
  margin: 1px;
}

.droppable_element_placeholder {
  border: 1px dotted $button-border-color;
  background-color: $medium-gray;
  margin-bottom: 2*$default-margin;
}

.edit_images_bottom {
  height: 19px;
  position: absolute;
  z-index: 0;
  left: 5px;
  bottom: 2px;
  width: 111px;
}

.edit_images_bottom a {
  float: left;
  margin-left: 2px;
  margin-right: 2px;
  width: 18px;
  height: 18px;
}

.edit_images_bottom a.linked {
  position: relative;
  @include rounded-corner;
  background-image: url('shading.png');
  background-repeat: repeat-x;
  background-position: 0 -75px;
  background-color: #ffd77a;
  border: 1px solid #9a9a9a;
  bottom: 1px;
  margin-right: 2px;
  width: 17px;
  height: 17px;
  margin-left: 1px;
}

.edit_images_bottom a.disabled {
  @include opacity(0.3);
  cursor: default;
}

div.content_editor.essence_date {
  float: none;
  @include inline-block;
  vertical-align: top;

  input.date {
    width: 154px;
  }
}

div.essence_picture_editor {
  position: relative;

  .picture_tool_delete {
    position: absolute;
    right: $default-margin;
    top: $default-margin;
    padding: 2px 2px 0;
    z-index: 2;
  }

  .picture_thumbnail:hover .picture_tool_delete {
    display: block;
  }

  .picture_thumbnail {
    width: 111px;
    height: 115px;
    margin: $default-margin 0;

    .thumbnail_background {
      width: 111px;
      height: 93px;
    }
  }

  &.validation_failed .picture_thumbnail {
    border-color: $error_border_color
  }

  .thumbnail_background.missing {
    background-image: url('placeholder.png');
    background-repeat: no-repeat;
    background-position: center 12px;
  }
}

div.essence_picture_css_class {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  width: 99px;
  background-color: white;
  background-color: rgba(255, 254, 255, 0.7);
  padding: 4px 8px;
  font-size: 10px;
  text-align: right;
  height: 12px;
  overflow: hidden;
}

.dragable_picture {
  float: left;
}

.picture_thumbnail .picture_handle {
  position: absolute;
  z-index: 1;
  width: 110px;
  height: 93px;
  top: 4px;
  left: 4px;
  background-color: transparent;
  @include disable-user-select;
}

.dragable_picture .picture_handle {
  cursor: move;
}

.picture_content_spinner {
  background: #666666;
  height: 93px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: inherit;
  img {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -16px;
    margin-left: -16px;
  }
}

div.file {
  padding: 0;
  margin-top: 8px;
  margin-bottom: 4px;
  border: 1px solid #c0c0c0;
  background-color: #f3f3f3;
  @include rounded-corner;
  height: 24px;
}

div.file_icon {
  text-align: center;
  float: left;
  height: 24px;
  width: 24px;
}

div.file_icon span.icon {
  margin: $default-margin;
}

div.file_icon a.assign_file {
  display: block;
  height: 16px;
  background: url('icons.png') no-repeat -480px -40px;
  width: 16px;
  margin: $default-margin;
}

div.file_name {
  white-space: nowrap;
  overflow: hidden;
  float: left;
  width: 293px;
  line-height: 25px;
  font-size: 10px;
}

div.essence_file_tools {
  height: 24px;
  float: right;
  background-color: white;
  width: 48px;
}

div.essence_file_tools a {
  text-decoration: none;
  width: 16px;
  height: 16px;
  margin: $default-margin;
  float: left;
}

div.essence_file_tools a.assign_file {
  background: url('icons.png') -512px -40px;
}

div.essence_file_tools a.edit_file {
  background: url('icons.png') -160px -167px;
}

td.content_editor_essence_type {
  width: 90px;
  height: 20px;
}

table.content_editor_table {
  margin-bottom: 8px;
}

.content_editor_table .thin_border {
  width: 210px;
}

a.new_content_link {
  float: none;
  margin-bottom: 12px !important;
  margin-top: 4px !important;
}

div.tinymce_container {
  position: relative;
  margin: $default-margin 0;
}

div.essence_richtext_loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #F0E8D7;
  @include opacity(0.9);

  img {
    position: absolute;
    top: 46%;
    left: 46%;
  }
}

div.content_text_editor.text_short {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

input.long,
input.text_long {
  width: 363px;
}

select.long {
  width: 376px;
  margin: 0;
  padding: 0;
}

div.content_text_editor input.text_short {
  border-width: 1px;
  width: 50px;
  margin-right: 4px;
  padding: 2px;
}

#alchemy .ui-dialog-content div.content_editor input.auto_resize {
  width: 100%;
}

div.content_editor {
  margin-bottom: 8px;
  position: relative;

  input.thin_border {
    width: 100%;
  }

  &.missing p {
    line-height: 25px;
    padding: 2*$default-padding;
    border: 1px solid #f5b04e;
    background-color: #f5dea9;
    @include rounded-corner;
    font-size: 11px;

    span.icon.warning {
      vertical-align: text-bottom;
      margin-left: 2px;
      margin-right: 6px;
    }
  }

  &.display_inline {
    @include inline-block;
    margin-right: 4px;
    vertical-align: top;

    input.thin_border {
      width: 170px;
    }
  }

  &.validation_failed {

    label { color: $error_text_color }
    input { @include field_with_error }
    .tinymce_container {
      outline: 1px solid $error_border_color;
    }
  }

  label {
    display: block;
    margin-bottom: 2px;
    font-size: 10px;
    text-shadow: #fff5e1 1px 1px 0;
    line-height: 15px;
    text-indent: 1px;

    span.warning.icon {
      position: relative;
      top: 2px;
    }

    &.inline {
      @include inline-block;
      min-width: 90px;
      margin-right: 4px;
    }

    a.icon_button.small {
      width: 10px;
      height: 10px;
      display: none;

      .icon {
        top: 1px;
        right: 1px;
      }

      &:hover {

        .icon {
          right: 2px;
        }
      }
    }
  }

  &.essence_select label { margin-bottom: 4px }

  &:hover label a.icon_button.small {
    @include inline-block;
  }

  input.text_with_icon.auto_resize.thin_border {
    padding-right: 52px;
    width: 314px;
  }

  select.essence_editor_select {
    @include rounded-corner;
    background: white;
    border: 1px solid $button-border-color;
    font-size: 11px;
    height: 21px;
    line-height: 21px;
    padding: 2px;

    optgroup {
      color: gray;
      font-style: normal;
      font-weight: bold;
      text-indent: 8px;

      option {
        text-indent: 24px;
      }
    }

    option {
      padding-top: 2px;
      padding-bottom: 2px;
      color: black;
    }
  }

  &.essence_date {
    float: none;
    @include inline-block;
    vertical-align: top;

    input.date {
      width: 154px;
    }
  }

  &.essence_picture_editor {
    float: none;
    height: auto;
    @include inline-block;
    margin: 8px 0;
  }
}

.o2k7Skin span.alchemy_link {
  background-position: -500px 0;
}

.o2k7Skin span.alchemy_unlink {
  background-position: -640px 0;
}

.content_rtf_text_area {
  display: none;
}

div.pictures_for_element {
  overflow: auto;
  margin-top: 4px;
}

textarea.default_tinymce, textarea.custom_tinymce {
  visibility: hidden;
}

.essence_html_editor textarea {
  font-family: $mono-font-face;
}

.text_short_float_left {
  width: 170px;
  float: left;
  margin-right: 10px;
  border-width: 1px;
}

.element_errors {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: $error_background_color;
  padding: 2*$default-padding;
  list-style-type: none;
  @include rounded-corner;
  color: $error_text_color;
  border: 1px solid $error_border_color;

  p {
    margin: 0;
    line-height: 24px;
  }
}

a.hint {
  position: absolute;
  right: 32px;
  top: 8px;
  width: 16px;
  height: 16px;

  &:hover span.bubble { display: block }

  span.bubble {
    display: none;
    background: $light_yellow;
    @include rounded-corner;
    @include box-shadow(0 4px 24px $dark-gray);
    position: absolute;
    right: -25px;
    top: 26px;
    z-index: 100;
    padding: 8px;
    line-height: 1.5em;
    min-width: 180px;
    font-size: 12px;

    &:before {
      content: '';
      position: absolute;
      top: -8px;
      right: 24px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent $light_yellow transparent;
    }
  }
}

.content_editor .hint {
  position: relative;
  top: auto;
  right: auto;
  display: inline-block;
  margin-right: 4px;
  margin-top: -2px;
  margin-left: -1px;

  .bubble {
    right: auto;
    left: -4px;
    top: 24px;

    &:before {
      right: auto;
      left: 5px;
    }
  }
}
