#errorExplanation {
  background: #ffdfdf;
  padding: 2*$default-padding;
  text-align: left;
  margin-bottom: 8px;
  border: 1px solid #d08f91;
  color: #690001;
  border-radius: $default-border-radius;

  h2 {
    font-size: 1.2em;
  }

  ul {
    padding: 0 0 0 16px;
  }
}

div#errors, div.errors {
  margin-bottom: 8px;
  padding: 8px 8px 4px 28px;
  border-width: 1px;
  border-style: solid;
  border-radius: $default-border-radius;
  border-color: $error_border_color;
  color: $error_text_color;
  background-color: $error_background_color;
  display: none;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
  }

  ul li {
    margin-bottom: 0.5em;
  }
}

body.error {
  .error.message {
    max-height: 95%;
    overflow-y: scroll;
  }
}
