div#flash_notices {
  position: fixed;
  right: 0;
  z-index: 400000;
  width: 400px;
  top: 0;

  alchemy-message {
    font-weight: bold;
    margin: $default-margin $default-margin 2 * $default-margin;
    opacity: 0.95;
    transition-property: opacity, transform;
    transition-duration: 0.4s;

    &.dismissed {
      display: block;
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    &[type="error"] {
      cursor: pointer;
      padding-right: 32px;

      alchemy-icon[name="close"] {
        position: absolute;
        left: initial;
        right: 2 * $default-padding;
      }
    }
  }
}
