div#flash_notices {
  position: fixed;
  right: 0;
  z-index: 400000;
  width: 348px;
  top: 0;

  .flash.error {
    cursor: pointer;
    padding-right: 24px;

    &:before {
      position: absolute;
      right: 2*$default-padding;
      top: 2*$default-padding;
      @extend .icon-close:before;
      font-size: 14px;
      font-family: 'Alchemy Icons';
    }
  }
}

div.flash {
  @extend %rounded-border;
  opacity: 0.95;
  padding: 8px 8px 8px 30px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  z-index: 1000;
  margin: $default-margin;
  position: relative;
  min-height: 1.3em;
  word-break: break-all;

  span.icon {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  &.notice {
    @include hint-colors($green);
  }

  &.error {
    @include hint-colors($red);
  }

  &.info {
    @include hint-colors($blue);
  }

  &.warn, &.warning, &.alert {
    @include hint-colors($yellow);
  }
}
