div#flash_notices {
  position: fixed;
  right: 0;
  z-index: 400000;
  width: 348px;
  top: 0;

  .flash.error {
    cursor: pointer;
    padding-right: 24px;

    &:before {
      position: absolute;
      right: 2*$default-padding;
      top: 2*$default-padding;
      @extend .icon-cross:before;
      font-size: 14px;
      font-family: 'Alchemy Icons';
    }
  }
}

div.flash {
  @extend %rounded-border;
  opacity: 0.95;
  padding: 8px 8px 8px 30px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  z-index: 1000;
  margin: $default-margin;
  position: relative;
  min-height: 1.3em;
  word-break: break-all;

  span.icon {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  &.notice {
    border-color: $success_border_color;
    color: $success_text_color;
    background-color: $success_background_color;
  }

  &.error {
    border-color: $error_border_color;
    color: $error_text_color;
    background-color: $error_background_color;
  }

  &.info {
    border-color: $info_border_color;
    color: $info_text_color;
    background-color: $info_background_color;
  }

  &.warn, &.warning, &.alert {
    border-color: $warning_border_color;
    color: $warning_text_color;
    background-color: $warning_background_color;
  }
}
