div#flash_notices {
  position: fixed;
  right: 0;
  z-index: 400000;
  width: 348px;
  top: 0;

  .flash.error {
    cursor: pointer;
    padding-right: 24px;

    &:before {
      position: absolute;
      right: 2*$default-padding;
      top: 2*$default-padding;
      @extend .alchemy-icon-cross:before;
      font-size: 14px;
      font-family: 'Alchemy Icons';
    }
  }
}

div.flash {
  @extend .rounded-border;
  @include opacity(0.95);
  padding: 8px 8px 8px 30px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  z-index: 1000;
  margin: $default-margin;
  position: relative;
  min-height: 1.3em;

  span.icon {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  &.notice {
    border-color: #9cc4a1;
    color: #2e5934;
    background-color: #e2efd3;
  }

  &.error {
    border-color: $error_border_color;
    color: $error_text_color;
    background-color: $error_background_color;
  }

  &.info {
    border-color: #8392b5;
    color: #233772;
    background-color: #cadbf3;
  }

  &.warn, &.warning, &.alert {
    border-color: #c4c19c;
    color: #726d23;
    background-color: #f3f0c1;
  }
}
