@charset "UTF-8";

@font-face {
  font-family: 'Alchemy Icons';
  src: font-url('alchemy/icons.eot');
  src: font-url('alchemy/icons.eot?#iefix') format('embedded-opentype'),
       font-url('alchemy/icons.woff') format('woff'),
       font-url('alchemy/icons.ttf') format('truetype'),
       font-url('alchemy/icons.svg#alchemy') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-plus,
.icon-expand,
.icon-collapse,
.icon-cancel:before,
.icon-reload:before,
.icon-tag,
.icon-fullscreen:before,
.icon-exit-fullscreen:before,
.icon-double-arrow,
.icon-search {
  font-family: 'Alchemy Icons';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  width: 12px;
  color: #666;
  text-align: center;
  line-height: 1em;
  @include inline-block;
}

.icon-plus:before { content: '\e804' } /* '' */
.icon-expand:before { content: '\229e' }
.icon-collapse:before { content: '\229f' } /* '⊟' */
.icon-cancel:before { content: '\e803' } /* '' */
.icon-reload:before { content: '\27f2' } /* '⟲' */
.icon-tag:before { content: '\e801' } /* '' */
.icon-fullscreen:before { content: '\e802' } /* '' */
.icon-exit-fullscreen:before { content: '\e800' } /* '' */
.icon-double-arrow:before { content: '\e74f' } /* '' */
.icon-search:before { content: '\1f50e' } /* '\1f50e' */
