textarea,
input[type="url"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
.thin_border,
.input_field {
  @extend %default-input-style;

  &.dirty {
    background-color: #fff8df;
  }
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration  {
  -webkit-appearance: none;
}

textarea {
  height: auto;
  padding: 4px 8px;
  line-height: 19px;
}

input#search_input_field {
  width: 204px;
  text-align: left;
  @include border-radius(21px);
  padding: 3px 16px 3px 28px;
  margin: 0;
  height: 29px;
}

div.search_field span.icon, div.js_filter_field_box span.icon {
  position: absolute;
  left: 8px;
  top: 8px;
}

.js_filter_field_box {
  position: absolute;
  right: 4px;
  top: 8px;

  .js_filter_field {
    width: 220px;
    text-align: left;
    @include border-radius($default-border-radius);
    padding: 3px 24px 3px 28px;
    height: 29px;
    margin: 0;
  }

  label {
    font-size: 10px;
    display: block;
    text-align: center;
    padding-top: 3px;
  }
}

.alchemy-char-counter {
  display: block;
  clear: both;
  text-align: right;

  &.too-long {
    color: $error_text_color;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 1em 0;

  legend {
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0.5em;
  }
}

::-webkit-input-placeholder {
  line-height: 1.5;
  color: $default-border-color;
}

.page-publication-date-fields {
  padding-bottom: $default-padding;
  @include clearfix;

  &.hidden {
    display: none;
  }
}
