@mixin default-label-style {
  font-size: 10px;
  text-shadow: #fff 0 1px 2px;
  margin-top: $default-margin;
  display: block;
  line-height: 100%;
  @extend .disable-user-select;
  clear: both;
}

button, input[type="submit"], a.button, input.button {
  @extend %button-defaults;

  &.small {
    padding: 2px 2*$default-padding;
    @include border-radius(10px);
    vertical-align: inherit;
    line-height: 4*$default-padding;
    font-size: inherit;

    &.with_icon {
      padding: 2px 2*$default-padding 2px $default-padding;
    }
  }

  &.with_icon {
    padding: 6px 18px 6px 6px;

    span.icon {
      margin-top: -5px;
      padding-right: 0.25em;
      height: 15px;
    }
  }

  &:focus {
    @extend %blue-focus-style;
  }

  &.disabled {
    line-height: 13px;
    height: 29px;
    padding-top: 5px;
    padding-bottom: 4px;
  }
}

.icon_button {
  @extend %button-defaults;
  width: 21px;
  height: 21px;
  line-height: 19px;
  margin: 0;
  padding: 3px;
  overflow: hidden;
  text-align: center;

  .icon {
    @include inline-block;
    vertical-align: middle;
  }

  .old_icon {
    position: relative;
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    @include inline-block;
    top: -1px;
    left: -1px;
  }

  img {
    position: absolute;
    top: 2px;
    left: 3px;
  }

  &.small {
    width: 15px;
    height: 15px;
    padding: 0;
    float: none;
    @include inline-block;
    position: relative;
    top: 0px;
    background: none;
    border: none;
    @include box-shadow(none);

    .icon {
      left: auto;
      position: absolute;
      left: 1px;
      top: 2px;
      width: 8px;
      height: 8px;

      &:before {
        line-height: 10px;
      }

      &.delete-small {
        background-position: -4px -76px;
      }
    }

    &:hover {
      border: $default-border-width $default-border-style $button-hover-border-color;
      @include border-radius($default-border-radius);
      background: $button-hover-bg-color;
      top: -1px;
      right: 0px;

      .icon {
        left: 0px;
        top: 2px;
      }
    }
  }

  &.old_icon {
    width: 20px;
    height: 19px;

    img {
      top: 0;
      left: 1px;
    }
  }

  &.disabled {

    span {
      position: relative;
      @include opacity(0.3);
      cursor: default;
    }

    &:hover {
      background-color: #D3D3D3;
      border: 1px solid #9a9a9a;
      cursor: default;
    }
  }

  &.linked {
    @include sassy-button('matte', $sb-border-radius, $sb-font-size, #ffd77a, $sb-second-color, $sb-text-color, $sb-text-style, $sb-pseudo-states, $sb-ie-support);
    padding: 3px;
    border-color: $default-border-color;
  }

  &:focus {
    @extend %blue-focus-style;
  }
}

button.icon_button {
  width: 29px;
  height: 29px;
}

#new_element button.button {
  float: right;
}

#new_page_form tbody tr td.second_row .button {
  float: right;
}

div#toolbar label {
  @include default-label-style;
}

.button_with_label {
  @include inline-block(top);
  text-align: center;
  margin-right: 8px;
  margin-left: 8px;
  min-width: 70px;
  line-height: 0;

  label {
    @include default-label-style;
  }

  &.active {

    .icon_button {
      $second-color: darken($sb-base-color, 10%);
      @include sassy-button-active-shadow($second-color);
      background-color: $second-color;
      @include background(linear-gradient(color-stops(darken($sb-base-color, 2%), $second-color 50%, darken($second-color, 8%))))
    }

    label {
      color: black;
      text-shadow: white 0 0 2px;
    }
  }

  .selectboxit-container {
    margin: 0;
    top: 0;
  }

  .icon_button {
    float: none;
    margin-right: auto;
    margin-left: auto;
    @include inline-block;
    position: relative;
  }

  &.disabled {
    position: relative;
    @include opacity(0.5);
    cursor: default;

    a {
      cursor: default;
      background-color: #f7f7f7;
      border: 1px solid #9a9a9a;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }
}

div.sitemap_right_tools .sitemap_sitetools a.icon_button {
  margin-right: 4px;
}

textarea, input[type="text"], input[type="email"], input[type="password"], .thin_border, .input_field {
  @extend %default-input-style;

  &.dirty {
    background-color: #fff8df;
  }
}

#alchemy .ui-dialog-content input.auto_resize, #alchemy .ui-dialog-content textarea.auto_resize {
  width: 100%;
}

#alchemy .ui-dialog-content input.medium_long {
  width: 139px;
}

#alchemy .ui-dialog-content input.very_long {
  width: 310px;
}

textarea {
  height: auto;
  padding: 4px 8px !important;
  line-height: 19px !important;
}

input#search_input_field {
  width: 224px;
  text-align: left;
  @include border-radius(21px);
  padding: 3px 26px;
  margin: 0;
  height: 29px;
}

div.search_field span.icon, div.js_filter_field_box span.icon {
  position: absolute;
  left: 8px;
  top: 8px;
}

.js_filter_field_box {
  position: absolute;
  right: 4px;
  top: 4px;

  .js_filter_field {
    width: 220px;
    text-align: left;
    @include border-radius(3px);
    padding: 3px 24px;
    height: 29px;
    margin: 0;
  }

  label {
    font-size: 10px;
    display: block;
    text-align: center;
    padding-top: 3px;
  }
}

// Just some basic styling for select tags.
// Not used, because we use the .selectBoxIt() jQuery plugin.

select {
  @extend %button-defaults;
  height: 29px;
  padding: 0.4em 0.6em;
}

/*
 * jQuery.selectBoxIt.css 0.9.0
 * Author: @gregfranko
 */

td.select .selectboxit {

  .selectboxit-text {
    line-height: 17px !important;
    max-width: 80% !important;
  }
}

.selectboxit-container {
  @include inline-block;
  margin: $default-form-field-margin;
  position: relative;
  height: 29px;
  text-align: left;
  top: -2px;

  a { text-decoration: none }

  .selectboxit {
    @extend %button-defaults;
    width: auto;
    height: 15px;
    padding: 6px 0 6px 8px;
    margin: 0;
    @include inline-block;
    overflow: hidden;
    white-space: nowrap;

    &.very_short {
      width: 80px;

      .selectboxit-text {
        max-width: 60px !important;
      }
    }

    &.short {
      width: 82px;

      .selectboxit-text {
        max-width: 60px !important;
      }
    }

    &.medium {
      width: 150px;

      .selectboxit-text {
        max-width: 120px !important;
      }
    }

    &.long {
      width: 240px;

      .selectboxit-text {
        max-width: 210px !important;
      }
    }

    &.very_long {
      width: 310px;

      .selectboxit-text {
        max-width: 280px !important;
      }
    }

    &.tiny {
      padding: 2px 2px 2px 8px;
      height: 14px;
      background-position: left 1px;

      .selectboxit-text {
        padding-right: 24px;
        font-size: 10px;
        line-height: 1.5 !important;
      }

      .selectboxit-arrow-container {
        width: 15px;
        top: 8px;
        line-height: 1em;
        height: 14px !important;
      }

      .selectboxit-arrow {
        margin-top: 2px !important;
        margin-left: 0;
        font-size: 10px;
        line-height: 11px;
      }
    }

    &:focus {
      @extend %blue-focus-style;
    }

    /* Dropdown List Box Text */
    .selectboxit-text {
      font: $default-font-style;
      overflow: hidden;
      float: left;
      white-space: nowrap;
      @extend .disable-user-select;
      @extend %text-overflow;
      padding-right: 32px;
      line-height: normal !important;
    }

    /* Dropdown List Down Arrow Container (if an image is not used) */
    .selectboxit-arrow-container {
      /* Positions the down arrow */
      width: 20px;
      padding: 0 0.25em 0 0;
      margin-left: 0.5em;
      position: absolute;
      right: 0;
      top: 3px;
      border-left: 1px solid darken($medium-gray, 10%);
      height: 23px !important;
      line-height: 0;
    }

    /* Dropdown List Down Arrow */
    .selectboxit-arrow {
      /* Horizontally centers the down arrow */
      margin-right: auto;
      margin-left: auto;
      margin-top: 5px !important;
      width: 16px;
      line-height: 16px;
      margin-left: 2px;
      font-style: normal;
      display: block;
      @extend .alchemy-icon-menu;
    }

    &.with_error { border-color: $error_border_color }
  }

  /* Dropdown List Options List*/
  .selectboxit-options {
    @include box-sizing(border-box);
    min-height: 28px;
    min-width: 100%;
    background: white;
    max-height: 180px; /* A vertical scrollbar appears if your select box options are taller than this */
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    overflow: auto;
    cursor: pointer;
    display: none;
    z-index: 99999;
    outline: none;
    @extend .rounded-border;
    @include box-shadow(0 4px 16px $dark-gray);
    border: $default-border;
  }

  /* Dropdown List Individual Options */
  .selectboxit-option, .selectboxit-optgroup-header {
    line-height: 1.5em; /* Height of Individual Select Box Options */
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 6px 8px;
  }

  .selectboxit-option.selectboxit-hover, .selectboxit-option.selectboxit-focus, .selectboxit-option.active {
    background-color: $button-hover-bg-color;
    color: $text-color;
  }

  .selectboxit-option-icon {
    float: left;
  }

  /* Dropdown List Optgroup Headers */
  .selectboxit-optgroup-header {
    font-weight: bold;
  }

  /* Dropdown List Optgroup Options */
  .selectboxit-optgroup-option {
    text-indent: 8px;
  }

  /* Dropdown List Optgroup Header hover psuedo class */
  .selectboxit-optgroup-header[data-disabled='true']:hover {
    cursor: default;
  }

  .selectboxit-option-anchor {
    display: block;
    width: 100%;
    min-height: 19px;
    max-width: 410px;
    text-align: left;
    @extend %text-overflow;
  }
}

.autocomplete_tag_list {
  position: relative;

  label {
    position: absolute;
    top: 12px;
    left: 4px;
  }

  input[data-autocomplete] {
    width: 250px;
    padding-left: 24px;
  }
}

label.with_error { color: $error_text_color }
