div#overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 400000;
  background-color: rgba(229, 229, 229, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #40E5E5E5, endColorstr = #40E5E5E5);
}

div#overlay_text_box {
  color: #333333;
  font-size: 1.5em;
  left: 50%;
  line-height: 120px;
  margin-left: -100px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;

  img {
    position: relative;
    top: 9px;
  }
}

#logout {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;

  &:not(:hover) {
    background-color: $main-menu-bg-color;
  }
}

#header {
  display: flex;
  height: $header-height;
  line-height: $header-height;
  background: $header-background;
  border-bottom: $default-border;
  position: relative;

  a:hover {
    text-decoration: none;
  }

  .page_status_and_name {
    padding: 0 8px;
    background-color: $medium-gray;
    text-shadow: $text-shadow-light;
    @extend .disable-user-select;
    @extend .locked_page;
    cursor: default;
    border-bottom-color: $toolbar-bg-color;

    .hint-bubble {
      left: -40px;
      transform: none;

      &:before {
        left: 47px;
      }
    }
  }

  .page_name {
    display: inline-block;
    margin-right: $default-margin;
    line-height: $header-height;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#main_content {
  padding-top: 84px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: $collapsed-main-menu-width + 8px;
  z-index: 0;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $large-screen-break-point) {
    padding-left: $main-menu-width + 8px;
  }
}

#user_info {
  height: $header-height;
  font-size: $small-font-size;
  padding-left: 2*$default-padding;
  margin-left: auto;
  border-bottom: $default-border;
  background-color: $header-background;

  .select2-container, select {
    height: $form-field-height;
    margin-top: -3px;
  }

  .select2-choice, select {
    background: transparent;
    border: none;
    border-radius: 0;
    border-left: $default-border;
    height: $header-height;
  }

 .select2-choice {
    line-height: 2;
  }

  .current-user-name {
    padding-right: 2*$default-padding;
  }
}
