#top_menu {
  @include box-sizing(border-box);
  position: fixed;
  top: 0;
  margin-left: 65px;
  padding-right: 65px;
  z-index: 5;
  width: 100%;
  @extend .disable-user-select;
}

#left_menu {
  white-space: nowrap;
  z-index: 2;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  overflow: hidden;
  border-right: $default-border;
  background: $light-blue;
  font-size: 10px;
  @extend .disable-user-select;

  label {
    display: block;
  }

  a {
    text-shadow: #fff 0 0px 4px;
  }
}

#main_navi {
  padding-top: 25px;
  padding-left: 4px;
  padding-bottom: 80px;

  a.main_navi_entry {
    color: #444;
    position: relative;
    text-align: center;
    overflow: hidden;
    display: block;
    padding-top: 7px;
    @extend .left-rounded-border;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 1px none #afafaf;
    border-right-style: none;
    padding-bottom: 5px;
    padding-left: 1px;
    width: 60px;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $text-color;
    }

    &.active {
      background: #baced9;
      color: $text-color;
      cursor: default;
      text-shadow: #fff 0 1px 2px;
      border: $default-border;
      padding-left: 0;
      border-right-style: none;
      padding-top: 6px;
      padding-bottom: 4px;
    }

    img {
      border-style: none;
      height: 24px;
      width: 24px;
      @include inline-block;
      margin-bottom: 4px;
      margin-top: 2px;
    }
  }
}

div#overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 400000;
  background-color: rgba(229, 229, 229, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #40E5E5E5, endColorstr = #40E5E5E5);
}

div#overlay_text_box {
  color: #333333;
  font-size: 18px;
  left: 50%;
  line-height: 120px;
  margin-left: -100px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;

  img {
    position: relative;
    top: 9px;
  }
}

#logout {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 65px;
  padding-top: 4px;
  padding-bottom: 8px;
  background: $light-blue;

  a {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    margin-bottom: 4px;
  }
}

#main_content {
  @include box-sizing(border-box);
  background-color: $light-gray;
  padding-top: 96px;
  padding-right: 4 * $default-padding;
  padding-bottom: 4 * $default-padding;
  padding-left: 82px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

div#user_info {
  position: absolute;
  z-index: 10;
  line-height: 27px;
  height: 29px;
  font-size: 11px;
  right: 65px;
  top: -3px;
  padding: 0 8px;
  background-color: $light-blue;

  .selectboxit-container {
    margin-right: 2 * $default-margin;
  }
}

#sub_navigation {
  height: 22px;
  line-height: 21px;
  padding-left: 5px;
  background: $light-blue;
  border-bottom: $default-border;
  padding-top: 4px;
  z-index: 5;
  position: relative;

  a {
    @include inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  span.page_status_and_name {
    padding: 0 8px;
    background-color: $medium-gray;
    text-shadow: 0px 1px 1px #FFFFFF;
    @extend .disable-user-select;
    cursor: default;
    line-height: 20px;
    float: left;
    @extend .top-rounded-border;
    border: $default-border;
    border-bottom-style: none;
    height: 22px;
    margin-right: 1px;

    .page_language {
      float: none;
      position: relative;
      @include inline-block;
      bottom: 2px;
      border: 1px solid #f0c8d1;
      background-color: #f0c8d1;
      color: #ac3d57;
      @extend .rounded-border;
      margin-right: 2px;
      padding: 2px 3px;
      line-height: 11px;
    }

    span.page_name {
      position: relative;
      margin-right: 16px;
      margin-left: 4px;
      line-height: 27px;
      bottom: 2px;
    }
  }

  div.subnavi_tab {
    float: left;
    padding: 0px 8px;
    line-height: 19px;
    height: 21px;
    text-shadow: #fff 0 0px 4px;
    background: #d6e0e6;
    color: #444;
    @extend .top-rounded-border;
    border: $default-border;
    border-bottom-style: none;
    margin-right: 1px;

    &.wide {
      position: relative;
      padding-right: 24px;

      form {
        position: absolute;
        right: $default-padding;
        top: $default-padding;
        line-height: 1;
      }
    }

    &:hover {
      color: $text-color;
      text-decoration: none;
    }

    &.active {
      float: left;
      position: relative;
      padding: 0px 8px;
      height: 22px;
      color: $text-color;
      background-color: $medium-gray;
      text-shadow: #fff 0 1px 2px;
      @extend .disable-user-select;
      cursor: default;
      z-index: 10;
    }
  }
}

#subnav_additions {
  height: 23px;
  overflow: hidden;

  label {
    float: left;
    font-size: 10px;
    line-height: 25px;
    height: 25px;
    margin-left: 8px;
    margin-right: 4px;
  }

  img {
    float: left;
  }
}
