#top_menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  margin-left: 65px;
  padding-right: 65px;
  z-index: 30;
  width: 100%;
  @extend .disable-user-select;
}

#left_menu {
  white-space: nowrap;
  z-index: 20;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  overflow: hidden;
  border-right: $default-border;
  background: $light-blue;
  font-size: 10px;
  @extend .disable-user-select;

  label {
    display: block;
  }

  a {
    text-shadow: #fff 0 0px 4px;
  }
}

#main_navi {
  padding-top: 20px;
  padding-left: 4px;
  padding-bottom: 80px;

  .main_navi_entry {
    color: #444;
    position: relative;
    text-align: center;
    overflow: hidden;
    display: block;
    padding-top: 7px;
    @extend .left-rounded-border;
    border: 1px none #afafaf;
    border-right-style: none;
    padding-bottom: 6px;
    padding-left: 1px;
    width: 60px;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $text-color;
    }

    &.active {
      background: #baced9;
      color: $text-color;
      cursor: default;
      text-shadow: #fff 0 1px 2px;
      border: $default-border;
      padding-left: 0;
      border-right-style: none;
      padding-top: 6px;
      padding-bottom: 5px;
    }

    img {
      border-style: none;
      height: 24px;
      width: 24px;
      @include inline-block;
      margin-bottom: 4px;
      margin-top: 2px;
    }
  }
}

div#overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 400000;
  background-color: rgba(229, 229, 229, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #40E5E5E5, endColorstr = #40E5E5E5);

  .spinner {
    top: 50%;
    left: 50%;
  }
}

div#overlay_text_box {
  color: #333333;
  font-size: 18px;
  left: 50%;
  line-height: 120px;
  margin-left: -100px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;

  img {
    position: relative;
    top: 9px;
  }
}

#logout {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 65px;
  background: $light-blue;

  a {
    display: block;
    padding-top: 4px;
    padding-bottom: 8px;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    margin-bottom: 4px;
  }
}

#main_content {
  box-sizing: border-box;
  background-color: $light-gray;
  padding: 75px 8px 8px 74px;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#archive_all {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 60px;

  &.with_tag_filter {
    padding-right: 230px;
  }

  &.resources-table-wrapper {
    padding-top: 47px;
  }
}

div#user_info {
  position: absolute;
  top: 0;
  right: 65px;
  line-height: 28px;
  font-size: 11px;
  padding: 0 8px;
  background-color: $light-blue;

  .select2-container {
    margin-top: -2px;
    margin-right: $default-margin;
  }

  .current-user-name {
    padding-right: $default-padding;
  }
}

#sub_navigation {
  height: 24px;
  line-height: 23px;
  background: $light-blue;
  border-bottom: $default-border;
  padding-top: 4px;
  position: relative;

  a {
    @include inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  .page_status_and_name {
    padding: 0 8px;
    background-color: $medium-gray;
    text-shadow: 0px 1px 1px #FFFFFF;
    @extend .disable-user-select;
    cursor: default;
    float: left;
    @extend .top-rounded-border;
    border: $default-border;
    border-bottom-style: none;
    height: 24px;
    margin-right: 1px;
  }

  .page_name {
    margin-right: $default-margin;
  }

  .page_language {
    float: none;
    @include inline-block;
    color: #3265b1;
    margin-right: 2px;
    font-size: 10px;
    text-transform: uppercase;
  }

  .page_site {
    float: none;
    @include inline-block;
    color: #847474;
    margin-right: $default-margin;
    font-size: 10px;
  }

  .subnavi_tab {
    float: left;
    line-height: 21px;
    height: 23px;
    text-shadow: #fff 0 0px 4px;
    background: #d6e0e6;
    color: #444;
    @extend .top-rounded-border;
    border: $default-border;
    border-bottom-style: none;
    margin-right: 1px;

    &.wide {
      position: relative;
      padding-right: 24px;

      form {
        position: absolute;
        right: $default-padding;
        top: $default-padding;
        line-height: 1;
      }
    }

    &:hover {
      color: $text-color;
      text-decoration: none;
    }

    &.active {
      position: relative;
      height: 24px;
      color: $text-color;
      background-color: $medium-gray;
      text-shadow: #fff 0 1px 2px;
      @extend .disable-user-select;
      cursor: default;
      z-index: 10;
    }

    > a {
      padding: 0px 8px;
    }

    .inline.icon {
      vertical-align: text-bottom;
    }
  }
}

#locked_pages {
  height: 25px;
  overflow: hidden;

  label {
    float: left;
    font-size: 10px;
    line-height: 27px;
    height: 27px;
    margin-left: 8px;
    margin-right: 4px;
  }

  img {
    float: left;
  }

  .subnavi_tab > a {
    padding-right: 0;
  }
}

.full-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
