#alchemy {
  display: grid;
  grid-template-areas:
    "left_menu top_menu top_menu"
    "left_menu main_content main_content";
  grid-template-columns: 150px 1fr 48px;
  grid-template-rows: 75px 1fr;

  &.collapsed-menu {
    grid-template-columns: 48px 1fr 25vw;
  }

  &.pages.edit {
    grid-template-areas:
      "left_menu top_menu top_menu"
      "left_menu iframe main_content";
  }
}

#main_content {
  grid-area: main_content;
  z-index: 0;
  width: 100%;
  height: 100%;
  padding: $default-padding;
}

#top_menu {
  grid-area: top_menu;
  @extend .disable-user-select;
}

#left_menu {
  position: relative;
  z-index: 500;
  background: red;

  grid-area: left_menu;
  background-color: $main-menu-bg-color;
  display: grid;
  grid-template-rows: 1fr 48px;
  @extend .disable-user-select;
}

#main_navi {
  max-height: 100vh;
  padding-top: 28px;
  padding-bottom: 80px;

  @media screen and (max-width: $medium-screen-break-point) {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

div#overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 400000;
  background-color: rgba(229, 229, 229, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #40E5E5E5, endColorstr = #40E5E5E5);
}

div#overlay_text_box {
  color: #333333;
  font-size: 1.5em;
  left: 50%;
  line-height: 120px;
  margin-left: -100px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;

  img {
    position: relative;
    top: 9px;
  }
}

#header {
  outline: 1px solid fuchsia;
  display: flex;
  height: $header-height;
  background: $header-background;
  border-bottom: $default-border;
  position: relative;

  a:hover {
    text-decoration: none;
  }

  .page_status_and_name {
    align-items: end;
    padding: $default-padding 2 * $default-padding;
    background-color: $medium-gray;
    text-shadow: $text-shadow-light;
    @extend .disable-user-select;
    @extend .locked_page;
    cursor: default;
    border-bottom-color: $toolbar-bg-color;
  }

  .page_name {
    margin-right: $default-margin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#user_info {
  display: flex;
  align-items: center;
  height: $header-height;
  padding-left: 2 * $default-padding;
  margin-left: auto;
  border-bottom: $default-border;
  background-color: $header-background;

  select {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-left: $default-border;
  }

  .current-user-name {
    padding-right: 2 * $default-padding;
  }
}

#logout {
  &:not(:hover) {
    background-color: $main-menu-bg-color;
  }
}
