.hint-with-icon {
  @extend .with-hint;
  display: inline-block;
  margin-left: -$default-margin;

  .toolbar_buttons & {
    margin: 0 2*$default-margin;
  }

  > .icon {
    text-indent: 0;
  }
}

.with-hint {
  position: relative;

  &:hover {
    cursor: help;

    > .hint-bubble {
      @include hint-hover-style;
    }
  }

  > .hint-bubble {
    visibility: hidden;
    @extend %rounded-border;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2), 0px 5px 15px rgba(0, 0, 0, .2);
    position: absolute;
    left: -3*$default-padding;
    top: 20px;
    z-index: 100;
    padding: 8px;
    line-height: 1.5em;
    min-width: 180px;
    max-width: 300px;
    white-space: normal;
    text-align: left;
    font-size: 12px;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    @include hint-colors();

    &:before {
      content: '';
      position: absolute;
      top: -8px;
      left: 23px;
      transform: translateX(-50%);
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 8px 8px 8px;
    }

    &:before { border-width: 0 8px 8px 8px; }
  }
}

.icon-warning > .hint-bubble {
  @include hint-colors($red);
}
