.hint-with-icon {
  @extend .with-hint;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: -1px;
  margin: 0 $default-margin;

  > .icon {
    text-indent: 0;
  }
}

.with-hint {
  position: relative;

  &:hover {
    cursor: help;

    > .hint-bubble {
      @include hint-hover-style;
    }
  }

  > .hint-bubble {
    visibility: hidden;
    background: $light_yellow;
    @extend %rounded-border;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .3);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    z-index: 100;
    padding: 8px;
    line-height: 1.5em;
    min-width: 180px;
    font-size: 12px;
    opacity: 0;
    transition: .3s;
    pointer-events: none;

    &:before {
      content: '';
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent $light_yellow transparent;
    }
  }
}
