.icon {
  background: image-url('alchemy/icons.png') no-repeat;

  &.add {
    background: none;
    @extend .icon-add;
    line-height: 1em;
    font-size: 19px;
  }

  &.blank {
    background: transparent;
  }

  &.false {
    background-image: none;
  }

  &.vcard {
    background-position: -416px -104px;
  }

  &.warning, &.warn, &.alert {
    &.inline { vertical-align: text-bottom; }
  }
}
