.icon {
  @include inline-block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: $icon-color;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  &.module {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    color: inherit;
  }

  &.icon-back {
    line-height: 14px;
    font-size: 20px;
    font-weight: bold;
    color: $dark-gray;

    &:before {
      content: '\00ab';
    }
  }

  &.icon-notice, &.icon-true {
    @extend .icon-ok;
  }

  &.icon-delete {
    @extend .icon-remove;

    &.small {
      line-height: 16px;
      font-size: 12px;
    }
  }

  &.icon-zoom-equal {
    @extend .icon-search;
  }

  &.blank {
    background: transparent;
  }

  &.icon-close {

    &.small {
      line-height: 0;
      font-size: 12px;
    }
  }

  &.icon-file-image {
    @extend .icon-file;
  }

  &.tag_label {
    @extend .icon-tag;
  }
}

.small-icon {
  @extend .icon;
  font-size: 12px;
  line-height: 10px;
}
