.icon {
  display: inline-block;
  vertical-align: middle;
  background: image-url('alchemy/icons.png') no-repeat;
  width: 16px;
  height: 16px;

  &.add {
    background: none;
    @extend .icon-plus-2;
    line-height: 1em;
    font-size: 19px;
  }

  &.add_page {
    background-position: -96px -40px;
  }

  &.archive {
    background-position: -416px -136px;
  }

  &.audio {
    background-position: -192px -136px;
  }

  &.back {
    background: none;
    line-height: 14px;
    font-size: 20px;
    font-weight: bold;
    color: #666;

    &:before {
      content: '\00ab';
    }
  }

  &.blank {
    background: transparent;
  }

  &.clipboard {
    background-position: -288px -104px;

    &.full {
      background-position: -320px -104px;
    }
  }

  &.close {
    background-position: -416px -39px;

    &.small {
      background: none;
      @extend .icon-cross;
      line-height: 1;
    }
  }

  &.collapse.small {
    background-position: -512px -106px;
  }

  &.configure_page {
    background-position: -320px -40px;
  }

  &.copy_page {
    background-position: -544px -40px;
  }

  &.create {
    background-position: -191px -168px;
  }

  &.crop {
    background-position: -256px -72px;
  }

  &.delete_page {
    background-position: -64px -40px;
  }

  &.delete-small {
    background-position: -1px -72px;
  }

  &.destroy {
    background-position: -224px -169px;
  }

  &.edit {
    background-position: -160px -168px;
  }

  &.element, &.clipboard_elements {
    background-position: -224px -72px;
  }

  &.element_draft {
    background-position: 1px -70px;
  }

  &.element-hide {
    background-position: -416px -168px;
  }

  &.element_public {
    background-position: -94px -166px;
  }

  &.element_window {
    background-position: -512px -72px;
  }

  &.element_copy {
    background-position: -128px -72px;
  }

  &.cut {
    background-position: -97px -72px;
  }

  &.error {
    background-position: -32px -168px;
  }

  &.excel {
    background-position: -353px -136px;
  }

  &.expand.small {
    background-position: -498px -106px;
  }

  &.false {
    background-image: none;
  }

  &.file {
    background-position: 0 -40px;
  }

  &.file_delete {
    background-position: -64px -40px;
  }

  &.file_download, &.download {
    background-position: -480px -136px;
  }

  &.file_edit {
    background-position: -32px -40px;
  }

  &.flash {
    background-position: -256px -136px;
  }

  &.flush {
    background-position: -352px -39px;
  }

  &.hint {
    background-position: -446px -105px;
  }

  &.image {
    background-position: -224px -136px;
  }

  &.info {
    background-position: -64px -168px;
  }

  &.language {
    background-position: 0 -120px;
  }

  &.language_add {
    background-position: -47px -120px;
  }

  &.language_delete {
    background-position: -16px -120px;
  }

  &.language_edit {
    background-position: -32px -120px;
  }

  &.link {
    background-position: -320px -72px;
  }

  &.new_element {
    background-position: -384px -40px;
  }

  &.offline {
    background-position: -255px -105px;
  }

  &.online {
    background-position: -224px -105px;
  }

  &.page, &.clipboard_pages {
    background-position: 0 -40px;
  }

  &.pdf {
    background-position: -161px -136px;
  }

  &.preview_window {
    background-position: -448px -40px;
  }

  &.psd {
    background-position: -128px -136px;
  }

  &.publish {
    background-position: -64px -136px;
  }

  &.remove {
    background-position: -63px -72px;
  }

  &.rtf {
    background-position: -320px -136px;
  }

  &.search {
    background: none;
    padding-top: 2px;
    @extend .icon-magnifying-glass;
  }

  &.select_all {
    background-position: -256px -168px;
  }

  &.settings {
    background-position: -320px -40px;
  }

  &.sort {
    background-position: -128px -168px;
  }

  &.swap_picture {
    background-position: -288px -72px;
  }

  &.sync, &.reload {
    background-position: -96px -136px;
  }

  &.tag_add {
    background-position: -384px -168px;
  }

  &.tag {
    background-position: -288px -168px;
  }

  &.tag_label {
    background: none;
    @extend .icon-tag;
  }

  &.tag_edit {
    background-position: -352px -168px;
  }

  &.tag_delete {
    background-position: -320px -168px;
  }

  &.text {
    background-position: -448px -136px;
  }

  &.tick, &.true, &.notice, &.ok {
    background-position: -32px -73px;
  }

  &.trash {
    background-position: -352px -104px;

    &.full {
      background-position: -384px -104px;
    }
  }

  &.unlink {
    background-position: -352px -72px;
  }

  &.upload {
    background-position: 0 -136px;
  }

  &.vcard {
    background-position: -416px -104px;
  }

  &.video {
    background-position: -288px -136px;
  }

  &.visit_page {
    background-position: -31px -135px;
  }

  &.warning, &.warn, &.alert {
    background-position: 0 -168px;

    &.inline { vertical-align: baseline; }
  }

  &.word {
    background-position: -385px -136px;
  }

  &.zoom-equal {
    background-position: -448px -72px;
  }

  &.zoom-in {
    background-position: -480px -72px;
  }

  &.zoom-out {
    background-position: -416px -72px;
  }
}
