@font-face {
  font-family: 'Alchemy Icons';
  src: font-url('alchemy-icons.eot?tylr92');
  src: font-url('alchemy/alchemy-icons.eot?tylr92#iefix') format('embedded-opentype'),
    font-url('alchemy/alchemy-icons.ttf?tylr92') format('truetype'),
    font-url('alchemy/alchemy-icons.woff?tylr92') format('woff'),
    font-url('alchemy/alchemy-icons.svg?tylr92#alchemy-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon {
  font-family: 'Alchemy Icons' !important; // use !important to prevent issues with browser extensions that change fonts
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  vertical-align: middle;
  opacity: .85;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $icon-color;
}

[class^="icon-"],
[class*=" icon-"] {
  &:before { @include icon; }

  &.tiny:before { font-size: 12px; }
  &.small:before { font-size: 14px; }
  &.large:before { font-size: 24px; }
}

a:hover, button:hover {
  [class^="icon-"]:before,
  [class*=" icon-"]:before,
  &[class^="icon-"]:before,
  &[class*=" icon-"]:before {
    opacity: 1;
  }
  &[class^="icon-"],
  &[class*=" icon-"] {
    text-decoration: none;
  }
}

.icon-add:before,
.icon-create:before,
.icon-tag_add:before {
  content: "\e900";
  color: $blue;
}
.icon-create:before { margin: -1px 0.6em 0 0.2em; }
.icon-arrow-doubled:before,
.icon-angle-double-right:before { content: "\e901"; }
.icon-arrow:before { content: "\e902"; }
.icon-angle-right:before { content: "\e902"; }
.icon-angle-left:before { content: "\e902"; transform: scaleX(-1); }
.icon-checkmark:before,
.icon-clipboard:before { content: "\e904"; }
.icon-close:before { content: "\e905"; }
.icon-crop:before { content: "\e906"; }
.icon-cross:before { content: "\e907"; }
.icon-cut:before { content: "\e908"; }
.icon-dashboard:before { content: "\e909"; }
.icon-deselect:before { content: "\e90a"; }
.icon-destroy:before {
  content: "\e90b";
  color: $red;
}
.icon-download:before { content: "\e90c"; }
.icon-dropdown:before { content: "\e90d"; }
.icon-duplicate:before { content: "\e90e"; }
.icon-edit:before,
.dirty .icon-edit:before { content: "\e90f"; }
.icon-exit:before { content: "\e910"; }
.icon-fullscreen-exit:before { content: "\e911"; }
.icon-fullscreen:before { content: "\e912"; }
.icon-globalElements:before { content: "\e913"; }
.icon-goto:before { content: "\e914"; }
.icon-hint:before { content: "\e915"; }
.icon-info:before { content: "\e916"; }
.icon-languages:before { content: "\e917"; }
.icon-leave:before { content: "\e918"; }
.icon-library:before { content: "\e919"; }
.icon-link:before { content: "\e91a"; }
.icon-mainmenu_dashboard:before { content: "\e91b"; }
.icon-minus:before { content: "\e91c"; }
.icon-not-public:before { content: "\e91d"; }
.icon-not-restricted:before { content: "\e91e"; }
.icon-not-visible:before { content: "\e91f"; }
.icon-pages:before { content: "\e920"; }
.icon-pictures:before { content: "\e921"; }
.icon-plus:before { content: "\e922"; }
.icon-public:before {
  content: "\e923";
  color: $green;
}
.icon-publish:before { content: "\e924"; }
.icon-refresh:before { content: "\e925"; }
.icon-restricted:before {
  content: "\e926";
  color: $orange;
}
.icon-search:before { content: "\e927"; }
.icon-select-all:before { content: "\e928"; }
.icon-settings:before { content: "\e929"; }
.icon-sites:before { content: "\e92a"; }
.icon-size:before { content: "\e92b"; }
.icon-sort:before { content: "\e92c"; }
.icon-tag:before { content: "\e92d"; }
.icon-tags:before { content: "\e92e"; }
.icon-toggle-sidebar:before { content: "\e92f"; }
.icon-trash-full:before { content: "\e930"; }
.icon-trash:before { content: "\e931"; }
.icon-true:before {
  content: "\e903";
  color: $green;
}
.icon-unlink:before { content: "\e932"; }
.icon-unlocked:before { content: "\e933"; }
.icon-upload:before { content: "\e934"; }
.icon-user-new:before, .icon-user_add:before {
  content: "\e935";
  color: $blue;
}
.icon-user:before { content: "\e936"; }
.icon-users:before { content: "\e937"; }
.icon-visible:before {
  content: "\e938";
  .page_status & { color: $yellow; }
}
.icon-visit-page:before { content: "\e939"; width: 2em; }
.icon-warning:before {
  content: "\e93a";
  color: $red;
}
.icon-zoom-equal:before { content: "\e93b"; }
.icon-zoom-in:before { content: "\e93c"; }
.icon-zoom-out:before { content: "\e93d"; }

.icon-muted:before {
  color: $muted-text-color;
}

// Custom icon styles

.icon-online,
.icon-offline {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.icon-online {
  background-color: $green;
}
.icon-offline { background-color: $medium-dark-gray; }
