@font-face {
  font-family: 'Alchemy Icons';
  src: font-url('alchemy/icons.eot');
  src: font-url('alchemy/icons.eot?#iefix') format('embedded-opentype'),
       font-url('alchemy/icons.woff') format('woff'),
       font-url('alchemy/icons.ttf') format('truetype'),
       font-url('alchemy/icons.svg#Alchemy-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.alchemy-icon-plus,
.alchemy-icon-minus,
.alchemy-icon-cross,
.alchemy-icon-plus-2,
.alchemy-icon-minus-2,
.alchemy-icon-pencil,
.alchemy-icon-tag,
.alchemy-icon-info,
.alchemy-icon-warning,
.alchemy-icon-checkmark,
.alchemy-icon-ccw,
.alchemy-icon-trash,
.alchemy-icon-cross-2,
.alchemy-icon-pictures,
.alchemy-icon-menu,
.alchemy-icon-magnifying-glass,
.alchemy-icon-fullscreen-exit,
.alchemy-icon-help,
.alchemy-icon-fullscreen,
.alchemy-icon-cog {
  font-family: 'Alchemy Icons';
  speak: none;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  width: 16px;
  color: #666;
  text-align: center;
  line-height: 1em;
  @include inline-block;
}

.alchemy-icon-plus:before { content: "\e000" }
.alchemy-icon-minus:before { content: "\e001" }
.alchemy-icon-cross:before { content: "\e004" }
.alchemy-icon-plus-2:before { content: "\e005" }
.alchemy-icon-minus-2:before { content: "\e006" }
.alchemy-icon-pencil:before { content: "\e007" }
.alchemy-icon-tag:before { content: "\e034" }
.alchemy-icon-info:before { content: "\e008" }
.alchemy-icon-warning:before { content: "\e009" }
.alchemy-icon-checkmark:before { content: "\e00a" }
.alchemy-icon-ccw:before { content: "\e00b" }
.alchemy-icon-trash:before { content: "\f014" }
.alchemy-icon-cross-2:before { content: "\e00e" }
.alchemy-icon-pictures:before { content: "\e00f" }
.alchemy-icon-menu:before { content: "\e010" }
.alchemy-icon-magnifying-glass:before { content: "\e011" }
.alchemy-icon-fullscreen-exit:before { content: "\e01e" }
.alchemy-icon-help:before { content: "\e00c" }
.alchemy-icon-fullscreen:before { content: "\e01d" }
.alchemy-icon-cog:before { content: "\f013" }
