ul, ol {
  padding-left: 16px;
  margin-top: 1em;
  margin-bottom: 1em;

  li {
    margin-bottom: 0.5em;
  }
}

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &#layoutpages {
    margin-top: 16px;

    li {
      margin-left: 8px;
    }
  }

  li {
    list-style-type: none;
    display: block;
    margin-bottom: 0;

    &.list-header {
      overflow: hidden;
      background-color: transparent;
      font-weight: bold;
      padding: $default-padding 2*$default-padding;
      margin-bottom: 2*$default-margin;

      .list-secondary {
        color: $text-color;
      }
    }

    &.even {
      background-color: $table-row-even-background-color;
    }

    &.odd {
      background-color: $table-row-odd-background-color;
    }
  }

  .list-primary,
  .list-secondary {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .list-primary {
    float: left;
    max-width: 65%;
  }

  .list-secondary, .right {
    float: right;
    text-align: left;
    width: 30%;
    color: $dark-gray;
  }
}
