div#alchemy_greeting {
  width: 370px;
  margin-right: auto;
  margin-left: auto;
  padding: 2*$default-padding;
  margin-top: -4em;
  text-align: center;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.2em;
  }
}

div.login_signup_box {
  width: 390px;
  padding: 4*$default-padding;
  border: $default-border;
  background-color: $medium-gray;
  @extend .rounded-border;
  margin: 2em auto;

  input[type="text"], input.thin_border { width: 250px }
}

html.no-js {
  div.login_signup_box, div#alchemy_greeting h1 {
    display: none;
  }
}

#login_box {
  height: 310px;
  width: 394px;
  margin-top: -200px;
  margin-left: -197px;
  position: absolute;
  top: 50%;
  left: 50%;
}

#login table tbody tr td.label {
  width: 155px;
  text-align: right;
}

form#login.new_user_session {
  text-align: right;
}
