/*
 *= require_self
 */
@import "alchemy/defaults";

#alchemy_menubar {
  position: fixed;
  top: 0;
  left: -353px;
  width: 346px;
  z-index: 10000;
  background: $light-gray;
  @include animate-left;
  @include bounce;
  @include bottom-right-rounded-border;
  @include drop-shadow;
  @include box-sizing;
  border-right: $default-border;
  border-bottom: $default-border;
  height: 8 * $default-padding + 2px;
  padding: 4px 40px 4px 8px;
  overflow: hidden;
  font: $default-font-style;

  * {
    @include box-sizing;
    margin: 0;
    padding: 0;
  }

  &:hover {
    left: 0;
    @include transition;
  }

  &:after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 9px;
    background: image-url('alchemy/icons.png') -240px 0;
  }

  ul {
    padding: 0;
    margin: 0;
    height: auto;

    li {
      height: 35px;
      margin: 0 $default-padding 0 0;
      padding: 0;
      @include inline-block;
      list-style-type: none;

      a, button {
        line-height: 14px;
        @extend %button-defaults;
        font-weight: normal;
        text-decoration: none !important;
        color: $text-color !important;
        font-family: $default-font-face;
      }
    }
  }
}
