/*
 *= require_self
 */

@import "bourbon";
@import "alchemy/variables";
@import "alchemy/mixins";
@import "alchemy/extends";

#alchemy_menubar {
  position: fixed;
  top: 0;
  left: -356px;
  width: 400px;
  z-index: 10000;
  background: $light-gray;
  @include animate-left;
  @include bottom-right-rounded-border;
  @include drop-shadow;
  box-sizing: border-box;
  border-right: $default-border;
  border-bottom: $default-border;
  height: 44px;
  padding: 4px 40px 4px 8px;
  overflow: hidden;
  font: $default-font-style;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &:hover {
    left: 0;
  }

  &:after {
    content: '';
    width: 28px;
    height: 28px;
    position: absolute;
    right: 8px;
    top: 8px;
    background: image-url('alchemy/icon.svg') 0 0 no-repeat;
    background-size: 28px 28px;
  }

  ul {
    padding: 0;
    margin: 0;
    height: auto;

    li {
      width: 32%;
      height: 35px;
      margin: 0 $default-margin 0 0;
      padding: 0;
      float: left;
      list-style-type: none;
      text-align: center;

      a, button {
        @include button-defaults;
        padding-left: $default-padding;
        padding-right: $default-padding;
        width: 100%;
        display: block;
        line-height: 14px;
        font-weight: normal;
        text-decoration: none !important;
        text-transform: none;
        color: $text-color !important;
        font-family: $default-font-face;

        &:after { display: none }
      }
    }
  }
}
