/*
 *= require_self
 */

@import "alchemy/variables";
@import "alchemy/mixins";

#alchemy_menubar {
  position: fixed;
  top: 0;
  left: -358px;
  width: 400px;
  z-index: 10000;
  background: $blue;
  transition: left 0.15s ease-in;
  box-shadow: 0 0 0 1px $white;
  box-sizing: border-box;
  height: auto;
  padding: 8px 40px 8px 8px;
  overflow: hidden;
  font: $default-font-style;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &:hover {
    left: 0;
  }

  &:after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    background: image-url('alchemy/icon.svg') 0 0 no-repeat;
    background-size: 24px 24px;
    transform: translateY(-50%);
  }

  ul {
    padding: 0;
    margin: 0;
    height: 100%;

    li {
      width: 33.333%;
      height: 100%;
      margin: 0;
      padding: 0 $default-padding;
      float: left;
      list-style-type: none;
      text-align: center;

      a, button {
        @include button-defaults(
          $background-color: $blue,
          $hover-color: rgba($white, 0.15),
          $hover-border-color: $white,
          $border: 1px solid $white,
          $padding: 0.5em 0,
          $color: $white
        );
        width: 100%;
        text-decoration: none !important;
        text-transform: none;
        font-family: $default-font-family;

        &:after { display: none }
      }
    }
  }
}
