@mixin rounded-corner($radius: $default-border-radius) {
  @include border-radius($radius);
}

@mixin reset-border-radius {
  @include border-radius(0);
}

@mixin top-rounded-border($radius: $default-border-radius) {
  @include border-top-radius($radius);
}

@mixin left-rounded-border($radius: $default-border-radius) {
  @include border-left-radius($radius);
}

@mixin right-rounded-border($radius: $default-border-radius) {
  @include border-right-radius($radius);
}

@mixin bottom-rounded-border($radius: $default-border-radius) {
  @include border-bottom-radius($radius);
}

@mixin bottom-left-rounded-border($radius: $default-border-radius) {
  @include border-bottom-left-radius($radius);
}

@mixin disable-user-select {
  @include user-select(none);
}

@mixin default-button-style {
  @include sassy-button('shiny', $sb-border-radius, $sb-font-size, $sb-base-color, $sb-second-color, $sb-text-color, $sb-text-style, $sb-pseudo-states, $sb-ie-support);

  border-color: $button-border-color;
  margin: $default-form-field-margin;
}

@mixin default-focus-style($bg-color: $very-light-blue, $border: 1px solid $blue) {
  background-color: $bg-color;
  border: $border;
  @include box-shadow(0 0 6px $blue, inset 0 0 4px $light-blue);
  outline: none;
  @include transition(all 0.25s ease-in-out);

  &::-moz-focus-inner {
    border: none !important;
    padding: 1px !important;
  }
}

@mixin field_with_error {
  border-color: $error_border_color;
  color: $error_text_color;
  background-color: lighten($error_background_color, 8%);
  @include box-shadow(inset 1px 1px 4px rgba($error_border_color, 0.5));
}

@mixin default-input-style {
  @include box-sizing(border-box);
  $border-inset-color: lighten($default-border-color, 20%);
  @include rounded-corner;
  @include box-shadow(inset 1px 1px 2px $medium-gray);
  font: $default-font-style;
  padding: 1px 2*$default-padding;
  margin: $default-form-field-margin;
  background: #fff;
  border-top: 1px solid $default-border-color;
  border-left: 1px solid $default-border-color;
  border-bottom: 1px solid $border-inset-color;
  border-right: 1px solid $border-inset-color;
  width: 218px;
  font-size: 12px;
  line-height: 12px;
  height: 29px;
  @include transition(all 0.25s ease-in-out);

  &:focus {
    @include default-focus-style;
  }

  &.with_error { @include field_with_error }
}

@mixin text-overflow($prop: ellipsis) {
  text-overflow: $prop;
  -o-text-overflow: $prop;
  -ms-text-overflow: $prop;
  -moz-text-overflow: $prop;
}
