span.icon.module {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

span.module.dashboard {
  background-position: -240px 0;
}

span.module.pages {
  background-position: -40px 0;
}

span.module.library {
  background-position: -120px 0;
}

span.module.languages {
  background-position: -200px 0;
}

span.module.sites {
  background-position: -316px 0;
}

span.module.tags {
  background-position: -280px 0;
}

span.module.exit {
  background-position: -160px 0;
}
