#top_menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  margin-left: $main-menu-width;
  padding-right: $main-menu-width;
  z-index: 30;
  width: 100%;
  @extend .disable-user-select;

  .collapsed-menu & {
    margin-left: $collapsed-main-menu-width;
    padding-right: $collapsed-main-menu-width;
  }
}

#left_menu {
  box-sizing: border-box;
  z-index: 20;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: $main-menu-width;
  border-right: $default-border;
  background-color: $main-menu-bg-color;
  @extend .disable-user-select;

  .collapsed-menu & {
    width: $collapsed-main-menu-width;

    label {
      display: none;
      background-color: $main-menu-active-bg-color;
    }

    .main_navi_entry:not(.has_sub_navigation) {

      &:hover label {
        display: block;
      }

      label {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: $collapsed-main-menu-width - 1;
        width: $main-menu-width + 1;
        padding-left: 4*$default-padding;
      }
    }
  }

  label {
    padding-left: $default-padding;
    cursor: pointer;
  }

  a {
    text-shadow: $text-shadow-light;
  }

  img, .module.icon {
    position: relative;
    top: 2*$default-padding;
    border-style: none;
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: baseline;
  }
}

#main_navi {
  padding-top: 30px;
  padding-bottom: 80px;
}

.main_navi_entry {
  color: $main-menu-text-color;
  position: relative;
  display: block;
  line-height: 46px;

  &:hover {
    background-color: $main-menu-active-bg-color;

    &:not(.active),
    .collapsed-menu & {

      .sub_navigation {
        display: block;
        background-color: $main-menu-active-bg-color;
      }
    }
  }

  &.active {
    background-color: $main-menu-active-bg-color;
    color: $text-color;
    cursor: default;
  }

  a {
    display: block;
    padding-left: 3 * $default-padding;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $text-color;
    }
  }
}

body:not(.collapsed-menu) .main_navi_entry.active {

  .sub_navigation {
    position: static;
    display: block;
    width: auto;
  }

  .subnavi_tab {
    line-height: 24px;

    &:last-of-type {
      padding-bottom: $default-padding;
    }

    a {
      padding: 8px 4px 8px 44px;
    }
  }
}

.sub_navigation {
  position: absolute;
  width: $main-menu-width + 1;
  left: $main-menu-width - 1;
  top: 0;
  display: none;

  .collapsed-menu & {
    left: $collapsed-main-menu-width - 1;
  }
}

.subnavi_tab {

  a {
    padding-left: 4*$default-padding;

    &:hover {
      text-decoration: underline;
    }
  }

  &.active {
    text-decoration: underline;
  }
}

.locked_page {
  position: relative;
  float: left;
  line-height: $header-height - 1;
  color: #444;
  border-right: $default-border;
  border-bottom: $default-border;
  padding-right: 24px;

  form {
    position: absolute;
    right: $default-padding;
    top: 7px;
    line-height: 1;
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  > a {
    cursor: pointer;
    padding: 0px 8px;
  }

  .icon.close {
    vertical-align: text-bottom;
    text-shadow: $text-shadow-light;
  }

  .page_name {
    margin-right: $default-margin;
    text-shadow: $text-shadow-light;
  }

  .page_language {
    display: inline-block;
    color: $muted-text-color;
    margin-right: 2px;
    font-size: 10px;
    text-transform: uppercase;
  }

  .page_site {
    display: inline-block;
    color: $muted-text-color;
    margin-right: $default-margin;
    font-size: 10px;
  }
}
