.pagination {
  position: fixed;
  display: flex;
  align-items: center;
  background: $light_gray;
  bottom: 0;
  right: 0;
  width: 100%;
  left: 0px;
  height: 52px;
  padding: 2*$default-padding;
  padding-left: $main-menu-width + 10px;
  text-align: left;
  border-top: $default-border;
  z-index: 10;

  a, span, em {
    font-size: $default-font-size;
    font-weight: bold;
    color: $icon-color;
    padding: $default-padding 2*$default-padding;
    margin: 0 $default-margin/2;
  }

  a:hover {
    color: #000;
    text-shadow: none;
    text-decoration: none;
  }

  span a { padding: 0 }

  .current {
    color: $text-color;
    border: 1px solid $text-color;
    text-shadow: 0px 1px 1px #fff;
    cursor: default;
    border-radius: $default-border-radius;
  }

  .previous_page {
    margin-right: 2*$default-padding;
  }

  .next_page {
    margin-left: 2*$default-padding;
  }

  .disabled, span {
    color: #c0c0c0;
  }

  .gap {
    border: none;
    background: transparent;
    cursor: default;
    margin: 0;
  }

  .icon {
    color: inherit;
  }
}

.per-page-select-form {
  margin-left: auto;
  display: inline;
}

#assign_image_list .pagination, #assign_file_list .pagination {
  position: absolute;
  padding-left: 8px;
}
