/*
 *= require_self
 */

@import "bourbon";
@import "alchemy/defaults";

div#main_menu,
div#top_menu,
div#corner,
div#flash_notices,
div.pagination span,
div.pagination a {
  display: none;
}

div#archive_all {
  padding: 0;
}

span.icon.true:before {
  content: 'x';
}

div.pagination {
  text-align: right;
}

div.pagination em.current {
  border: none;
  text-shadow: none;
}

div.pagination em:before {
  content: 'Page ';
}
