.search_field {
  position: relative;
  margin-bottom: $default-margin;
  height: 29px;
}

.search_field,
.js_filter_field_box {
  .fa-search {
    position: absolute;
    left: 8px;
    top: 9px;
  }
}

.js_filter_field_box {
  position: absolute;
  right: 4px;
  top: 8px;

  .js_filter_field {
    width: 220px;
    text-align: left;
    border-radius: $default-border-radius;
    padding: 3px 24px 3px 28px;
    height: 29px;
    margin: 0;
  }

  label {
    font-size: $small-font-size;
    display: block;
    text-align: center;
    padding-top: 3px;
  }
}

.search_field_clear,
.js_filter_field_clear {
  display: none;
  position: absolute;
  top: 7px;
  right: 8px;
  width: 16px;
  height: 16px;
  line-height: 14px;
  text-align: center;
}

#toolbar,
#overlay_toolbar {

  .search_form,
  .js_filter_field_box {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
  }

  .search_field {
    height: inherit;
  }

  .search_input_field {
    width: 150px;
    height: inherit;
    border: none;
    background-color: transparentize($form-field-background-color, 0.25);
    transition:
      width $transition-duration ease-in-out,
      background-color $transition-duration linear;
    border-radius: 0;
    padding: 8px 16px 8px 32px;
    margin: 0;
    text-align: left;
    box-shadow: none;
    -webkit-appearance: none;

    &:focus {
      width: 250px;
      background-color: $form-field-background-color;

      @include default-focus-style(
        $box-shadow: inset 0 0 0 2px $focus-color,
        $border-radius: 0
      );
    }
  }

  .search_field .icon,
  .js_filter_field_box .icon {
    top: 18px;
  }

  .search_field_clear,
  .js_filter_field_clear {
    top: 16px;
  }
}
