#toolbar div.search_field {
  position: relative;
  float: left;
  margin-bottom: $default-margin;
}

div#image_assign_filter_and_image_sizing form div.search_field {
  margin-right: 4px;
  float: left;
  position: relative;
}

#alchemy a.search_field_clear {
  width: 16px;
  height: 16px;
  @extend .icon-cancel;
  position: absolute;
  right: 8px;
  top: 7px;
  text-decoration: none;
}

td#tags_tag_list {
  text-align: left;

  ul.tags {
    max-height: 10em;
    padding: 1px;
    margin: 0;
    margin-top: 2px;
    overflow: auto;
    text-align: left;
    list-style-type: none;

    li {
      background-color: white;
      padding: 4px;
      margin: 0;
      position: relative;

      &.odd { background-color: #eaf3f9 }

      input {
        position: absolute;
        top: 3px;
        left: 4px;
      }

      label {
        display: inline-block;
        margin-left: 2em;
        line-height: 1.6em;
      }
    }
  }

  .js_filter_field_box {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;

    .js_filter_field {
      width: 100%;
      @include border-radius(3px);
    }

    label {
      display: none
    }
  }
}
