$medium-select-box-width: 90px;

select {
  @include button-defaults(
    $background-color: $form-field-background-color,
    $hover-color: $form-field-background-color,
    $hover-border-color: darken($default-border-color, 10%),
    $padding: 0 2*$default-padding,
    $border: 1px solid $default-border-color,
    $box-shadow: none,
    $color: $text-color,
    $margin: 0);
  height: $form-field-height;
  padding: 0.4em 0.6em;
  max-width: 100%;
  width: auto;
  font-weight: normal;
  vertical-align: middle;

  &.alchemy_selectbox.medium {
    width: $medium-select-box-width;
  }
}

.select2-container {
  &.alchemy_selectbox {
    .select2-choice {
      height: $form-field-height;
      @include button-defaults(
        $background-color: $form-field-background-color,
        $hover-color: $form-field-background-color,
        $hover-border-color: darken($default-border-color, 10%),
        $padding: $form-field-padding,
        $border: 1px solid $default-border-color,
        $box-shadow: none,
        $color: $text-color,
        $margin: 0);
      background-image: none;
      display: block;
      font-weight: normal;
      text-align: left;

      .select2-arrow {
        top: 0;
        width: $form-field-height;
        height: $form-field-height;
        background: transparent;
        border-left: 0 none;

        b {
          @extend .fas;
          background-image: none;
          opacity: $addon-icon-opacity;

          &:before {
            content: fa-content($fa-var-caret-down);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    &.medium {
      width: $medium-select-box-width;
    }

    &.select2-container-active {

      .select2-choice, .select2-choices {
        @include default-focus-style($box-shadow: 0 0 0 1px $focus-color);
      }
    }

    &.select2-container-disabled {

      &:hover {
        + .with-hint > .hint-bubble {
          @include hint-hover-style;
          top: 10px;
        }
      }

      + .with-hint > .hint-bubble {
        top: 0;
      }

      .select2-choice, .select2-choice:hover {
        background-image: none;
        background-color: $light-gray;
        box-shadow: none;
        border-color: $border-inset-color;
        cursor: not-allowed;

        .select2-arrow {
          border-color: $border-inset-color;

          b { color: $border-inset-color; }
        }
      }
    }
  }

  &.select2-container-multi {
    margin-top: 0 !important;

    &.select2-container-active {

      .select2-choices {
        @include default-focus-style($box-shadow: 0 0 0 1px $focus-color);
      }
    }

    .select2-choices {
      @extend %default-input-style;
      padding: 0 2px;
      width: 100%;

      .select2-search-choice {
        margin: 4px;
        padding: 4px 24px 4px 8px;
        background-image: none;
        border: 0 none;
        box-shadow: none;
        color: $text-color;
      }

      .select2-search-choice-close {
        @extend .fas;
        @extend .fa-fw;
        left: auto;
        right: 5px;
        top: 5px;
        background: none;
        font-size: $small-font-size;
        text-decoration: none;

        &:before {
          @extend .fa-xs;
          content: fa-content($fa-var-times);
          opacity: $addon-icon-opacity;
        }

        &:hover {
          color: $text-color;
        }
      }

      .select2-search-field {
        height: 29px;

        input {
          color: $form-field-text-color;
          padding: 3px 6px;
          margin: 0;
        }
      }
    }
  }
}

.select2-drop {

  .select2-search {
    margin: $default-margin 0;

    .select2-input {
      width: inherit;
    }
  }

  &.select2-with-searchbox .select2-results > .select2-result:first-child {
    @include border-top-radius(0);
  }

  .select2-results {
    padding: 0;
    margin: 0;

    > .select2-result:first-child {
      @include border-top-radius($default-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($default-border-radius);
    }

    .select2-result {
      margin: 0;
      padding: 4px 0;

      &.select2-highlighted {
        background: $select-hover-bg-color;
        color: $select-hover-text-color;
      }

      &.select2-result-with-children {
        padding: 0;
      }
    }

    .select2-no-results, .select2-searching {
      padding: 8px;
      margin: 0;
    }

    .select2-result-label {
      padding: 4px 8px;
    }

    ul.select2-result-sub > li .select2-result-label {
      padding-left: 16px;
    }
  }

  &.select2-drop-active {
    border-radius: $default-border-radius;
    border: $default-border;
  }
}

.window_form, #filter_bar {

  .select2-container {
    width: 100%;
  }
}

.select_with_label {
  margin: 0 3*$default-margin;
  display: inline-block;
  vertical-align: middle;

  label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2*$default-margin;
  }
}

// overriding important of select2 default style for retina screens
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 2dppx) {

  #alchemy {

    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
       background-image: none !important;
    }
  }
}
