//= require select2

select {
  @extend %button-defaults;
  height: 29px;
  padding: 0.4em 0.6em;
}

.select2-container {

  &.tiny {

    .select2-choice {
      height: 18px;
      line-height: 18px;

      .select2-arrow b {
        background-position: 0 -3px;
      }
    }

    &.select2-dropdown-open {
      .select2-choice .select2-arrow b {
        background-position: -18px -3px;
      }
    }
  }

  &.select2-container-active {

    .select2-choice, .select2-choices {
      @extend %blue-focus-style;
    }
  }
}

.select2-drop {

  .select2-results {
    padding: 0;
    margin: 0;

    .select2-result {
      margin: 0;
      padding: 4px;

      &.select2-highlighted {
        background: $button-hover-bg-color;
        color: $text-color;
      }

      &.select2-result-with-children {
        padding: 0;
      }
    }

    .select2-no-results {
      padding: 4px;
      margin: 0;
    }

    .select2-result-label {
      padding: 4px 8px;
    }
  }

  &.select2-drop-active {
    border-color: $blue;
  }
}

.window_form, #filter_bar {

  .select2-container {
    width: 100%;
  }
}
