#sort_panel {
  background: $light-gray;
  padding: 47px 0 8px 0;
  position: fixed;
  top: 29px;
  left: 0;
  z-index: 1;
  width: 100%;
  border-bottom: $default-border;

  div.info {
    margin: 16px 12px 8px 163px;
  }

  .buttons {
    margin: 0 12px 0 163px;
    text-align: right;
  }
}

#sitemap-wrapper {
  position: relative;
  min-height: 100%;
}

.sitemap_pagename_link {
  display: block;
  padding: 0 10px;
  margin: 2px;
  text-decoration: none;

  &.inactive {
    color: #656565;
  }
}

.redirect_url {
  float: right;
  text-align: right;
  background-color: $sitemap-info-background-color;
  line-height: $sitemap-line-height;
  font-size: $small-font-size;
  padding: 0 2*$default-padding;
  max-width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#page_selector_container {
  height: 230px;
  background-color: $light-gray;
  margin-bottom: 4px;
  border-width: $form-field-border-width;
  border-style: $form-field-border-style;
  border-color: $form-field-border-color;
  overflow: auto;
  padding: 4px 0 0 4px;
  border-radius: $default-border-radius;

  .sitemap_pagename_link:hover {
    text-decoration: none;

    &:after {
      display: none;
    }
  }

  .sitemap_right_tools {
    width: 24px;
  }
}

.sitemap_line_spacer {
  float: left;
  width: 20px;
  height: 28px;
}

.sitemap_page {
  height: $sitemap-line-height;
  margin: 3*$default-margin 0;
  position: relative;
  transition: background-color $transition-duration;

  &.highlight {
    background-color: $sitemap-highlight-color;
  }

  &.no-match .sitemap_pagename_link {
    color: $medium-gray;
  }

  &:hover {
    background-color: $sitemap-page-hover-color;
    border-radius: $default-border-radius;
  }
}

.sitemap_sitename {
  @include border-left-radius($default-border-radius);
  line-height: $sitemap-line-height - 4;
  overflow: hidden;
  background-color: $sitemap-page-background-color;

  &.without-status {
    @include border-right-radius($default-border-radius);
  }
}

.sitemap_left_images {
  position: relative;
  width: 32px;
  line-height: $sitemap-line-height;
  float: left;
  padding: 0 2*$default-padding;
  text-align: center;
}

.sitemap_right_tools {
  height: $sitemap-line-height;
  padding: 0 2*$default-padding;
  float: right;

  .sitemap_tool {
    float: left;
    width: $sitemap-line-height;
    height: $sitemap-line-height;
    line-height: $sitemap-line-height;
    text-align: center;
    margin: 0;

    &.disabled .icon {
      opacity: 0.25;
      filter: grayscale(100%);
    }

    a {
      display: block;
    }
  }

  .icon.blank {
    margin-left: 2px;
    float: left;
    margin-top: 3px;
    margin-right: 3px;
  }
}

#sitemap {
  padding: 0 0 104px 0;

  &.sorting {
    padding-top: 100px;

    .page_icon { cursor: move }
  }

  .page_folder {
    position: absolute;
    left: -23px;
    top: 0;
  }

  .placeholder {
    background-color: $medium-gray;
    margin-bottom: 0px;
    margin-left: 22px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding-left: 0;

    .selected_page {
      background-color: $linked-color;
      color: $dark-gray;
    }

    li {
      padding-left: $sitemap-line-height;
      padding-right: 0;
    }
  }
}

.page_infos {
  @extend .right-rounded-border;
  background-color: $sitemap-page-background-color;
  border-left: 1px solid $light-gray;
  float: right;
  height: $sitemap-line-height;
  line-height: $sitemap-line-height;
  padding: 0 $default-padding;

  .page_status {
    padding: 0 $default-padding;
  }
}

.page_status_and_name .page_status {
  margin-left: 2px;
}

.page_status {
  display: inline-block;
}

#sitemap_heading {
  padding: 0;

  .page_infos {
    margin-right: 210px;
    text-align: left;
    float: right;
    line-height: 28px;
    background: transparent;
  }

  .page_name {
    line-height: 28px;
    margin-left: 43px;
  }
}

#page_filter_result {
  display: none;
  margin-left: 2*$default-margin;
}

.alchemy-dialog {
  #sitemap-wrapper {
    min-height: 0;
  }

  #sitemap {
    margin: 0;
    padding: 0 24px 8px 8px;

    .page_icon { cursor: default }
  }
}

.elements_from_page_selector {
  width: 100%;
}
