body {
  margin: 0;
  padding: 0;
  font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #3e3e3e;
}

.image_with_link a {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 600px;
  display: block;
}

div.image_with_link {
  position: relative;
}

.image_with_link a:hover {
  border-width: 4px;
  border-style: solid;
  border-color: #ffa300;
  background: transparent;
  border-bottom-style: none;
  border-top-style: none;
  width: 592px;
}

a {
  background-color: #ffa300;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  color: #333;
  text-decoration: none;
}

a img {
  border: none;
}

#breadcrump {
  height: 22px;
  text-align: right;
  font: 10px "Lucida Grande", Lucida, Verdana, sans-serif;
  margin-bottom: 12px;
  float: right;
}

div#language_select {
  height: 22px;
  text-align: right;
  font: 10px "Lucida Grande", Lucida, Verdana, sans-serif;
  margin-bottom: 12px;
  float: left;
}

#language_select a {
  text-decoration: none;
  float: left;
  text-transform: uppercase;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 12px;
}

#language_select span {
  float: left;
  padding-top: 12px;
}

#language_select a.active {
  background-color: #c0c0c0;
}

#page {
  width: 900px;
  margin: 0 auto;
}

#breadcrump a {
  text-decoration: none;
  float: right;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 12px;
}

#breadcrump a.active {
  background-color: #c0c0c0;
}

#breadcrump span {
  float: right;
  padding-top: 12px;
}

#header {
  width: 900px;
  height: 300px;
  margin-bottom: 50px;
  clear: both;
}

div#header_image {
  position: absolute;
  z-index: 0;
}

#claim {
  font: 24px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #252525;
  position: relative;
  top: 30%;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  background: #fff none no-repeat;
  float: left;
}

#navigation {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #fdfdfd;
  text-transform: uppercase;
  position: absolute;
  top: 215px;
  z-index: 100;
}

#navigation ul {
  margin: 0;
  padding: 0;
  background-color: white;
  list-style-type: none;
  float: left;
}

#navigation ul li:hover {
  background-color: #ffa300;
}

#navigation ul.navigation.level_1 li {
  display: inline;
  float: left;
}

#navigation ul.navigation.level_2 li {
  display: block;
  float: none;
}

#navigation ul.navigation.level_3 li {

}

#navigation a.active {
  background-color: #c0c0c0;
}

#navigation ul.navigation.level_2 > li.last {

}

#navigation ul li a {
  padding: 6px;
  display: block;
  text-decoration: none;
  color: #252525;
  background-color: transparent;
}

#navigation ul li a:hover {
  color: #fff;
}

#navigation ul.navigation.level_2 {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: black -1px 4px 6px;
  float: left;
  clear: both;
}

#navigation ul.navigation.level_3 {
  display: none;
  z-index: 20;
  background-color: white;
  float: none;
}

#navigation ul.navigation.level_3 li {
  padding-left: 20px;
}

#navigation ul.navigation.level_1 li:hover ul.navigation.level_2 {
  display: block;
}

#navigation ul.navigation.level_2 li:hover ul.navigation.level_3 {
  display: block;
}

#content {
  width: 900px;
}

.article, .bild_text {
  width: 900px;
  overflow: hidden;
  margin-bottom: 24px;
  clear: both;
}

.intro {
  color: #fff;
  font: 24px "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: #383838;
  padding: 4px 12px;
  float: left;
  clear: both;
}

.intro p {
  margin: 0;
  padding: 0;
}

h1,
.headline {
  color: #fff;
  font: 26px "Lucida Grande", Lucida, Verdana, sans-serif;
  text-transform: uppercase;
  background: #383838;
  float: left;
  clear: both;
  padding: 4px 12px;
  margin-bottom: 0;
}

.text_bild_container {
  clear: both;
}

.text_bild_container .image_caption {
  width: 426px;
}

.image.left {
  margin-right: 12px;
  float: left;
}

.image.right {
  margin-left: 12px;
  float: right;
}

.image_caption,
.caption {
  color: #fff;
  font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: #383838;
  clear: both;
  padding: 2px 12px;
}

img {
  display: block;
}

.article .text, .bild_text .text {
  clear: none;
  float: none;
}

.text {
  width: 888px;
  margin: 0 0 12px;
  padding: 2px 0 0 12px;
  margin: 0 0 12px;
  clear: both;
}

.footer {
  width: 900px;
  height: 200px;
  padding-top: 100px;
  text-align: right;
  font-size: 10px;
  clear: both;
  float: left;
}

#spacer {
  height: 100px;
  width: 900px;
}

.image_mosaic_image,
.bilder_gallery_image {
  float: left;
  position: relative;
}

.image_mosaic_image .image_caption {
  width: 276px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.bild {
  margin-bottom: 24px;
  clear: both;
}

input.field {
  padding: 4px;
  margin: 0;
  font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
  border: 1px solid silver;
  width: 310px;
}

td.field {
  white-space: nowrap;
}

input.field.short {
  width: 97px;
}

input.field.medium {
  width: 200px;
}

td.label {
  width: 130px;
}

textarea {
  width: 314px;
  padding: 2px;
  font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
  border: 1px solid silver;
  margin-left: 126px;
  height: 10em;
  margin-top: 2em;
  margin-bottom: 1em;
}

div.field_with_errors {
  color: #fe1b15;
}

div.field_with_errors input.field {
  border-color: #fe1b15;
}

p.foot_notice {
  font-size: 0.8em;
}

form#contact {
  padding: 0 0 0 12px;
  width: 450px;
}

#errorExplanation {
  color: #fe1d16;
  margin-bottom: 20px;
  margin-top: 20px;
}

#errorExplanation ul {
  list-style-type: disc;
  padding: 0 0 0 1.5em;
}

label {
  font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

p.right {
  text-align: right;
}

.searchresult {
  margin-top: 1em;
  margin-bottom: 1em;
}

.searchresult form {
  padding-left: 12px;
}

.searchresult h2 {
  padding-left: 12px;
  margin-bottom: 2em;
  margin-top: 1em;
}

.search_results ul {
  list-style-type: none;
  padding: 0 0 0 12px;
}

.search_results ul li {
  margin-bottom: 2em;
}

.search_results ul li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.search_results ul li h3 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.search_results ul li h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.search_results em {
  font-weight: bold;
}
