@import "alchemy/defaults";

table {
  border-style: none;
  border-spacing: 0 $default-padding;
  padding: 0;
  font-size: inherit;
  width: 100%;

  td, th {
    padding: $default-padding;
    white-space: nowrap;
    vertical-align: top;
    line-height: 18px;

    &.wrap-text {
      white-space: normal !important;
    }
  }

  th {
    text-align: left;
    height: 22px;
    vertical-align: top;
  }
}

table tr td.tools {
  width: 40px;
  background-color: $light-gray;
  white-space: nowrap;
  @include disable-user-select;
}

td.label, td.input, td.submit, td.select, td.value {
  padding: 2px 0;
  vertical-align: top;
}

td.input, td.submit, td.select, td.value {
  text-align: right;

  &.left {
    text-align: left;
  }
}

td.label {
  white-space: nowrap;
  width: 80px;
  padding: 9px 2*$default-padding 0 0;
  line-height: 21px;

  &.mandatory:after {
    content: '*';
  }

  &.long {
    width: 140px;
  }

  &.middle {
    padding-left: 2*$default-padding;
  }

  &.very_long {
    width: 230px;
  }
}

td.checkbox {
  padding-top: 10px;
  text-align: right;
  white-space: nowrap;

  label {
    @include inline-block;
    text-align: left;
    width: 194px;
  }

  &.long {
    label {
      width: 224px;
    }
  }

  input[type="checkbox"] {
    vertical-align: middle;
    margin-top: 4px;
  }
}

td.value {
  padding-top: 4px;

  p {
    @include inline-block;
    width: 214px;
    text-align: left;
    margin: $default-form-field-margin;
    line-height: 25px;
  }

  &.long {
    p {
      width: 244px;
    }
  }
}

td.heading {
  padding: $default-padding 0;
  font-weight: bold;
  text-decoration: underline;
}

table tr td.tools a {
  width: 19px;
  height: 19px;
  margin-right: 2px;
}

table tr td.tools.long {
  width: 60px;
}

table tr td.icon {
  background-color: $light-gray;
  width: 20px;
  text-align: center;
}

table.list tr:hover td {
  background-color: #fffdef;
}

td.file_type {
  width: 130px;
  white-space: nowrap;
}

td.file_size {
  width: 80px;
}

td.date {
  width: 150px;
}

table td.right, table th.right {
  text-align: right;
  padding-right: 0;
}

table td.center, table th.center {
  text-align: center;
}

td.login {
  width: 100px;
}

td.email {
  width: 270px;
}

td.role {
  width: 10%;
}

table td.rights {
  width: 60px;
}

table.window_form {
  width: 100%;
}

th.login_status {
  width: 16px;
}

table tr.odd td {
  background-color: #eaf3f9;
}

table tr.even td {
  background-color: white;
}

th.icon, td.icon {
  background: none;
  display: table-cell;
}
