#toolbar {
  z-index: 10;
  padding: 4px;
  height: 44px;
  @extend %gradiated-toolbar;
  margin-right: 0px;
  border: $default-border;
  border-top-style: none;
  border-right-style: none;
  position: relative;

  div.button_with_label {

    form {
      margin: 0;
      @include inline-block;
      line-height: 5px;

      select { margin: 0 }

      label {
        margin-top: $default-margin;
      }
    }
  }

  div p {
    float: right;
    margin: 3px $default-margin 0 0;
    padding: 0;
  }

  a.button {
    width: 25px;
    height: 21px;
    text-decoration: none;
    float: right;
    border-width: 0;
    border-style: none;
    font-size: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 0 0;

    &:active {
      text-decoration: none;
      background-position: 0 -21px;
    }
  }

  .js_filter_field {
    @include border-radius(15px);
  }

  .js_filter_field_box {
    margin-right: 2*$default-margin;

    label {
      margin: 0;
    }
  }

  .search_form {
    position: absolute;
    top: 4px;
    right: 8px;
    text-align: center;
  }
}

.toolbar_buttons {
  margin-right: 8px;
  white-space: nowrap;

  &.right {
    position: absolute;
    right: 8px;
    top: 4px;
    margin-left: 8px;
  }
}

.toolbar_spacer {
  @include inline-block;
  width: 1px;
  height: 37px;
  border-right-style: dotted;
  border-right-width: 1px;
  margin-right: 2*$default-margin;
  margin-left: $default-margin;
}

#overlay_toolbar {
  @extend %gradiated-toolbar;
  border: $default-border;
  height: 44px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  padding: $default-padding;

  a.button {
    width: 25px;
    height: 21px;
    text-decoration: none;
    float: right;
    border-width: 0;
    border-style: none;
    font-size: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 0 0;

    &:active {
      text-decoration: none;
      background-position: 0 -21px;
    }
  }

  .search_field {
    width: 225px;
  }

  form {
    float: right;
    width: 310px;
    margin-top: 2px;
    padding: 0 !important;
    margin-right: 0;

    .button {
      position: absolute;
      top: 2px;
      right: 4px;
    }
  }
}
