#toolbar {
  z-index: 10;
  @extend %gradiated-toolbar;
  margin-right: 0px;
  border: $default-border;
  border-top-style: none;
  border-right-style: none;
  position: relative;

  .button_with_label {

    form {
      margin: 0;
      @include inline-block;
      line-height: 5px;
    }
  }

  div p {
    float: right;
    margin: 3px $default-margin 0 0;
    padding: 0;
  }

  .button {
    width: 25px;
    height: 21px;
    text-decoration: none;
    float: right;
    border-width: 0;
    border-style: none;
    font-size: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 0 0;

    &:active {
      text-decoration: none;
      background-position: 0 -21px;
    }
  }

  .js_filter_field {
    border-radius: 15px;
  }

  .js_filter_field_box {
    margin-right: 2*$default-margin;

    label {
      margin: 0;
    }
  }

  .search_form {
    position: absolute;
    top: 8px;
    right: 8px;
    text-align: center;
  }
}

.toolbar_buttons {
  margin-right: 8px;
  white-space: nowrap;

  &.right {
    position: absolute;
    right: 0;
    top: 8px;
    margin-left: 8px;

    label {
      left: auto;
      right: 50%;
      margin-left: 0;
      margin-right: -12px;

      &:before {
        left: auto;
        right: 8px;
      }
    }
  }
}

.toolbar_spacer {
  @include inline-block;
  width: 0px;
  height: 29px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: $default-border-color;
  margin-right: $default-margin;
  margin-left: $default-margin;
}

#overlay_toolbar {
  @extend %gradiated-toolbar;
  border-bottom: $default-border;

  .button {
    width: 25px;
    height: 21px;
    text-decoration: none;
    float: right;
    border-width: 0;
    border-style: none;
    font-size: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 0 0;

    &:active {
      text-decoration: none;
      background-position: 0 -21px;
    }
  }

  .remote-search-form {
    float: right;
    margin-right: 8px;

    .button {
      position: absolute;
      top: 4px;
      right: 8px;
    }
  }
}

.button_group {
  position: relative;
  @include inline-block(top);
  margin: 0 2*$default-margin;

  &:hover label {
    display: block;
  }

  .button_with_label {
    margin: 0;
  }
}
