.upload-button {
  @include inline-block(top);
}

.fileupload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.dragover,
#main_content.dragover {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(#ccc, 0.5);
  }
}

.overall-upload {
  box-sizing: border-box;
  position: fixed;
  bottom: -100%;
  left: 0;
  z-index: 150;
  width: 100%;
  height: auto;
  padding: 8px;
  overflow: hidden;
  background-color: rgba($dark-gray, 0.6);
  transition: all 250ms ease-in-out;

  &.visible {
    bottom: 0;
  }

  .progress {
    width: 0%;
    height: 24px;
    line-height: 24px;
    color: $text-color;
    background-color: $success_background_color;
    text-indent: 2*$default-padding;
    overflow: visible;
    white-space: nowrap;
    @include border-radius($default-border-radius);
  }
}

.upload-progress-container {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 236px;

  .progress-wrapper {
    padding: 2*$default-padding;
    background-color: $medium-gray;
    position: relative;
    margin-top: 8px;
    @extend %rounded-border;
  }

  .progress-name,
  .progress-bar-status {
    margin-bottom: 4px;
  }

  .progress-name {
    text-shadow: 0 1px 2px #ffffff;
  }

  .progress-bar-status {
    font-size: 10px;
  }

  .progress-bar-container {
    background-color: #f9f9f9;
    @extend %rounded-border;
    height: 16px;
    overflow: hidden;
    width: 100%;
  }

  .progress-bar-in-progress {
    background-color: $info_background_color;
    height: 16px;
    width: 0;
  }

  .progress-bar-complete {
    background-color: $success_background_color;
    height: 16px;
    width: 0;
  }

  .progress-bar-error {
    background-color: $error_background_color;
    height: 16px;
    width: 0;
  }

  .progress-bar-canceled {
    background-color: #c9c9c9;
    height: 16px;
    width: 0;
  }

  .progress-cancel {
    @extend .icon-cross;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 4px;
  }
}
