$text-color: #333333;
$light-blue: #C6DBE7;
$blue: darken($light-blue, 15%);
$very-light-blue: lighten($light-blue, 12%);
$light-gray: #EDEDED;
$medium-gray: #E3E3E3;
$dark-gray: #666666;
$light_yellow: #ffffdc;

$default-padding: 4px;
$default-margin: $default-padding;

$default-font-face: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
$mono-font-face: Menlo, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
$default-font-size: 12px;
$default-font-style: $default-font-size $default-font-face;

$default-border-color: #AFAFAF;
$default-border-width: 1px;
$default-border-style: solid;
$default-border: $default-border-width $default-border-style $default-border-color;
$default-border-radius: 3px;

$button-bg-color: #F7F7F7;
$button-hover-bg-color: #e6f0f5;
$button-border-color: #9A9A9A;
$button-hover-border-color: #888888;
$button-text-shadow: #f2f2f2 1px 1px 0;

$sb-base-color:      $light-gray;
$sb-border-radius:   $default-border-radius;
$sb-font-size:       $default-font-size;
$sb-text-color:      $text-color;
$sb-ie-support:      true;
$default-form-field-margin: $default-padding 0;

$error_border_color: #c49c9c;
$error_text_color: #592e2e;
$error_background_color: #efd3d3;
