@import "alchemy/variables"
@import "alchemy/fonts"

body
  background-color: $main-menu-bg-color
  color: $white
  font-family: $default-font-family
  font-weight: normal
  font-size: 15px
  line-height: 22px

h3
  font-weight: bold
  font-size: 25px
  line-height: 1.2
  margin-bottom: 20px
  padding-top: 20px

.container
  position: absolute
  top: 50%
  left: 50%
  width: 600px
  margin-top: -50px
  transform: translateY(-50%) translateX(-300px)

ul
  line-height: 1.6
  margin-bottom: 17px
  padding: 0
  padding-left: 20px
  margin: 0px
  list-style-position: outside

li
  color: $white
  margin-bottom: 12px
  background-color: none
  border-bottom: 0 none
  line-height: 22px

a
  color: $white
  text-decoration: underline
  transition: all 0.1s ease-in-out

  &:hover
    color: $white
    text-decoration: none
