<h1>
  <% if @first_time -%>
    <%= Alchemy.t(:welcome_note, name: @user.alchemy_display_name) %>
  <% else -%>
    <%= Alchemy.t(:welcome_back_note, name: @user.alchemy_display_name) %>
  <% end -%>
</h1>
<% if @last_sign_at %>
  <p>
    <small><%= Alchemy.t('Your last login was on', time: l(@last_sign_at, format: :'alchemy.default')) %></small>
  </p>
<% end %>
