# == In this configuration, you set up Alchemy's menu names.
#
# For further information please see http://guides.alchemy-cms.com/stable/menus.html

<%- unless @options[:skip_demo_files] -%>
- main_menu
- footer_menu
<%- end -%>
