.attachment-select--attachment {
  display: flex;
  align-items: center;

  > alchemy-icon {
    flex: none;
  }

  .icon {
    margin: 0 var(--spacing-1) 0 0;

    .ts-dropdown .option.active & {
      fill: var(--color-white);
    }
  }
}

.attachment-select--attachment-name {
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
