.attachment_preview_container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  background-color: var(--panel-background-color);
  margin-top: va r(--spacing-1);

  img,
  audio,
  video {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
