#clipboard_items {
  ul {
    list-style-type: none;
    margin: 0 0 var(--spacing-2);
    padding: 0;
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;

    li {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
      padding: var(--spacing-2);
      border: $default-border;
      background-color: white;
      border-radius: $default-border-radius;

      &.elements {
        background-color: var(--color-grey_light);
      }

      .icon_button {
        margin-left: auto;
        cursor: pointer;
      }
    }
  }
}
