.element-select-item {
  display: flex;
  align-items: center;

  > svg {
    flex-shrink: 0;
    width: auto;
    height: var(--spacing-4);
    fill: currentColor;
    padding-right: var(--spacing-2);
  }
}
