#errorExplanation {
  background: var(--notice-error-background-color);
  padding: var(--spacing-2);
  text-align: left;
  margin-bottom: var(--spacing-2);
  border: 1px solid var(--notice-error-border-color);
  color: var(--notice-error-text-color);
  border-radius: var(--border-radius_medium);

  h2 {
    font-size: var(--font-size_medium);
  }

  ul {
    padding: 0 0 0 var(--spacing-4);
  }
}

div#errors,
div.errors {
  margin-bottom: var(--spacing-2);
  padding: var(--spacing-2) var(--spacing-2) var(--spacing-1) var(--spacing-7);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius_medium);
  border-color: var(--notice-error-border-color);
  color: var(--notice-error-text-color);
  background-color: var(--notice-error-background-color);
  display: none;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
  }

  ul li {
    margin-bottom: 0.5em;
  }
}

body.error {
  .error.message {
    max-height: 100%;
    overflow-y: scroll;
  }

  alchemy-message[type="error"] {
    margin: 0;
  }
}

.turbo-frame-error {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  padding: var(--spacing-2);
  background-color: var(--notice-warning-background-color);
  border: 1px solid var(--notice-warning-border-color);
  border-radius: var(--border-radius_medium);
  margin: var(--spacing-2);
  color: var(--notice-warning-text-color);

  &:before {
    display: inline-block;
    content: "";
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12.8659 3.00017L22.3922 19.5002C22.6684 19.9785 22.5045 20.5901 22.0262 20.8662C21.8742 20.954 21.7017 21.0002 21.5262 21.0002H2.47363C1.92135 21.0002 1.47363 20.5525 1.47363 20.0002C1.47363 19.8246 1.51984 19.6522 1.60761 19.5002L11.1339 3.00017C11.41 2.52187 12.0216 2.358 12.4999 2.63414C12.6519 2.72191 12.7782 2.84815 12.8659 3.00017ZM4.20568 19.0002H19.7941L11.9999 5.50017L4.20568 19.0002ZM10.9999 16.0002H12.9999V18.0002H10.9999V16.0002ZM10.9999 9.00017H12.9999V14.0002H10.9999V9.00017Z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat center center;
    background-color: var(--notice-warning-text-color);
    padding: var(--spacing-2);
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }
}
