@use "../extends";
@use "../mixins";

form {
  #main_content > &.alchemy {
    max-width: 600px;
    padding: var(--spacing-2);
    margin: 2em auto;
  }

  &.button-with-confirm {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .control-label {
    @include mixins.form-label;
  }

  .inline-label {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-2);
  }

  .input {
    display: grid;
    grid-template-columns: var(--form-left-column-width) minmax(
        0,
        var(--form-right-column-width)
      );
    align-items: baseline;
    gap: 0 var(--spacing-2);
    padding: var(--spacing-1) 0;

    textarea {
      padding-top: 7px;
      height: 6rem;
    }

    .input-row {
      margin: 0;
    }

    .select2-container,
    .select2-choices {
      width: 100%;
    }

    ::-webkit-input-placeholder {
      line-height: 16px;
    }

    select,
    .select2-container {
      margin: var(--form-field-margin);
    }

    &:has(.select2-container:not(.select2-container-multi)) {
      .control-label {
        align-self: center;
      }
    }

    &.boolean {
      height: var(--form-field-height);

      input,
      label {
        grid-column: 2;
        grid-row: 1;
        width: max-content;
        align-self: center;
        margin: var(--form-field-margin);
      }

      input {
        margin-left: var(--spacing-0);
      }

      label {
        margin-left: var(--spacing-6);
      }
    }

    label.checkbox {
      display: flex;
      align-items: baseline;
      gap: var(--spacing-1);
      margin: var(--spacing-1) 0;
      width: max-content;

      input {
        align-self: center;
        margin: 0 var(--spacing-0) 0 1px;
      }
    }

    &.language_locale small.error {
      @include mixins.form-hint(
        $background-color: var(--notice-error-background-color),
        $border-color: var(--notice-error-border-color),
        $color: var(--notice-error-text-color)
      );
      text-align: left;
    }

    &.tags {
      .control_group {
        gap: 0;
      }
    }

    &.tinymce_container {
      label {
        position: relative;
        top: calc(-1 * var(--spacing-1));
      }
    }
  }

  .field_with_errors {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    .select2-choices {
      @extend %field-with-error;
    }

    .select2-choice,
    .select2-choices {
      border-color: var(--notice-error-border-color);
      color: var(--notice-error-text-color);
      margin-bottom: var(--spacing-1);

      input[type="text"] {
        box-shadow: none;
      }
    }

    label {
      color: var(--notice-error-text-color);
    }
  }

  input:invalid:focus {
    @extend %field-with-error;
  }

  small.error {
    color: var(--notice-error-text-color);
    display: block;
    line-height: 1.5em;
    grid-column: 2;
    text-align: right;
    margin-bottom: 0.25em;
  }

  .input-addon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--form-field-addon-width);
    height: var(--form-field-height);
    position: absolute;
    bottom: var(--spacing-2);
    --select-background-image: none;

    select {
      width: 100%;
      padding: 0;
      text-align: center;
    }

    &.left {
      left: 0;

      select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.right {
      left: unset;
      right: 0;

      select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.second {
        left: unset;
        right: var(--form-field-addon-width);

        select {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          &:not(:focus) {
            border-right-width: 0;
          }
        }
      }
    }
  }

  .inline-input {
    display: grid;
    align-items: center;
    grid-template-columns: var(--form-right-column-width) var(
        --form-left-column-width
      );
    margin: 0 calc(-1 * var(--spacing-1));
    gap: var(--spacing-1);

    .left-column,
    .right-column {
      min-width: 0;
    }

    button,
    .button,
    input[type="submit"] {
      width: 100%;
    }
  }

  .control_group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    margin: var(--spacing-1) 0;
  }

  .input .hint {
    @include mixins.form-hint;

    a[href] {
      color: var(--hint-text-link-color);
      text-decoration-line: underline;
      text-decoration-color: inherit;
      text-decoration-thickness: 1px;

      &:hover {
        color: inherit;
        text-decoration-color: transparent;
      }
    }
  }

  .submit {
    display: grid;
    grid-template-columns: var(--form-left-column-width) var(
        --form-right-column-width
      );
    margin: var(--spacing-1) 0;
    gap: 0 var(--spacing-2);

    > button {
      grid-column: 2;
      grid-row: 1;
      width: max-content;

      &:last-of-type {
        margin-left: auto;
      }
    }

    label.checkbox {
      display: flex;
      align-items: center;
      gap: var(--spacing-0);
      width: max-content;
      grid-column: 2;
      grid-row: 1;

      input {
        margin-left: var(--spacing-0);
      }
    }
  }

  &.full_width .submit {
    grid-template-columns: 1fr 1fr;

    button {
      width: 100%;

      &:first-of-type {
        grid-column: 1;
      }
    }
  }

  &.simple_form {
    .buttons {
      margin-top: var(--spacing-1);
      margin-left: var(--form-left-column-width);
    }
  }

  .input-column {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 50%;

    > label {
      display: inline-block;
      margin-bottom: var(--spacing-1);
      text-align: left;
    }

    select,
    .select2-container {
      margin: var(--form-field-margin);
    }
  }

  &.full_width .input-column {
    width: 100%;
  }

  .input-row {
    display: flex;
    gap: var(--spacing-2);
    justify-content: space-between;
    margin: var(--spacing-2) 0;
  }
}
