@use "base";
@use "navigation";

alchemy-overlay {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 400000;
  background-color: transparent;
  transition: all var(--transition-duration) var(--transition-easing);
  transition-delay: 0;

  &.visible {
    visibility: visible;
    transition-delay: 300ms;
    transition-property: background-color;
    background-color: rgba(229, 229, 229, 0.2);
  }
}

div#overlay_text_box {
  color: #333333;
  font-size: 1.5em;
  left: 50%;
  line-height: 120px;
  margin-left: -100px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;

  img {
    position: relative;
    top: 9px;
  }
}

#logout {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;

  .main_navi_entry {
    margin-bottom: 0;
  }

  &:not(:hover) {
    background-color: var(--main-menu-bg-color);
  }
}

#header {
  display: flex;
  height: var(--header-height);
  background: var(--header-background);
  border-bottom: var(--border-default);
  position: relative;

  a:hover {
    text-decoration: none;
  }

  .page_status_and_name {
    align-items: center;
    padding: 0 var(--spacing-2);
    height: 100%;
    background-color: var(--toolbar-bg-color);
    text-shadow: var(--text-shadow-light);
    @extend .disable-user-select;
    @extend .locked_page;
    cursor: default;
    border-bottom-color: var(--toolbar-bg-color);

    .page_status {
      &:first-of-type {
        margin-left: var(--spacing-2);
      }
      margin-left: var(--spacing-1);
      margin-bottom: 0;

      // The lock icon is a bit too high, so we need to adjust it
      &:last-child {
        margin-bottom: 1px;
      }
    }
  }
}

#main_content {
  padding-top: 84px;
  padding-right: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: calc(var(--main-menu-width) + var(--spacing-2));
  z-index: 0;
  width: 100%;
  height: 100%;
}

#user_info {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding-left: var(--spacing-2);
  margin-left: auto;
  border-bottom: var(--border-default);
  background-color: var(--header-background);

  select {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-left: var(--border-default);
  }

  .current-user-name {
    padding-right: var(--spacing-2);
  }
}
