alchemy-picture-thumbnail {
  display: block;

  &[loading] {
    img {
      opacity: 0;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity var(--transition-duration);
  }
}
