.alchemy-popover {
  position: relative;
  width: 360px;
  padding: var(--spacing-2);
  padding-bottom: var(--spacing-0);

  alchemy-message {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--spacing-3);
  }

  label {
    margin-bottom: var(--spacing-1);
    font-size: var(--font-size_small);
  }

  span.error {
    display: block;
    background-color: var(--notice-error-background-color);
    color: var(--notice-error-text-color);
    padding: var(--spacing-2);
    border-radius: var(--border-radius_medium);
    font-size: var(--font-size_small);
  }

  .submit {
    gap: var(--spacing-2);

    button {
      width: 50%;
    }
  }
}
