@use "base";
@use "../mixins";

.resource_info {
  .value {
    position: relative;
    @include mixins.clearfix;

    > label {
      @include mixins.form-label;
    }

    > p {
      float: right;
      width: var(--form-right-column-width);
      margin: var(--form-field-margin);
      padding: var(--spacing-1) var(--spacing-2);
      line-height: 21px;
      min-height: var(--form-field-height);
      background: var(--form-field-background-color);
      border-radius: var(--border-radius_medium);
      @include mixins.truncate(var(--form-right-column-width));
    }

    &.with-icon {
      > p {
        white-space: nowrap;
        padding-right: 40px;
      }
    }
  }

  .icon_button--right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: var(--spacing-1);
    height: var(--form-field-height);
    background-color: var(--form-field-addon-background-color);
    padding: 0 var(--spacing-2);
    transition: background-color 0.3s;
    @extend .right-rounded-border;

    &:hover {
      cursor: pointer;
      background-color: var(--icon-button-hover-bg-color);
      text-decoration: none;
    }
  }
}
