@use "base";
@use "../mixins";

.resource_info {
  .value {
    position: relative;
    @include mixins.clearfix;

    > label {
      @include mixins.form-label;
    }

    > p {
      @include mixins.form-value-display;
      @include mixins.truncate(var(--form-right-column-width));
    }

    &.with-icon {
      > p {
        white-space: nowrap;
        padding-right: 40px;
      }
    }
  }

  .icon_button--right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: var(--spacing-1);
    height: var(--form-field-height);
    background-color: var(--color-grey_light);
    padding: 0 var(--spacing-2);
    transition: background-color 0.3s;
    @extend .right-rounded-border;

    &:hover {
      cursor: pointer;
      background-color: hsl(0deg, 0%, 84%);
      text-decoration: none;
    }
  }
}
