@use "sass:color";
@use "../extends";
@use "../mixins";

select {
  @include mixins.button-defaults(
    $background-color: var(--select-background-color),
    $hover-color: var(--select-background-color),
    $hover-border-color: var(--select-hover-border-color),
    $padding: var(--spacing-1) 26px var(--spacing-1) var(--spacing-2),
    $border: 1px solid var(--select-border-color),
    $box-shadow: none,
    $color: var(--select-text-color),
    $margin: 0
  );

  & {
    height: var(--form-field-height);
    max-width: 100%;
    width: auto;
    font-weight: normal;
    vertical-align: middle;
    background-image: var(--select-background-image);
    background-position: right 0.75em center;
    background-repeat: no-repeat;
    background-size: 1em;
  }

  &.tiny {
    padding-right: 0.6em;
  }

  &.medium {
    width: var(--select-medium-width);
  }

  &.large {
    width: var(--select-large-width);
  }

  &.x-large {
    width: var(--select-x-large-width);
  }
}

#filter_bar {
  select {
    width: 100%;
  }
}

.select_with_label {
  display: inline-flex;
  align-items: center;
  margin: 0 var(--spacing-3);

  label,
  alchemy-icon {
    margin-right: var(--spacing-2);
  }
}
