h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  padding: 0;
  margin: 1em 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: bold;
}

h1,
.h1 {
  font-size: 1.5rem;
}

h2,
.h2 {
  font-size: 1.25rem;
}

h3,
.h3 {
  font-size: 1.125rem;
}

h4,
.h4,
h5,
.h5 {
  font-size: 1rem;
}

h5,
.h5 {
  font-weight: normal;
}

p {
  margin: 0 0 var(--spacing-2) 0;
  white-space: normal;

  a {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-color: var(--text-link-color);
    text-decoration-thickness: 1px;

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

kbd,
code {
  border: 1px solid var(--code-border-color);
  border-radius: var(--border-radius_medium);
  background: var(--code-background-color);
  font-family: Courier, monospaced;
  margin: 0 0.25ex;
  padding: 0.25em 0.5em;
  vertical-align: baseline;
}
