<div class="page_status_and_name" id="page_<%= current_page.id %>_status">
  <%= render 'alchemy/admin/pages/page_status', page: current_page %>
  <%= render 'alchemy/admin/pages/page_infos', page: current_page %>
</div>
