<div class="page_status_and_name" id="locked_page_<%= current_page.id %>">
  <%= render 'alchemy/admin/pages/page_infos', page: current_page %>
  <%= render 'alchemy/admin/pages/page_status',
    published: local_assigns.fetch(:published, false),
    page: current_page %>
</div>
