<span class="page_status">
  <% if page.public? %>
    <%= render_icon(:cloud, size: "1x") %>
  <% else %>
    <%= render_icon("cloud-off", size: "1x", class: "disabled") %>
  <% end %>
</span>
<span class="page_status">
  <% if page.restricted? %>
    <%= render_icon(:lock, size: "1x") %>
  <% else %>
    <%= render_icon("lock-unlock", size: "1x", class: "disabled") %>
  <% end %>
</span>
