<li>
  <div class="sitemap_page ">
    <div class="sitemap_left_images">
      <%= render_icon(:page) %>
    </div>
    <div class="sitemap_right_tools">
      {{#unless redirects_to_external}}
        <%= link_to render_icon(:element_window),
          alchemy.list_admin_elements_path(page_id: '__ID__').gsub('__ID__', '{{id}}'),
          remote: true,
          data: {
            'page-id' => '{{id}}',
            url: @url_prefix + '{{urlname}}'
          },
          class: "show_elements_to_link sitemap_tool",
          title: Alchemy.t(:show_elements_from_page)
        %>
      {{/unless}}
    </div>
    <div class="page_infos">
      <span class="page_status {{#unless public}}not_{{/unless}}public" title="{{status_titles.public}}"></span>
      <span class="page_status {{#unless visible}}not_{{/unless}}visible" title="{{status_titles.visible}}"></span>
      <span class="page_status {{#unless restricted}}not_{{/unless}}restricted" title="{{status_titles.restricted}}"></span>
    </div>
    <div class="sitemap_sitename" id="sitemap_sitename_{{id}}" name="/<%= "#{Alchemy::Language.current.code}/" if multi_language? %>{{urlname}}">
      {{#if redirects_to_external}}
        <span class="sitemap_pagename_link inactive">{{ name }}</span>
      {{else}}
        <%= link_to('{{ name }}', '', {
          data: {
            'page-id' => '{{id}}',
            url: @url_prefix + '{{urlname}}'
          },
          title: Alchemy.t('page_for_links.choose_page', name: '{{name}}'),
          class: "sitemap_pagename_link"
        }) %>
      {{/if}}
    </div>
  </div>
  {{#if children}}
    <ul id="page_{{id}}_children">
      {{> list}}
    </ul>
  {{/if}}
</li>
