<div id="sitemap-wrapper">
</div>

<script id="sitemap-template" type="text/x-handlebars-template">
  <ul id="sitemap" class="list<%= @sorting ? ' sorting' : nil %>">
    {{> list}}
  </ul>
</script>

<script id="sitemap-list" type="text/x-handlebars-template">
  {{#each children}}
  <%= render partial: 'page', object: @page_root %>
  {{/each}}
</script>

<script type="text/javascript">
 $(function() {
   var request = $.ajax('<%= alchemy.tree_admin_pages_path(id: @page_root.id) %>');

   request.done(function (data) {
     var template = Handlebars.compile($('#sitemap-template').html());
     var list_template = $('#sitemap-list').html().replace(/\/<%= @page_root.id %>/g, '/{{id}}');

     Handlebars.registerPartial('list', list_template);
     $('#sitemap-wrapper').html(template({children: data.pages}));

     Alchemy.Sitemap.init();
   });

   // TODO: Prettify this.
   request.fail(function(jqXHR, textStatus) {
     alert("Request failed: " + textStatus);
   });
 });
</script>
