<h4 id="sitemap_heading">
  <span class="page_name"><%= Alchemy::Page.human_attribute_name(:name) %></span>
  <span class="page_urlname"><%= Alchemy::Page.human_attribute_name(:urlname) %></span>
  <span class="page_status"><%= Alchemy.t(:page_status) %></span>
</h4>

<alchemy-sitemap>
  <ul id="sitemap" class="list">
    <%= render Alchemy::Admin::PageNode.with_collection(@pages) %>
  </ul>
</alchemy-sitemap>
