<div id="overlay_tabs">
  <ul>
    <li><a href="#page_properties"><%= _t('Properties') %></a></li>
    <li>
      <a href="#legacy_urls" id="legacy_urls_label">
        <%= render 'alchemy/admin/legacy_page_urls/label', count: @page.legacy_urls.size %>
      </a>
    </li>
  </ul>
  <div id="page_properties">
    <%= render 'form' %>
  </div>
  <div id="legacy_urls">
    <%= render 'legacy_urls' %>
  </div>
</div>
