version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      babel:
        dependency-type: "development"
        patterns:
          - "@babel/*"
        update-types:
          - "minor"
          - "patch"
      jest:
        dependency-type: "development"
        patterns:
          - "jest*"
          - "babel-jest"
        update-types:
          - "minor"
          - "patch"
      rollup:
        dependency-type: "development"
        patterns:
          - "@rollup/*"
          - "rollup"
        update-types:
          - "minor"
          - "patch"
      versioning-strategy: increase-if-necessary
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      dev-dependencies:
        dependency-type: "development"
        patterns:
          - "capybara*"
          - "bootsnap"
          - "listen"
          - "factory*"
          - "puma"
          - "rails-controller-testing"
          - "rspec-*"
          - "simplecov"
          - "selenium-webdriver"
          - "shoulda-matchers"
          - "timecop"
          - "webmock"
          - "web-console"
        update-types:
          - "minor"
          - "patch"
      rails:
        dependency-type: "production"
        patterns:
          - "action*"
          - "active*"
          - "rails"
          - "railties"
        update-types:
          - "patch"
