.idea
.yardoc
.DS_Store
.svn
doc/
rdoc/
Gemfile.lock
pkg
tmp
log
.sass-cache
spec/dummy/uploads/
spec/dummy/db/*.sqlite3*
spec/dummy/public/assets
.rvmrc
/coverage/
*.gem
/index/
/.bundle/
.rbenv-version
.ruby-gemset
.ruby-version
.env
