.idea
.yardoc
.DS_Store
.svn
doc/
rdoc/
Gemfile.lock
pkg
tmp
log
.sass-cache
spec/dummy/.browserslistrc
spec/dummy/app/javascript/
spec/dummy/babel.config.js
spec/dummy/bin/webpack
spec/dummy/bin/webpack-dev-server
spec/dummy/config/alchemy/config.yml
spec/dummy/config/webpack/
spec/dummy/config/webpacker.yml
spec/dummy/db/*.sqlite3*
spec/dummy/package.json
spec/dummy/postcss.config.js
spec/dummy/public/assets/
spec/dummy/public/packs/
spec/dummy/public/packs-test/
spec/dummy/uploads/
.rvmrc
/coverage/
*.gem
/index/
/.bundle/
.rbenv-version
.ruby-gemset
.ruby-version
.env
.rspec
node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity
yarn.lock
/spec/dummy/public/pictures
