.idea
.yardoc
.DS_Store
.svn
doc/
rdoc/
Gemfile.lock
pkg
/spec/dummy/log/development.log
/spec/dummy/log/test.log
/spec/dummy/db/test.sqlite3
/spec/dummy/db/development.sqlite3
tmp
spec/dummy/index/
log
spec/dummy/uploads/
.sass-cache
spec/dummy/db/test.sqlite3-journal
spec/dummy/db/seeds.rb
.rvmrc
spec/dummy/config/locales/**/*
/coverage/
*.gem
/.ruby-version
/index/
/.bundle/
