language: ruby
rvm:
  - 1.9.3
  - 2.0.0
branches:
  only:
    - master
before_script:
  - phantomjs --version
  - "sh -c 'cd spec/dummy && RAILS_ENV=test bundle exec rake db:create db:schema:load --trace'"
script: "bundle exec rspec spec"
env:
  - DB=mysql
  - DB=postgresql
  - DB=mysql
