<div id="flash_notices" data-auto-dismiss-delay="5000">
<% flash.keys.each do |flash_type| %>
  <% if flash[flash_type.to_sym].present? %>
    <%= render Alchemy::Admin::Message.new(flash[flash_type.to_sym], type: flash_type, dismissable: true) %>
  <% end %>
<% end %>
</div>
