<div class="sl-toast-stack">
  <% flash.keys.each do |flash_type| %>
    <% message = flash[flash_type.to_sym] %>
    <% if message.present? %>
      <%= render "alchemy/admin/partials/flash",
        message: message,
        flash_type: flash_type %>
    <% end %>
  <% end %>
</div>
