<div id="flash_notices" style="display: <%= flash.keys.blank? ? "none" : "block" %>">
<% flash.keys.each do |flash_type| %>
  <%= render_flash_notice(flash[flash_type.to_sym], flash_type) if flash[flash_type.to_sym].present? %>
<% end %>
</div>
