<% languages = Alchemy::Language.accessible_by(Alchemy::Permissions.new(current_alchemy_user), :switch_language).on_current_site %>
<% if can?(:switch_language, Alchemy::Page) && Alchemy::Language.current.site.languages.many? %>
<div class="button_with_label">
  <%= form_tag switch_admin_languages_path, method: 'get' do %>
    <%= select_tag(
      'language_id',
      options_for_select(
        languages.map { |l| [l.name, l.id] },
        Alchemy::Language.current.id
      ),
      class: 'short',
      is: 'alchemy-select',
      data: {'auto-submit' => true}
    ) %>
  <% end %>
  <label for="language_id">
    <%= Alchemy.t("Language tree") %>
  </label>
</div>
<div class="toolbar_spacer"></div>
<% end %>
