<div class="button_with_label">
  <%= form_tag switch_admin_languages_path, method: 'get' do %>
    <%= select_tag(
      'language_id',
      options_for_select(
        Alchemy::Language.all.map { |l| [l.name, l.id] },
        Alchemy::Language.current.id
      ),
      class: 'alchemy_selectbox short',
      data: {'auto-submit' => true}
    ) %>
  <% end %>
  <label><%= _t("Language tree") %></label>
</div>
