<%- permitted_to?(alchemy_module["action"].to_sym, alchemy_module["controller"].gsub(/^\//, '').gsub(/\//, '_').to_sym) do -%>

<%= link_to(url_for_module(alchemy_module), :class => "main_navi_entry#{admin_mainnavi_active?(alchemy_module) ? ' active' : nil }") do %>
	<%- if alchemy_module["image"] -%>
	<%= image_tag(alchemy_module["image"]) %>
	<%- elsif alchemy_module["icon"] -%>
	<span class="module icon <%= alchemy_module["icon"] %>"></span>
	<%- else -%>
	<span class="module icon"></span>
	<%- end -%>
	<%# 
		We have to set the FastGettext.text_domain explicitly here, 
		because Alchemy Modules come with their own TextDomain
	%>
	<%- FastGettext.text_domain = 'alchemy' -%>
	<label><%= truncate _(alchemy_module["name"]), :length => 10 -%></label>
<% end %>

<%- end -%>
