<%- if can?(:switch, Alchemy::Site) && sites_for_select.size > 1 -%>
<div class="toolbar_button">
  <sl-tooltip content="<%= Alchemy.t("Current site") %>">
    <%= form_tag url_for, method: :get do %>
      <alchemy-auto-submit>
        <%= select_tag :site_id,
          options_for_select(sites_for_select, Alchemy::Current.site.id) %>
      </alchemy-auto-submit>
    <% end %>
  </sl-tooltip>
</div>
<div class="toolbar_spacer"></div>
<%- end -%>
