<%- if can?(:switch, Alchemy::Site) && sites_for_select.size > 1 -%>
<div class="toolbar_button">
  <sl-tooltip content="<%= Alchemy.t("Current site") %>">
    <%= select_tag 'change_site',
      options_for_select(sites_for_select, Alchemy::Current.site.id),
      is: 'alchemy-select' %>
  </sl-tooltip>
</div>
<div class="toolbar_spacer"></div>
<%- end -%>
