<%- if multi_site? -%>
<div class="toolbar_button">
  <wa-tooltip content="<%= Alchemy.t("Current site") %>">
    <%= select_tag 'change_site',
      options_for_select(sites_for_select, Alchemy::Current.site.id),
      is: 'alchemy-select' %>
  </wa-tooltip>
</div>
<div class="toolbar_spacer"></div>
<%- end -%>
