<div class="toolbar_button">
  <%= content_tag "sl-tooltip", content: options[:label], placement: options[:tooltip_placement] do %>
    <% if options[:dialog] %>
      <%= link_to_dialog(
        render_icon(options[:icon]),
        options[:url],
        options[:dialog_options],
        {
          class: ["icon_button", options[:active] && "active"].compact,
          title: options[:title],
          "data-alchemy-hotkey" => options[:hotkey]
        }.merge(options[:link_options])
      ) %>
    <% else %>
      <%= link_to(
        options[:url], {
          class: [
            "icon_button",
            options[:loading_indicator] && "please_wait",
            options[:active] && "active",
          ].compact,
          title: options[:title],
          "data-alchemy-hotkey" => options[:hotkey]
        }.merge(options[:link_options])
      ) do %>
        <%= render_icon(options[:icon]) %>
      <% end %>
    <% end %>
  <% end %>
</div>
