<%= content_tag :div,
  class: datetime_editor.css_classes,
  data: datetime_editor.data_attributes do %>
  <%= ingredient_label(datetime_editor, counter: datetime_editor_counter) %>
  <%= alchemy_datepicker(
    datetime_editor, :value, {
      name: datetime_editor.form_field_name(counter: datetime_editor_counter),
      id: datetime_editor.form_field_id(counter: datetime_editor_counter),
      value: datetime_editor.value
    }
  ) %>
  <label for="<%= datetime_editor.form_field_id(counter: datetime_editor_counter) %>" class="ingredient-date--label">
    <i class="icon far fa-calendar-alt fa-fw fa-lg"></i>
  </label>
<% end %>
