<div class="bild_mit_text alchemy_element" id="<%= element_dom_id(element) %>">
	<div class="bild_mit_text_images">
		<%- element.contents.find_all_by_essence_type("EssencePicture").each do |content| -%>
		<div class="bild_mit_text_image">
			<%= render_essence_view(content, :image_size => "250x200", :crop => true) %>
		</div>
		<%- end -%>
	</div>
	<div class="headline">
		<%= render_essence_view_by_name(element, 'headline') %>
	</div>
	<div class="text">
		<%= render_essence_view_by_name(element, 'text') %>
	</div>
</div>
