<div class="footnote" id="<%= element_dom_id(element) %>" data-alchemy-element="<%= element.id %>">
    <div class="note">
        <%= render_essence_view_by_name(element, 'note') %>
    </div>
</div>
