<div class="newsletter_article" id="<%= element_dom_id(element) %>">
    <div class="headline">
        <%= render_essence_view_by_name(element, 'headline') %>
    </div>
    <div class="text">
        <%= render_essence_view_by_name(element, 'text') %>
    </div>
</div>
