<div class="news alchemy_element" id="<%= element_dom_id(element) %>">
	<div class="date">
		<%= render_content_view_by_name(element, 'date') %>
	</div>
	<div class="headline">
		<%= render_content_view_by_name(element, 'headline') %>
	</div>
	<div class="body">
		<%= render_content_view_by_name(element, 'body') %>
	</div>
</div>
