<div class="subheadline" id="<%= element_dom_id(element) %>" <%= element_preview_code(element) -%>>
    <div class="headline">
        <%= render_essence_view_by_name(element, 'subheadline') %>
    </div>
</div>
