# == In this configuration, you set up Alchemy's element layouts.
#
# For further information please see http://guides.alchemy-cms.com/stable/elements.html

<%- unless @options[:skip_demo_files] -%>
- name: article
  hint: true
  unique: true
  ingredients:
    - role: headline
      type: Text
      default: :article_headline
      hint: true
    - role: picture
      type: Picture
      hint: true
    - role: text
      type: Richtext
      default: :article_text
      hint: true
<%- end -%>
