# == This file defines the page layouts for new pages.
#
# For further information please see https://guides.alchemy-cms.com/pages.html

<%- unless @options[:skip_demo_files] -%>
- name: <%= Alchemy.config.default_language.page_layout %>
  unique: true
  elements: [article]
  autogenerate: [article]
<%- end -%>
