@use "deprecated_variables";

$light-blue: var(--color-blue_light);
$very-light-blue: var(--color-blue_very_light);
$blue: var(--color-blue_medium);
$dark-blue: var(--color-blue_dark);
$light-gray: var(--color-grey_very_light);
$medium-gray: var(--color-grey_light);
$dark-gray: var(--color-grey_dark);
$very-dark-gray: var(--color-grey_very_dark);
$light_yellow: var(--color-yellow_light);
$orange: var(--color-orange_medium);
$dark-orange: var(--color-orange_dark);
$very-dark-orange: var(--color-orange_very_dark);
$white: var(--color-white);

$text-color: var(--color-text) !default;
$muted-text-color: var(--color-text_muted) !default;
$icon-color: var(--color-icon) !default;
$linked-color: var(--color-orange_medium) !default;
$anchor-color: var(--color-orange_very_dark) !default;

$body-background-color: var(--color-grey_very_light) !default;

$default-font-family: var(--font-sans) !default;
$mono-font-family: var(--font-mono) !default;
$base-font-size: var(--font-size_medium) !default;
$default-font-size: 1em !default;
$small-font-size: var(--font-size_small) !default;
$default-font-style: var(--font-default) !default;

$default-padding: var(--spacing-1) !default;
$default-margin: var(--spacing-1) !default;

$dialog-header-height: var(--dialog-header-height) !default;
$dialog-header-padding: var(--dialog-header-padding) !default;
$dialog-header-color: var(--dialog-header-color) !default;
$dialog-header-text-color: var(--dialog-header-text-color) !default;
$dialog-header-font-size: var(--dialog-header-font-size) !default;
$dialog-box-shadow: var(--dialog-box-shadow) !default;
$dialog-overlay-color: var(--dialog-overlay-color) !default;
$dialog-background-color: var(--dialog-background-color) !default;

$default-border-color: var(--border-color) !default;
$border-inset-color: var(--border-inset-color) !default;
$default-border-width: var(--border-width_small) !default;
$default-border-style: var(--border-style) !default;
$default-border: var(--border-default) !default;
$default-border-radius: var(--border-radius_medium) !default;

$form-field-margin: var(--form-field-margin) !default;
$form-field-height: var(--form-field-height) !default;
$form-field-addon-width: var(--form-field-addon-width) !default;
$form-field-background-color: var(--form-field-background-color) !default;
$form-field-border-width: var(--form-field-border-width) !default;
$form-field-border-style: var(--form-field-border-style) !default;
$form-field-border-color: var(--form-field-border-color) !default;
$form-field-box-shadow: var(--form-field-box-shadow) !default;
$form-field-padding: var(--form-field-padding) !default;
$form-field-font-size: var(--form-field-font-size) !default;
$form-field-line-height: var(--form-field-line-height) !default;
$form-field-text-color: var(--form-field-text-color) !default;
$form-field-disabled-text-color: var(--form-field-disabled-text-color) !default;
$form-field-disabled-bg-color: var(--form-field-disabled-bg-color) !default;

$focus-color: var(--focus-color) !default;

$button-bg-color: var(--button-bg-color) !default;
$button-hover-bg-color: var(--button-hover-bg-color) !default;
$button-hover-border-color: var(--button-hover-border-color) !default;
$button-border-color: var(--button-border-color) !default;
$button-border-width: var(--button-border-width) !default;
$button-border-radius: var(--button-border-radius) !default;
$button-text-color: var(--button-text-color) !default;
$button-focus-border-color: var(--button-focus-border-color) !default;
$button-font-weight: var(--button-font-weight) !default;
$button-text-shadow: var(--button-text-shadow) !default;
$button-box-shadow: var(--button-box-shadow) !default;
$button-focus-box-shadow: var(--button-focus-box-shadow) !default;
$button-padding: var(--button-padding) !default;
$small-button-padding: var(--button-small-padding) !default;
$button-margin: var(--button-margin) !default;

$icon-button-width: var(--icon-button-width) !default;
$icon-button-height: var(--icon-button-height) !default;
$icon-button-medium-width: var(--icon-button-medium-width) !default;
$icon-button-medium-height: var(--icon-button-medium-height) !default;
$icon-button-small-width: var(--icon-button-small-width) !default;
$icon-button-small-height: var(--icon-button-small-height) !default;

$secondary-button-bg-color: var(--button-secondary-bg-color) !default;
$secondary-button-text-color: var(--button-secondary-text-color) !default;
$secondary-button-border-color: var(--button-secondary-border-color) !default;

$linked-button-color: var(--icon-button-linked-color) !default;
$linked-border-color: var(--icon-button-linked-border-color) !default;

$success_border_color: var(--notice-success-border-color) !default;
$success_text_color: var(--notice-success-text-color) !default;
$success_background_color: var(--notice-success-background-color) !default;

$info_border_color: var(--notice-info-border-color) !default;
$info_text_color: var(--notice-info-text-color) !default;
$info_background_color: var(--notice-info-background-color) !default;

$warning_border_color: var(--notice-warning-border-color) !default;
$warning_text_color: var(--notice-warning-text-color) !default;
$warning_background_color: var(--notice-warning-background-color) !default;

$error_border_color: var(--notice-error-border-color) !default;
$error_text_color: var(--notice-error-text-color) !default;
$error_background_color: var(--notice-error-background-color) !default;

$hint-background-color: var(--color-yellow_light) !default;
$hint-text-color: hsl(49deg, 18%, 30%) !default;

$form-left-width: 35% !default;
$form-right-width: 65% !default;

$sitemap-line-height: 32px !default;
$sitemap-page-background-color: hsla(0deg, 0%, 100%, 0.75) !default;
$sitemap-page-hover-color: hsla(60deg, 81%, 92%, 0.5) !default;
$sitemap-info-background-color: hsla(0deg, 0%, 100%, 0.5) !default;
$sitemap-highlight-color: hsla(57deg, 100%, 82%, 0.5) !default;

$main-menu-width: 150px !default;
$collapsed-main-menu-width: 48px !default;
$collapsed-main-menu-entry-max-width: 300px !default;
$main-menu-bg-color: var(--color-blue_dark) !default;
$main-menu-active-bg-color: var(--color-orange_dark) !default;
$main-menu-active-text-color: var(--color-blue_dark) !default;
$main-menu-text-color: var(--color-white) !default;
$main-menu-icon-color: var(--color-white) !default;
$main-menu-entry-max-width: 110px !default;
$toolbar-bg-color: var(--color-grey_light) !default;
$toolbar-height: 46px !default;
$tab-bar-height: 51px !default;
$element-toolbar-height: 37px !default;
$header-height: 29px !default;
$header-background: hsl(0deg, 0%, 85%) !default;
$text-shadow-light: hsla(0deg, 0%, 100%, 0.5) 0 0 4px !default;
$transition-duration: 250ms !default;
$transition-easing: linear !default;

$tooltip-background-color: var(--color-blue_dark) !default;

$addon-icon-opacity: 0.85 !default;

$table-row-even-background-color: var(--color-white) !default;
$table-row-odd-background-color: hsla(0deg, 0%, 100%, 0.5) !default;
$table-row-hover-color: hsla(60deg, 81%, 92%, 0.5) !default;

$elements-window-width: 22.5vw !default;
$elements-window-min-width: 400px !default;
$element-header-bg-color: transparent !default;
$element-header-active-bg-color: var(--color-blue_dark) !default;
$element-header-active-color: var(--color-white) !default;
$element-header-deprecated-bg-color: hsla(29deg, 95%, 84%, 0.25) !default;
$element-deprecated-border-color: hsl(29deg, 95%, 84%) !default;
$top-menu-height: 75px !default;

$tabs-height: 31px !default;
$pagination-height: 52px !default;

$datepicker_current_bg: var(--color-blue_medium) !default;
$datepicker_current_color: var(--color-white) !default;
$datepicker_current_box_shadow: none !default;
$datepicker_hover_bg: var(--color-yellow_light) !default;
$datepicker_hover_color: var(--color-text) !default;
$datepicker_today_bg: var(--color-grey_light) !default;
$datepicker_today_color: var(--color-blue_medium) !default;
$datepicker_header_color: var(--color-text) !default;
$datepicker_day_bg: var(--color-grey_very_light) !default;
$datepicker_day_border: 1px solid var(--color-grey_light) !default;
$datepicker_day_color: var(--color-text) !default;

$select-hover-bg-color: var(--color-blue_dark) !default;
$select-hover-text-color: var(--color-white) !default;
$medium-select-box-width: 90px;
$large-select-box-width: 120px;

$thumbnail-background:
  linear-gradient(45deg, var(--color-grey_light) 25%, transparent 25%) 0.5em
    0.5em/1em 1em,
  linear-gradient(-45deg, var(--color-grey_light) 25%, transparent 25%) -0.5em 0/1em
    1em,
  linear-gradient(45deg, transparent 75%, var(--color-grey_light) 75%) 0 0/1em
    1em,
  linear-gradient(-45deg, transparent 75%, var(--color-grey_light) 75%) 0 0.5em/1em
    1em var(--color-white) !default;

$small-screen-break-point: 500px;
$medium-screen-break-point: 700px;
$large-screen-break-point: 1000px;
$xlarge-screen-break-point: 1440px;
$xxlarge-screen-break-point: 1680px;
