:root {
  /* Sizes */
  --spacing-0: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;

  /* Font Families */
  --font-mono: Menlo, Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
    Terminal, monospace;
  --font-sans: "Open Sans", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Verdana, Tahoma, sans-serif;

  /* Font Size - at the moment only in Pixel, because the base font size is 12px */
  --font-size_small: 10px; /* 0.875rem */
  --font-size_medium: 12px; /* 1rem */
  --font-size_large: 16px; /* 1.25 rem */

  --font-weight_normal: 500;
  --font-weight_bold: 700;

  --font-default: var(--font-size_medium) var(--font-sans);

  /* Borders */
  --border-radius_medium: 3px;
  --border-width_small: 1px;
  --border-style: solid;
  --border-default: var(--border-width_small) var(--border-style)
    var(--border-color);

  /* Sidebar */
  --sidebar-width: 232px;

  /* Transitions */
  --transition-duration: 250ms;
  --transition-easing: linear;
}
