@use "custom-properties";
@use "colors";
@use "fonts";

body {
  background-color: var(--color-blue_dark);
  color: var(--color-white);
  font-family: var(--font-sans);
  font-weight: var(--font-weight_normal);
  font-size: var(--font-size_large);
  line-height: 22px;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
  padding-top: 20px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 50vw;
  margin-top: -50px;
  transform: translateY(-50%) translateX(-50%);

  img {
    height: 75px;
    margin-left: -0.35em;
  }
}

ul {
  line-height: 1.6;
  margin-bottom: 17px;
  padding: 0;
  padding-left: 20px;
  margin: 0px;
  list-style-position: outside;

  li {
    color: var(--color-white);
    margin-bottom: 12px;
    background-color: none;
    border-bottom: 0 none;
    line-height: 22px;
  }
}

p {
  margin: 2em 0;
}

a {
  color: var(--color-white);
  text-decoration: none;
  transition: all var(--transition-duration) var(--transition-easing);

  &:hover {
    color: var(--color-white);
    text-decoration: underline;
  }

  &.button {
    background-color: white;
    border-radius: var(--border-radius_medium);
    padding: 0.5em 0.75em;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    color: var(--color-blue_dark);
  }
}
