(function($) {
  
  $("#clipboard_items").replaceWith("<p><%= t('No items in your clipboard') -%></p>", :scope => :alchemy);
  $('#clipboard_button .icon.clipboard').removeClass('full');
  
})(jQuery);
