(function($) {

  $("#clipboard_items").replaceWith("<p><%= _t('No items in your clipboard') -%></p>");
  $('#clipboard_button .icon.clipboard').removeClass('full');
  Alchemy.pleaseWaitOverlay(false);

})(jQuery);
