(function($) {
  
  $("#clipboard_item_<%= @item.id -%>").remove();
  Alchemy.growl('<%= t("item %{name} removed from clipboard", :scope => :alchemy) % {:name => @item.class.to_s == "Element" ? @item.display_name_with_preview_text : @item.name} -%>');
<%- if @clipboard.blank? -%>
  $('#clipboard_button .icon.clipboard').removeClass('full');
  $("#clipboard_items").replaceWith("<p><%= t('No items in your clipboard', :scope => :alchemy) -%></p>");
<%- end -%>
  
})(jQuery);
