<%-
  prefix = "<div class=\"assign_file_file_icon\">"
  suffix = "</div><div class=\"assign_file_file_name\">#{file_to_assign.filename}</div>"
-%>
<%- img_tag = "#{prefix}#{render_icon(file_to_assign.icon_css_class)}#{suffix}" -%>
<div class="assign_file_file" name="<%= file_to_assign.filename %>">
  <%= link_to_remote(
    img_tag,
      :url => {
        :controller => :essence_files,
        :action => :assign,
        :attachment_id => file_to_assign.id,
        :id => @content.id,
        :options => @options
      },
      :method => 'post',
      :html => {:title => file_to_assign.filename}
    ) %>
</div>
