<div class="with_padding">
	<div id="overlay_toolbar">
		<%= js_filter_field( :onkeyup => "Alchemy.ListFilter('.assign_file_file')") %>
	</div>
	<div id="assign_file_list">
		<%= render :partial => 'file_to_assign', :collection => @attachments %>
	</div>
</div>
