<div class="add_content" id="add_content_<%= element.id %>">
<% debugger %>
	<%= link_to_overlay_window(
		render_icon('assign'),
		admin_pictures_path(
			:element_id => element,
			:options => options
		),
		{
			:title => _('assign_image'),
			:size => '720x580',
			:resizable => true
		}
	) %>
</div>
