<div class="element-footer">
  <% if element.has_validations? %>
    <p class="validation_notice">
      <span class="validation_indicator">*</span> <%= Alchemy.t('Mandatory') %>
    </p>
  <% end %>

  <button
    form="element_<%= element.id %>_form"
    is="alchemy-button"
    data-turbo="false"
    type="submit"
    <%= "disabled" if cannot?(:update, element) %>
  >
    <%= Alchemy.t(:save) %>
  </button>
</div>
