<% label_title = _t("Create #{resource_name}", default: _t('Create')) %>

<% toolbar(
  buttons: [
    {
      icon: 'create',
      label: label_title,
      url: new_resource_path,
      title: label_title,
      hotkey: 'alt+n',
      dialog_options: {
        title: label_title,
        size: "430x415"
      },
      if_permitted_to: [:create, resource_model]
    }
  ]
) %>

<div id="archive_all">
  <%= resources_header %>
  <%= render 'table' %>
</div>
