<div class="add_content" id="add_content_<%= element.id %>">
	<%= link_to_overlay_window(
		render_icon('assign'),
		url_for(
			:controller => 'pictures',
			:action => 'archive_overlay',
			:element_id => element,
			:options => options
		),
		{
			:title => _('assign_image'),
			:size => '720x580',
			:resizable => true
		}
	) %>
</div>
