<div id="element_area">
	<%= render :partial => @page.elements %>
</div>

<%= sortable_element(
	"element_area",
	:constraint => '',
	:url => order_admin_elements_path,
	:scroll => "$('element_area').up('.alchemy_window_content')",
	:tag => 'div',
	:only => 'element_editor',
	:dropOnEmpty => false,
	:handle => 'element_handle'
) %>

<script type="text/javascript" charset="utf-8">
// <![CDATA[
	TinymceHammer.init();
// ]]>
</script>
