<div id="element_area">
	<%= render :partial => @page.elements %>
</div>

<script type="text/javascript" charset="utf-8">
	Alchemy.SortableElements('<%= form_authenticity_token %>');
	Alchemy.ElementEditorSelector();
	Alchemy.SelectBox('.element_editor select');
	TinymceHammer.init();
	Alchemy.ElementDirtyObserver('#element_area');
</script>
