<div id="element_area">
	<%= render :partial => @page.elements, :locals => {:draggable => true} %>
</div>
<script type="text/javascript" charset="utf-8">
	Alchemy.SortableElements(<%= @page.id %>, '<%= form_authenticity_token %>');
	Alchemy.ElementEditorSelector();
	Alchemy.SelectBox('.element_editor select');
	TinymceHammer.init();
	Alchemy.ElementDirtyObserver('#element_area');
</script>
