<div id="overlay_toolbar">
    <%= render :partial => 'filter_and_size_bar' %>
</div>
<div id="assign_image_list">
<%- if @pictures.empty? -%>
    <p><%= _("no_images_in_archive") %></p>
<%- else -%>
    <%= render(
        :partial => 'admin/partials/remote_pagination_links',
        :locals => {
            :items => @pictures,
            :with => "'remote=true'+'&element_id='+jQuery('#element_id').val()+'&content_id='+jQuery('#content_id').val()"
        }
    ) %>
    <%= render :partial => "picture_to_assign", :collection => @pictures, :locals => {:options => @options, :size => @size} %>
<%- end -%>
</div>
