<li class="search_result">
  <h3>
    <%= t('search_result_page.result_page') %>:
    <%= link_to page.name, show_alchemy_page_path(page) %>
  </h3>
  <%- result.each do |highlight| -%>
    <p><%= sanitize highlight.force_encoding('UTF-8') %></p>
  <%- end -%>
</li>
