body {
	font: 12px/17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 1em;
	color: #333;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

h1 {
	font-size: 1.6em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.2em;
	text-transform: uppercase;
}

div#page {
	width: 800px;
	margin: 0 auto;
	background-color: #f1f1f1;
	padding: 1em;
}

div.article_image.no_float {
	float: none;
	margin: 0;
}

div.article_image.left {
	float: left;
	margin-right: 1em;
}

div.article_image.right {
	float: right;
	margin-left: 1em;
}

div.image_caption {
	font-size: 0.8em;
}
