<tr class="even" id="<%= dom_id(legacy_page_url) %>">
  <td class="name"><%= legacy_page_url.urlname %></td>
  <td class="tools">
    <%= link_to_dialog render_icon(:edit),
      edit_admin_legacy_page_url_path(legacy_page_url, page_id: @page.id),
      {size: '400x125', title: _t('Edit link')},
      {title: _t(:edit)} %>
    <%= link_to_confirm_dialog render_icon(:destroy),
      _t('Are you sure?'),
      admin_legacy_page_url_path(legacy_page_url, page_id: @page.id),
      {title: _t(:remove)} %>
  </td>
</tr>
