<div id="user_info">
  <%= render Alchemy::Admin::CurrentUserName.new(user: current_alchemy_user) %>
  <%= render Alchemy::Admin::TimezoneSelect.new %>
  <%= render Alchemy::Admin::LocaleSelect.new %>
</div>
