<div class="page-select--page">
  <i class="icon far fa-file fa-lg"></i>
  <span class="page-select--page-name">
    {{ page.name }}
  </span>
  <span class="page-select--page-urlname">
    {{ page.url_path }}
  </span>
</div>
