# frozen_string_literal: true

module Alchemy
  module Ingredients
    class <%= @class_name %> < Alchemy::Ingredient
      # Set additional attributes that get stored in the data JSON column
      # Alchemy will create attribute accessors for each of it.
      # self.ingredient_attributes = %i[]

      # Set a related_object alias for convenience
      # related_object_alias :some_association_name, class_name: "Some::Klass"
    end
  end
end
