<span class="edit-ingredient-anchor-link">
  <%= link_to_dialog render_icon(:bookmark, { style: ingredient_editor.dom_id.present? ? "solid" : "regular" }),
    alchemy.edit_admin_ingredient_path(id: ingredient_editor.id),
    {
      title: Alchemy.t(:edit_anchor),
      size: "380x125"
    },
    title: Alchemy.t(:edit_anchor) %>
</span>
