<p>This is a placeholder template.</p>
<p>Please create your own file: app/views/alchemy/messages_mailer/contact_form_mail.text.erb</p>
<p>You can access all message fields using the @message instance variable.</p>
