<%- alchemy_combined_assets -%>

<%- content_for(:toolbar) do -%>
<div id="toolbar_buttons">
<%- permitted_to?(:new, "admin_#{resources_name}".to_sym) do -%>
	<%= toolbar_button(
		:icon => 'create',
		:label => _('Create'),
		:url => send("new_admin_#{resource_model_name}_path"),
		:title => _('Create'),
		:overlay_options => {
			:title => _('Create')
		}
	) %>
<%- end -%>
</div>
<%= render :partial => 'admin/partials/search_form' %>
<%- end -%>

<%= render 'table' %>
