- name: header
  unique: true
  icon: font-size
  ingredients:
    - role: image
      type: Picture
      settings:
        linkable: false

- name: headline
  ingredients:
    - role: headline
      type: Headline

- name: article
  icon: true
  hint: "Article element with a headline, image and text."
  taggable: true
  ingredients:
    - role: intro
      type: Text
      settings:
        linkable: true
    - role: headline
      type: Headline
      settings:
        anchor: from_value
    - role: image
      type: Picture
      settings:
        size: 450x300
        crop: true
    - role: text
      type: Richtext

- name: text
  icon: text-snippet
  ingredients:
    - role: text
      type: Richtext
      settings:
        sanitizer:
          attributes: [href, target]
          tags: [p, ol, ul, ul, li, em, strong]

- name: search
  ingredients: []

- name: news
  icon: news-line
  ingredients:
    - role: date
      type: Datetime
    - role: news_headline
      type: Text
    - role: body
      type: Richtext

- name: download
  icon: download-2-line
  ingredients:
    - role: file
      type: File
      settings:
        except: mp3

- name: bild
  ingredients:
    - role: image
      type: Picture

- name: contactform
  unique: true
  icon: mail-line
  hint: "A contact form element with a mail to address and a success page."
  ingredients:
    - role: mail_from
      type: Text
      validate:
        - format: email
    - role: mail_to
      type: Text
      validate:
        - presence
    - role: subject
      type: Text
      as_element_title: true
      validate:
        - presence
    - role: success_page
      type: Page
      validate:
        - presence

- name: all_you_can_eat
  icon: infinity-line
  hint: true
  taggable: true
  ingredients:
    - role: headline
      type: Headline
      hint: true
      validate:
        - presence
        - length:
            minimum: 3
            maximum: 50
    - role: text
      type: Text
      hint: true
      settings:
        anchor: true
        linkable: true
      validate:
        - format: !ruby/regexp '/\w+/i'
    - role: picture
      type: Picture
      hint: true
      settings:
        size: 1200x480
        crop: true
        css_classes:
          - "align-right"
          - "align-left"
          - "align-center"
    - role: richtext
      type: Richtext
      hint: true
      settings:
        tinymce:
          toolbar: bold italic underline | undo redo | pastetext alchemy_link unlink | fullscreen code
    - role: select
      type: Select
      hint: true
      settings:
        select_values: [A, B, C, D, E, F, G, H, I, J, K, L, M]
      validate:
        - uniqueness
    - role: boolean
      type: Boolean
      hint: true
      default: true
    - role: number
      type: Number
      hint: true
      default: 0.6
      settings:
        min: 0
        max: 10
        step: 0.1
        unit: "cm"
        input_type: number
    - role: datetime
      type: Datetime
      hint: true
      settings:
        input_type: datetime
    - role: file
      type: File
      hint: true
    - role: html
      type: Html
      hint: true
      deprecated: true
    - role: link
      type: Link
      hint: true
      validate:
        - presence
    - role: node
      type: Node
      hint: true
    - role: audio
      type: Audio
      hint: true
      settings:
        only: [mp3, wav]
    - role: video
      type: Video
      hint: true
      settings:
        only: webm
    - role: page
      type: Page
      hint: true

- name: <%= 'erb_' + 'element' %>
  ingredients:
    - role: text
      type: Richtext

- name: tinymce_custom
  icon: text-block
  ingredients:
    - role: text
      type: Richtext
      as_element_title: true
      settings:
        tinymce:
          toolbar: bold italic | subscript superscript | numlist bullist |
            styleselect removeformat | undo redo | pastetext | anchor alchemy_link unlink | fullscreen code
          end_container_on_empty_block: true
          style_formats:
            - title: Text styles
              items:
                - title: Paragraph
                  block: p
                - title: Lead Paragraph
                  block: p
                  classes: [lead]
            - title: Wrappers
              items:
                - title: Centered section
                  block: section
                  classes: [centered]
                  wrapper: true

- name: slide
  icon: image-2-line
  compact: true
  ingredients:
    - role: picture
      type: Picture
      settings:
        size: 400x300
        crop: true
    - role: caption
      type: Text
      as_element_title: true

- name: slider
  icon: slideshow-view
  nestable_elements:
    - slide
  autogenerate:
    - slide

- name: gallery
  icon: gallery-view
  nestable_elements:
    - gallery_picture

- name: gallery_picture
  icon: image-2-line
  compact: true
  ingredients:
    - role: picture
      type: Picture
      settings:
        size: 160x120
        crop: true

- name: right_column
  icon: layout-column-line
  fixed: true
  unique: true
  ingredients:
    - role: title
      type: Text
  nestable_elements: [search, text]

- name: left_column
  icon: layout-column-line
  fixed: true
  unique: true
  nestable_elements: [text]

- name: <%= 'erb_' + 'cell' %>
  fixed: true
  unique: true
  nestable_elements: [text]

- name: menu
  ingredients:
    - role: menu
      type: Node

- name: old
  deprecated: true
  ingredients:
    - role: title
      type: Text
    - role: text
      type: Richtext

- name: element_with_ingredient_groups
  ingredients:
    - role: title
      type: Text
    - role: description
      type: Richtext
      group: details
    - role: width
      type: Text
      group: size
    - role: height
      type: Text
      group: size
    - role: key_words
      type: Text
      group: details

- name: element_with_warning
  warning: "Do not use this element!"

- name: element_with_url
  ingredients:
    - role: url
      type: Text
      validate:
        - format: url
