<div id="alchemy_window_body">
  <div id="overlay_toolbar">
    <div class="button_with_label">
      <%= link_to_overlay_window(
          render_icon('upload'),
          alchemy.new_admin_attachment_path(
            :content_id => @content.blank? ? nil : @content.id,
            :swap => @swap,
            :options => @options
          ),
          {
            :title => _t(:upload_file),
            :size => '540x550'
          },
          :title => _t(:upload_file),
          :class => 'icon_button'
        ) %>
      <label><%= _t(:upload_file) %></label>
    </div>
    <%= js_filter_field(:onkeyup => "Alchemy.ListFilter('.assign_file_file')") %>
  </div>
  <ul id="assign_file_list" class="with_padding">
    <%= render :partial => 'file_to_assign', :collection => @attachments %>
  </ul>
</div>
