<% if @attachments.empty? %>
  <div class="info">
    <%= render_icon('info') %>
    <%= _t(:no_files_in_archive) %>
  </div>
<% else %>
  <ul>
    <%= render partial: 'file_to_assign', collection: @attachments %>
  </ul>
  <%= paginate @attachments, theme: 'alchemy', remote: true %>
<% end %>
