<% if Alchemy::Attachment.tag_counts.any? %>
  <h2><%= Alchemy.t("Filter by tag") %></h2>
  <%= js_filter_field '.tag-list li' %>
  <ul>
    <%= render_tag_list('Alchemy::Attachment') %>
  </ul>
  <% if params[:tagged_with].present? %>
    <%= link_to(
      render_icon('destroy small') + Alchemy.t('Remove tag filter'),
      url_for(tag_list_params.delete_if { |k, v| k == "tagged_with" }.merge(action: 'index')),
      remote: request.xhr?,
      class: 'button small with_icon please_wait'
    ) %>
  <% end %>
<% end %>
