<%= toolbar(
  :buttons => [
    {
      :icon => 'upload',
      :url => alchemy.new_admin_attachment_path,
      :overlay_options => {
        :title => _t('upload_file'),
        :size => '540x550'
      },
      :title => _t('upload_file'),
      :class => 'icon_button',
      :label => _t('upload_file'),
      :if_permitted_to => [:new, :alchemy_admin_attachments]
    }
  ]
) %>
<div id="archive_all">
  <%= resources_header %>
  <%= render :partial => 'files_list' %>
</div>
