#dashboard {
  overflow: auto;
  padding: var(--spacing-4) 0;
  width: 100%;
  position: relative;

  h1 {
    font-size: 1.5em;
    margin: 0 0 var(--spacing-2) var(--spacing-2);
  }

  p {
    margin: 0 0 var(--spacing-4) var(--spacing-2);
  }

  .column {
    width: 50%;
    float: left;
    padding-right: var(--spacing-4);
  }

  .widget {
    margin-bottom: var(--spacing-4);

    h2 {
      padding: var(--spacing-2);
      margin-bottom: 0;
    }

    p {
      margin: var(--spacing-1) 0;
    }

    table {
      td {
        position: relative;

        &:first-child {
          width: 40%;
        }

        form {
          float: right;
        }
      }
    }
  }
}

#update_check {
  position: relative;
  height: 16px;
  margin-bottom: 2em;

  img#load_info {
    width: 16px;
    height: 16px;
    display: none;
  }

  > span {
    display: inline-flex;
    gap: var(--spacing-1);
    align-items: center;

    &.hidden {
      display: none;
    }

    .icon {
      fill: currentColor;
    }
  }

  #up_to_date {
    color: $success_text_color;
  }

  #error {
    color: $error_text_color;
  }

  #update_available {
    color: $warning_text_color;
  }
}

ul.shortcuts {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;

  li {
    margin: 1em 0;
  }
}
