/* @override http://0.0.0.0:3000/plugin_assets/alchemy/stylesheets/alchemy_login.css */

div.login_signup_box {
	width: 380px;
	padding: 16px;
	border: 1px solid #9a9a9a;
	background-color: #dedede;
	-webkit-border-radius: 0 7px 7px 7px;
	-moz-border-radius: 0 7px 7px 7px;
	-o-border-radius: 0 7px 7px 7px;
	border-radius: 0 7px 7px 7px;
	-webkit-box-shadow: 1px 1px 8px rgba(0, 3, 51, 0.5);
	-moz-box-shadow: 1px 1px 8px rgba(0, 3, 51, 0.5);
	-o-box-shadow: 1px 1px 8px rgba(0, 3, 51, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 3, 51, 0.5);
	margin: 2em auto;
}

#login table tbody tr td.label {
	width: 155px;
}

#explanation h1 {
	margin-top: 1em;
	margin-bottom: 0;
	font-size: 1.2em;
}

td.label {
	line-height: 25px;
	height: 25px;
	width: 170px;
	text-align: right;
	padding-right: 4px;
}

td.submit {
	text-align: right;
}

form#login.new_user_session {
	text-align: right;
}

div.flash {
	width: 300px;
	margin: 150px auto -100px;
}

#login .thin_border {
	width: 195px;
	float: right;
}

#login_notice {
	overflow: auto;
	padding: 8px;
	background-color: #fff;
	text-align: left;
}

#login label {
	margin-right: 8px;
}