.overlay_dialog {
	background-color: #666666;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

div#jscropper {
	padding: 8px;
	display: inline-block;
}

div#crop_explain.tip {
	margin-right: 8px;
	float: right;
}

.overlay___invisible__ {
	background-color: #666666;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.top_draggable, .bottom_draggable {
	cursor: move;
}

.status_bar {
	font-size: 12px;
}

.status_bar input {
	font-size: 12px;
}

.wired_frame {
	display: block;
	position: absolute;
	border: 1px #000 dashed;
}

/* DO NOT CHANGE THESE VALUES*/

.dialog {
	display: block;
	position: absolute;
	-webkit-box-shadow: #333 0px 4px 8px;
	-moz-box-shadow: #333 0px 4px 8px;
	-o-box-shadow: #333 0px 4px 8px;
	box-shadow: #333 0px 4px 8px;
	overflow: visible;
	-webkit-border-radius: 7px 7px 7px 7px; 
	-moz-border-radius: 0px 0px 7px 7px;
	border-radius: 7px 0px 0px 7px;
}

.dialog table.table_window {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.dialog table.table_window td,
.dialog table.table_window th {
	padding: 0;
}

.dialog table.table_window td.submit {
	text-align: right;
	padding-top: 4px;
}

.dialog .title_window {
	-moz-user-select: none;
}

textarea#essence_picture_caption {
	width: 233px;
	height: 61px;
}

.alchemy_window_content form.with_padding table td {
	vertical-align: top;
}

#page_selector_scroll_container {
	position: relative;
}

#page_selector_container {
	height: 230px;
	background-color: #ededed;
	margin-bottom: 4px;
	border: 1px inset #e8e8e8;
	overflow: hidden;
	padding: 4px 4px 0;
}

#page_selector_scroll_container #scrollbar_track {
	position: absolute;
	top: 1px;
	right: 2px;
	width: 12px;
	height: 230px;
	background-color: transparent;
	z-index: 1;
}

#page_selector_scroll_container #scrollbar_track #scrollbar_handle {
	width: 10px;
	background-color: #afafaf;
	cursor: move;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	opacity: 0.9;
	-moz-opacity: 0.9;
	position: relative;
	border: 1px solid #7e7e7e;
}

div#page_selector_container.scrolling {
	padding-bottom: 2px;
}

div.image_assign_filter_and_image_sizing {
	clear: both;
	width: 100%;
	position: relative;
}

#assign_image_list {
	overflow: auto;
	margin-top: 8px;
	clear: both;
}

div#overlay_toolbar label {
	font-size: 10px;
	text-shadow: #fff 0 1px 2px;
	text-align: center;
}

label.sup {
	position: relative;
	bottom: 3px;
}

div.assign_image_list_detail {
	background-color: #ffffff;
	text-align: center;
	float: left;
	margin: 0 6px 6px 0;
	padding: 4px;
	position: relative;
	overflow: hidden;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: #999 0px 1px 3px;
	-moz-box-shadow: #999 0px 1px 3px;
	-o-box-shadow: #999 0px 1px 3px;
	box-shadow: #999 0px 1px 3px;
}

#assign_image_list div.assign_image_list_detail.small {
	width: 80px;
	height: 75px;
}

#assign_image_list div.assign_image_list_detail.medium {
	width: 160px;
	height: 135px;
}

#assign_image_list div.assign_image_list_detail.large {
	width: 240px;
	height: 195px;
}

div.assign_image_list_image {
	background-color: #ededed;
	text-align: center;
	overflow: hidden;
}

div.overlay_image_spinner {
	position: absolute;
	z-index: 0;
}

.assign_image_list_detail.small div.overlay_image_spinner {
	top: 19px;
	left: 26px;
}

.assign_image_list_detail.medium div.overlay_image_spinner {
	top: 48px;
	left: 67px;
}

.assign_image_list_detail.large div.overlay_image_spinner {
	top: 80px;
	left: 103px;
}

#assign_image_list div.assign_image_list_detail.small div.assign_image_list_image {
	height: 60px;
}

#assign_image_list div.assign_image_list_detail.medium div.assign_image_list_image {
	height: 120px;
}

#assign_image_list div.assign_image_list_detail.large div.assign_image_list_image {
	height: 180px;
}

#assign_image_list div.assign_image_list_image a {
	display: block;
}

#assign_image_list div.assign_image_list_image img {
	border-style: none;
}

#assign_image_list div.assign_image_list_image span {
	
}

div#errors {
	margin-bottom: 8px;
	padding: 8px 8px 4px 30px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-color: #c49c9c;
	color: #592e2e;
	background-color: #efd3d3;
}

#errors ul li {
	margin-bottom: 0.5em;
}

#errors ul {
	margin: 0;
	padding: 0;
}

form.create_right {
	float: left;
	clear: both;
}

.overlay_alchemy_window {
	background-color: #f4f4f4;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	position: relative;
	overflow: auto;
}

.alchemy_window_buttons {
	display: none;
}

#alchemy_confirm_window .alchemy_window_buttons {
	display: block;
	text-align: right;
	margin-top: 8px;
	padding-right: 8px;
}

#alchemy_confirm_window_content div.alchemy_window_message {
	padding: 8px;
}

/* North-West corner */

.alchemy_window_nw {
	background: white none repeat scroll 0%;
	border-top: 1px solid #9c9d9c;
	border-left: 1px solid #9c9d9c;
	height: 32px;
	margin-bottom: 4px;
	margin-top: 4px;
	width: 2px;
	font-size: 0;
}

#page_select {
	width: 120px;
	margin-left: 8px;
}

/* North border */

.alchemy_window_n {
	background: #fff repeat-x 0 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-top: 1px solid #9c9d9c;
	height: 32px;
	color: #fff;
}

/* North-East corner */

.alchemy_window_ne {
	background: white;
	border-top: 1px solid #9c9d9c;
	border-right: 1px solid #9c9d9c;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 2px;
	height: 32px;
	font-size: 0;
}

/* West border */

.alchemy_window_w {
	background-color: white;
	border-left-width: 1px;
	border-left-color: #9c9d9c;
	border-left-style: solid;
	width: 2px;
	font-size: 0;
}

/* East border */

.alchemy_window_e {
	background-color: white;
	border-right-width: 1px;
	border-right-color: #9c9d9c;
	border-right-style: solid;
	width: 2px;
	font-size: 0;
}

/* South-West corner */

.alchemy_window_sw {
	background: white;
	border-left: 1px solid #9c9d9c;
	border-bottom: 1px solid #9c9d9c;
	width: 2px;
	height: 4px;
	font-size: 0;
}

/* South border */

.alchemy_window_s {
	background: white;
	height: 4px;
	border-bottom: 1px solid #9c9d9c;
	font-size: 0;
}

/* South-East corner */

.alchemy_window_se {
	background: white;
	border-right: 2px solid #9c9d9c;
	border-bottom: 2px solid #9c9d9c;
	width: 4px;
	height: 4px;
	vertical-align: top;
	font-size: 0;
}

/* Resize button */

.alchemy_window_sizer {
	width: 6px;
	height: 6px;
	background: transparent url(../images/gui/resize.gif) no-repeat -5px -7px;
	cursor: se-resize;
	border-right: 1px solid #9c9d9c;
	border-bottom: 1px solid #9c9d9c;
	font-size: 0;
}

/* Close button */

.alchemy_window_close {
	width: 16px;
	height: 16px;
	background: transparent url(../images/gui/close.png) no-repeat 0 0;
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
	z-index: 1000;
}

/* Title bar */

.alchemy_window_title {
	height: 20px;
	font-size: 12px;
	text-align: left;
	color: #333;
	overflow: hidden;
	padding: 6px 32px 2px 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	background: #b3ccdb url(../images/gui/shading.png) repeat-x 0 12px;
	white-space: nowrap;
	text-shadow: #fff 0 1px 2px;
	font-weight: bold;
}

#new_file div.with_padding div.info {
	margin-bottom: 8px;
}

/* Content div (not used for url) */

#new_page_form tbody tr td.second_row {
	text-align: right;
}

#new_page_form th, #new_page_form td {
	white-space: nowrap;
	padding: 2px;
}

#new_page_form tbody tr td.second_row input#page_name {
	width: 128px;
	padding: 2px;
	margin: 0;
	border-width: 1px;
}

select#page_layout {
	width: 120px;
}

input#page_name {
	width: 126px;
}

#page_names #page_name {
	width: 231px;
}

.alchemy_window_content {
	overflow: auto;
}

.alchemy_window_content .alchemy_window_content {
	background-color: #ededed;
}

.alchemy_window_content iframe {
	background: #ffffff;
}

input.with_border {
	margin: 0;
	padding: 1px;
	font-size: 12px;
	border: 1px solid silver;
}

input#user_admin {
	margin: 0 0 0 1px;
	padding: 0;
	border-width: 0;
	border-style: none;
}

#image_edit div {
	height: 25px;
}

#image_edit div span {
	float: left;
	padding: 0;
	margin-right: 6px;
	height: 17px;
	line-height: 19px;
}

#assign_image_list div.assign_image_list_detail .picture_to_assign_name {
	white-space: nowrap;
	overflow: hidden;
	padding-top: 3px;
	display: block;
	font: 12px "Courier New", Courier, mono;
}

#assign_image_list div.pagination {
	margin-bottom: 8px;
}

div.image_assign_filter_and_image_sizing form {
	float: right;
	width: 286px;
}

div.image_assign_filter_and_image_sizing form div.search_field {
	margin-right: 4px;
	float: left;
}

div.image_assign_filter_and_image_sizing form input.button {
	float: right;
}

div.assign_file_file {
	text-align: center;
	background-color: white;
	width: 100%;
	margin-bottom: 4px;
}

#assign_file_list div.assign_file_file a {
	overflow: hidden;
	display: block;
	height: 39px;
	padding-right: 4px;
	text-align: left;
}

div.assign_file_file_icon {
	float: left;
	margin-top: 1px;
}

.alchemy_window_content a img {
	border-style: none;
}

#sitemap_external_links form {
	margin-left: 5px;
	margin-bottom: 4px;
}

input#link_to_text {
	border-width: 1px;
	font-size: 11px;
	line-height: 11px;
	width: 229px;
}

.link_window_tab_body {
	background-color: #ededed;
	padding: 8px;
	margin: 0;
}

div#tabbar_and_content {
	
}

#internal_link_title {
}

.alchemy_window_content ul#sitemap {
	padding: 0 16px 0 0;
	margin: 0;
}

.alchemy_window_content ul#sitemap li {
	margin-left: 0;
}

.alchemy_window_content ul#sitemap li li {
	margin-left: 22px;
}

#sitemap_for_links ul li span.sitemap_sitename {
	background-color: #f9f9f9;
	width: 311px;
	margin: 6px 0 0;
	padding: 0 0 4px 4px;
	height: 14px;
	float: left;
	line-height: 18px;
}

#sitemap_for_links ul li ul li span.sitemap_sitename {
	float: left;
	background-color: #f9f9f9;
	width: 290px;
	margin: 6px 0 0;
	padding: 0 0 4px 4px;
	height: 14px;
}

#sitemap_for_links ul li ul li ul li span.sitemap_sitename {
	float: left;
	background-color: #f9f9f9;
	width: 269px;
	margin: 6px 0 0;
	padding: 0 0 4px 4px;
	height: 14px;
}

#sitemap_for_links ul li ul li ul li ul li span.sitemap_sitename {
	float: left;
	background-color: #f9f9f9;
	width: 248px;
	margin: 6px 0 0;
	padding: 0 0 4px 4px;
	height: 14px;
}

#sitemap_for_links img.site_status {
	float: left;
	border-style: none;
	margin-bottom: 0px;
	border-width: 0;
	padding: 0;
	padding-top: 6px;
	margin-right: 4px;
}

#sitemap_for_links ul li img {
	border-width: 0;
	border-style: none;
	float: left;
}

#sitemap_for_links .sitemap_row {
	padding: 0;
	margin: 0px;
	font-size: 12px;
	line-height: 22px;
	position: relative;
	height: 28px;
}

.elements_from_page_selector {
	width: 218px;
}

div.elements_for_page {
	position: absolute;
	right: 23px;
	top: 0;
	z-index: 15;
	background-color: white;
	width: 242px;
	padding: 4px;
	border: 1px solid #9c9d9c;
	-webkit-box-shadow: #9ea09f 0px 0px 4px;
	-moz-box-shadow: #9ea09f 0px 0px 4px;
	-o-box-shadow: #9ea09f 0px 0px 4px;
	box-shadow: #9ea09f 0px 0px 4px;
	line-height: 13px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}

a.close_elements_from_page_selector {
	padding-left: 4px;
	font-size: 0;
	float: right;
	padding-right: 2px;
	width: 11px;
	height: 16px;
	margin-top: 3px;
	background: url(../images/icons/remove.png) no-repeat;
}

.elements_for_page img {
	width: 20px;
	height: 20px;
}

#sitemap_for_links ul .sitemap_row a {
	color: black;
	text-decoration: none;
	display: block;
	outline: none;
}

#sitemap_for_links a.show_elements_to_link {
	float: left;
	width: 16px;
	height: 16px;
	position: relative;
	background: url(../images/icons/elements_window.png) no-repeat 0 0;
	margin: 2px;
	font-size: 0;
	text-decoration: none;
}

.bordertop_white {
	border-top: 4px solid white;
	padding-top: 8px;
	padding-bottom: 8px;
	overflow: auto;
	float: none;
}

div.overlay_tab_bar {
	min-width: 396px;
	margin: 0;
	height: 23px;
	white-space: nowrap;
	overflow: hidden;
	background: #b3ccdb url(../images/gui/shading_inv.png) repeat-x 0 0;
	padding: 4px 4px 0;
	text-shadow: #fff 0 1px 2px;
}

.overlay_tab_bar span {
	padding: 4px 12px;
	float: left;
	cursor: pointer;
	background-color: transparent;
}

div#assign_file_list {
	margin-bottom: 8px;
	margin-top: 8px;
	clear: both;
}

ul#sitemap li .sitemap_sitename.selected_page a{
	background-color: #d1d1d1;
	font-weight: bold;
}

#sitemap_for_links ul li span.sitemap_sitename.selected_page a {
	font-weight: bold;
	padding-left: 4px;
}

#sitemap_for_links ul li span.sitemap_sitename a:hover {
	font-weight: bold;
}

div.assign_file_file_name {
	margin-left: 4px;
	margin-top: 14px;
	float: left;
}

.selected_file a {
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

div.assign_file_file_icon img {
	margin-top: 2px;
}

div.add_upload_form_button {
	float: right;
}

.overlay_tab {
	color: white;
	background-color: #77aad5;
	cursor: pointer;
}

.overlay_tab_bar .active {
	color: black;
	background-color: #ededed;
	cursor: default;
	text-shadow: none;
}

#external_link_table .padding_right {
	padding-right: 8px;
}

#external_link_table .external_address_input {
	width: 195px;
}

.alchemy_window_content table.window_form {
	width: 100%;
}

.dialog table.table_window td.label {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	width: 80px;
	height: 25px;
}

.dialog table.table_window td.label.right {
	text-align: right;
	width: 50px;
}

.elements_for_page .alchemy_selectbox {
	float: left;
	width: 217px;
}

table.window_form td.input {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
}

.alchemy_window_content p {
	min-height: 21px;
}

table.window_form td.checkbox {
	text-align: left;
}

select#url_protocol.medium {
	margin: 0;
}

.alchemy_window_content .auto_resize {
	width: 100%;
}

.alchemy_window_content td.medium {
	width: 76px;
}

.alchemy_window_content .medium_long {
	width: 129px;
}

.alchemy_window_content .long {
	width: 231px;
	margin: 0;
}

.alchemy_window_content .very_long {
	width: 300px;
	margin: 0;
}

.alchemy_window_content select.very_long {
	width: 306px;
}

.alchemy_window_content .short {
	width: 40px;
}

.alchemy_window_content p a.button {
	float: right;
}

div.emulate_table input.button:disabled {
	color: grey;
}

div.emulate_table {
	overflow: auto;
}

div.emulate_table label {
	float: left;
	width: 70px;
	padding-top: 2px;
}

div.emulate_table .short_label {
	width: 50px;
	text-align: right;
	padding-right: 4px;
	padding-left: 4px;
}

div.emulate_table input, div.emulate_table select {
	float: left;
}

.emulated_table_row {
	padding: 1px;
	overflow: auto;
	clear: both;
	margin-bottom: 5px;
	line-height: 21px;
}

.emulated_table_row span.first_column {
	float: left;
	margin-right: 4px;
}

div.emulate_table select.short {
	border: 0px none;
	padding: 2px;
	width: 51px;
}

div.emulate_table p {
	float: left;
	clear: both;
	margin-bottom: 4px;
	padding: 0px;
	width: 100%;
}

.assign_file_file.selected_file {
	background-color: #d1d1d1;
}

div.info ol {
	margin: 0 0 8px;
	padding-left: 20px;
}

div.info ol li {
	text-indent: 0;
	margin-bottom: 4px;
}

div#overlay_toolbar {
	margin: -8px -8px 12px;
	padding: 8px;
	background: #e3e3e3 url(../images/gui/shading.png) repeat-x 0 32px;
	border: 1px solid #afafaf;
	height: 35px;
}

div#overlay_toolbar div.toolbar_spacer {
	float: left;
	width: 1px;
	height: 37px;
	border-right-style: dotted;
	border-right-width: 1px;
	margin-right: 8px;
	margin-left: 4px;
}

div#overlay_toolbar a.button {
	width: 25px;
	height: 21px;
	text-decoration: none;
	float: right;
	border-width: 0;
	border-style: none;
	font-size: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 0 0;
}

div#overlay_toolbar a.button:active {
	text-decoration: none;
	background-position: 0 -21px;
}
