/* @override http://0.0.0.0:3000/plugin_assets/alchemy/stylesheets/alchemy_tooltip.css */

form.create_right {
	float: left;
	clear: both;
}

.overlay_alchemy_tooltip {
	background-color: #000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.alchemy_tooltip_buttons {
	display: none;
}

/* North-West corner */

.alchemy_tooltip_nw {
	background-color: #fff;
	width: 0px;
	height: 0px;
	font-size: 0;
}

/* North border */

.alchemy_tooltip_n {
	background-color: #fff;
	height: 0px;
	font-size: 0;
}

/* North-East corner */

.alchemy_tooltip_ne {
	background-color: #fff;
	width: 0px;
	height: 0px;
	font-size: 0;
}

/* West border */

.alchemy_tooltip_w {
	background-color: #fff;
	width: 0px;
	font-size: 0;
}

/* East border */

.alchemy_tooltip_e {
	background-color: #fff;
	width: 0px;
	font-size: 0;
}

/* South-West corner */

.alchemy_tooltip_sw {
	background-color: #fff;
	width: 0px;
	height: 0px;
	font-size: 0;
}

/* South border */

.alchemy_tooltip_s {
	background-color: #fff;
	height: 0;
	font-size: 0;
}

/* South-East corner */

.alchemy_tooltip_se {
	background-color: #fff;
	width: 0px;
	height: 0px;
	font-size: 0;
}

/* Resize button */

.alchemy_tooltip_sizer {
	background-color: #fff;
	width: 0px;
	height: 0px;
	font-size: 0;
}

/* Close button */

.alchemy_tooltip_close {
	display: none;
}

/* Title bar */

.alchemy_tooltip_title {
	display: none;
}

/* Content div (not used for url) */

.alchemy_tooltip_content {
	color: #000;
	background: #f3f3e7 url(/images/alchemy/icons/information-white.png) no-repeat 4px 4px;
	overflow: auto;
	font-size: 10px;
}

.alchemy_tooltip_content p {
	padding: 4px;
	margin: 0;
	font-size: 10px;
}

.alchemy_tooltip_content h1 {
	padding: 4px 4px 4px 24px;
	margin: 0;
	font-size: 10px;
	line-height: 16px;
}

.alchemy_tooltip_content a img {
	border-style: none;
}