html {
	height: 100%;
}

#sitemap_heading span.page_name {
	margin-left: 24px;
	line-height: 28px;
}

body#alchemy {
	margin: 0;
	padding: 0;
	color: #333;
	font: 12px "Lucida Grande", Arial, sans-serif;
	background-color: #ededed;
	height: 100%;
	position: relative;
	cursor: default;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

#corner {
	z-index: 15;
	width: 84px;
	height: 16px;
	position: fixed;
	left: 0;
	top: 0;
	background: url(../images/gui/shading_inv.png) repeat-x;
	font-size: 0;
}

div#flash_notices {
	position: fixed;
	right: 0;
	z-index: 100;
	width: 300px;
	top: 0;
}

/* @group overlay */

div#overlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 400000;
	background-color: white;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#user_list li.table_row div.table_left span.icon img {
	width: 16px;
	height: 16px;
	position: relative;
	top: 1px;
	left: -1px;
}

div#overlay_text_box {
	background-color: white;
	color: black;
	font-size: 18px;
	text-align: center;
	margin-top: 25%;
}

div#overlay_text_box img {
	position: relative;
	top: 9px;
}

/* @end */

/* @group top_frame */

#preview_frame {
	background-color: white;
	width: 100%;
	height: 100%;
	position: relative;
	top: 84px;
}

div#top_menu {
	position: fixed;
	top: 0;
	left: 84px;
	z-index: 5;
}

#main_menu {
	white-space: nowrap;
	z-index: 0;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 84px;
	overflow: hidden;
}

#main_menu_background {
	height: 100%;
	width: 84px;
	background: #b2ccdb url(../images/gui/shading_90.png) repeat-y -8px;
	z-index: 0;
	position: absolute;
}

#logout {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 76px;
	padding: 4px 4px 8px;
}

#logout a {
	display: block;
}

#logout a:hover {
	text-decoration: none;
}

#logout img {
	margin-bottom: 4px;
}

/* @end */

#main_content {
	background-color: #ededed;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin-left: 84px;
	margin-top: 90px;
}

div#user_info {
	position: absolute;
	z-index: 10;
	line-height: 27px;
	font-size: 11px;
	right: 10px;
	top: 0;
}

div#sideboard {
	float: right;
	width: 190px;
}

div#license {
	overflow: auto;
	height: 24em;
	background-color: white;
}

ul {
	padding-left: 16px;
	margin-top: 1em;
	margin-bottom: 1em;
}

ul li {
	margin-bottom: 0.5em;
}

#sideboard div.sideboard_widget {
	padding: 8px;
	margin: 8px 0;
	background-color: #dedede;
	border-width: 1px;
	border-color: #9a9a9a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#dashboard {
	overflow: auto;
	float: left;
	padding: 16px;
}

#dashboard h1 {
	font-size: 2em;
	margin-bottom: 1em;
	text-shadow: #fff 1px 1px 2px;
}

div#explanation {
	width: 380px;
	margin-right: auto;
	margin-left: auto;
	padding: 16px;
	background-color: #ffea00;
	border: 1px solid #ffc000;
	border-top: 10px solid #ffc000;
	-webkit-border-radius: 0 7px 7px 7px;
	-moz-border-radius: 0 7px 7px 7px;
	-o-border-radius: 0 7px 7px 7px;
	border-radius: 0 7px 7px 7px;
	-webkit-box-shadow: 1px 1px 8px rgba(0, 3, 51, 0.5);
	-moz-box-shadow: 1px 1px 8px rgba(0, 3, 51, 0.5);
	-o-box-shadow: 1px 1px 8px rgba(0, 3, 51, 0.5);
	box-shadow: 1px 1px 8px rgba(0, 3, 51, 0.5);
	margin-top: 1em;
}

#main_navi a.homepage_link {
	color: white;
	margin-left: 10px;
	line-height: 32px;
}

a.drop_down_select img {
	float: left;
	position: relative;
	top: 2px;
	margin-right: 4px;
}

div#toolbar form a.search_field_clear {
	width: 15px;
	height: 15px;
	background: #b3ccdb url(../images/gui/close.png) no-repeat 0 -1px;
	position: absolute;
	right: 8px;
	top: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

div.alchemy_selectbox {
	position: relative;
	font-size: 11px;
	height: 21px;
	width: 130px;
	margin: 0;
	z-index: 10;
}

#language_select {
	margin-bottom: 4px;
}

#new_element .alchemy_selectbox {
	float: left;
	line-height: normal;
	margin-left: 8px;
	width: 200px;
}

.alchemy_selectbox a.alchemy_selectbox_link {
	padding: 3px 20px 2px 4px;
	height: 15px;
	display: block;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	color: #333;
}

.alchemy_selectbox .alchemy_selectbox_link_arrow {
	background: url(../images/gui/dropdown_arrow.png) no-repeat right 0;
	width: 17px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0;
	z-index: 1;
}

.alchemy_selectbox a.alchemy_selectbox_link:active .alchemy_selectbox_link_arrow {
	background-position: right -19px;
}

.alchemy_selectbox .alchemy_selectbox_link_bg {
	height: 19px;
	border: 1px solid #afafaf;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: url(../images/gui/button_shading.png) repeat-x 0 0;
	z-index: 10;
	position: absolute;
	width: 100%;
}

#language_select a.alchemy_selectbox_link img {
	position: relative;
	top: 1px;
}

.alchemy_selectbox a.alchemy_selectbox_link:hover {
	text-decoration: none;
	cursor: default;
}

.alchemy_selectbox a.alchemy_selectbox_link:focus {
	outline: none;
}

.alchemy_selectbox a.alchemy_selectbox_link:active {
	text-decoration: none;
	cursor: default;
}

.alchemy_selectbox_link_bg:active {
	background-position: 0 -19px;
}

.alchemy_selectbox div.alchemy_selectbox_body {
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #ededed;
	border: 1px solid #afafaf;
	min-width: 100%;
	z-index: 10;
	-webkit-box-shadow: #333 0px 4px 4px;
	-moz-box-shadow: #333 0px 4px 4px;
	-o-box-shadow: #333 0px 4px 4px;
	box-shadow: #333 0px 4px 4px;
}

.alchemy_selectbox div.alchemy_selectbox_body a {
	cursor: default;
	margin: 0;
	padding: 4px;
	display: block;
	text-align: left;
	color: #333;
	white-space: nowrap;
}

.alchemy_selectbox div.alchemy_selectbox_body a:hover {
	text-decoration: none;
	background-color: #b3ccdb;
	color: #333;
}

.alchemy_selectbox div.alchemy_selectbox_body a.selected {
	background-color: #b3ccdb;
	color: #333;
}

.js_filter_field_box {
	position: relative;
	float: right;
	margin-left: 4px;
	top: -5px;
}

.js_filter_field_box .js_filter_field {
	width: 200px;
	padding-right: 8px;
	padding-left: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#flags a img {
	float: left;
	position: relative;
	top: 2px;
	margin-right: 4px;
}

.js_filter_field_box label {
	padding-top: 3px;
	text-shadow: #fefefe 1px 1px 0;
	font-size: 10px;
	width: 200px;
	display: inline-block;
	text-align: center;
}

.js_filter_field_box .js_filter_field_clear {
	width: 15px;
	height: 15px;
	background: #77aad5 url(../images/gui/close.png) no-repeat 0 -1px;
	position: absolute;
	right: 8px;
	top: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

h1 {
	margin: 0 0 10px;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
}

div.source_editor textarea{
	width: 100%;
	height: 358px;
}

div.edit_source_buttons {
	height: 18px;
	margin-top: 8px;
	float: right;
	clear: both;
}

table.list td.rights {
	width: 60px;
}

h2 {
	margin: 5px 0;
	padding-bottom: 5px;
	clear: both;
	font-weight: bold;
	font-size: 12px;
}

h3 {
	margin: 5px 0;
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}

p {
	margin: 0 0 5px;
	padding: 0;
	font-size: 12px;
}

p.footnote {
	margin: 16px;
	padding: 8px 8px 8px 32px;
	background: #eaf4f9 url(../images/icons/information-white.png) no-repeat 8px 8px;
	line-height: 17px;
	color: #333;
	border: 1px solid #0b5c84;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	font-size: 10px;
}

p.no_padding {
	padding: 0;
	margin: 0;
}

p.padding_bottom {
	padding-bottom: 5px;
}

.padding_leftright {
	padding-left: 8px;
	padding-right: 8px;
}

.cancel_button_paddingleft {
	padding-left: 5px;
}

div#page {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
	/* needed for footer positioning*/
}

#archive_all .edit_images_bottom span {
	width: 19px;
	height: 19px;
	float: left;
	margin-right: 4px;
}

#archive_all .edit_images_bottom span a{
	display: block;
	height: 19px;
	width: 19px;
	background-repeat: no-repeat;
	text-decoration: none;
	background-position: left;
}

#archive_all .edit_images_bottom span a:hover {
	background-position: right;
}

.picture_tool_delete {
	width: 16px;
	height: 16px;
	position: absolute;
	background-color: white;
	top: 4px;
	right: 4px;
	padding: 1px;
	z-index: 1;
	display: none;
}

.picture_tool_delete a {
	display: block;
	width: 16px;
	height: 16px;
	background: url(../images/icons/remove.png) no-repeat 1px 0;
	cursor: pointer;
}

a.show_element_selector {
	margin-right: 8px;
	width: 19px;
	height: 19px;
	float: left;
	background: url(../images/gui/arrow_green.gif) no-repeat 0 2px;
}

a.hide_element_selector {
	margin-right: 8px;
	width: 19px;
	height: 19px;
	float: left;
	background: url(../images/gui/arrow_green_left.gif) no-repeat -1px 1px;
}

div.tip {
	background-color: #eff8d0;
	border: 1px solid #cce21c;
	padding: 8px;
	margin: 8px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	width: 450px;
}

#back_to_site {
	float: right;
	margin-right: 8px;
}

#dashboard div.dashboard_tip h1 {
	font-size: 1.2em;
}

#sub_navigation {
	height: 22px;
	line-height: 24px;
	padding-left: 8px;
	background: #b3ccdb url(../images/gui/shading_inv.png) repeat-x;
	border-bottom: 1px solid #afafaf;
	padding-top: 4px;
	z-index: 5;
	position: relative;
}

#sub_navigation img {
	float: left;
}

#sub_navigation span.page_status_and_name {
	padding: 0 8px;
	background-color: #e3e3e3;
	text-shadow: #fff 0 1px 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	line-height: 20px;
	float: left;
	-webkit-border-top-right-radius: 7px 7px;
	-webkit-border-top-left-radius: 7px 7px;
	-moz-border-radius: 7px 7px 0 0;
	-o-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	border: 1px solid #afafaf;
	border-bottom-style: none;
	height: 22px;
	-webkit-box-shadow: 2px 0px 4px rgba(0, 3, 51, 0.2);
	-moz-box-shadow: 2px 0px 4px rgba(0, 3, 51, 0.2);
	-o-box-shadow: 2px 0px 4px rgba(0, 3, 51, 0.2);
	box-shadow: 2px 0px 4px rgba(0, 3, 51, 0.2);
}

#sub_navigation span.page_status_and_name img {
	float: none;
	position: relative;
	bottom: 1px;
	margin-right: 3px;
}

#sub_navigation span.page_status_and_name span.page_name {
	display: inline-block;
	position: relative;
	bottom: 3px;
	margin-right: 16px;
	margin-left: 4px;
}

#sub_navigation a {
	float: left;
	padding: 0px 8px;
	height: 21px;
	text-shadow: #fff 0 0px 4px;
	background: #CCC;
	color: #555;	
	-webkit-border-top-right-radius: 7px 7px;
	-webkit-border-top-left-radius: 7px 7px;
	-moz-border-radius: 7px 7px 0 0;
	-o-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	border: 1px solid #afafaf;
	border-bottom-style: none;
	margin-right: 1px;
}

#sub_navigation a:hover {
	color: #333;
	text-decoration: none;
	background-color: white;
}

#sub_navigation a.active {
	float: left;
	position: relative;
	padding: 0px 8px;
	height: 22px;
	color: #333;
	background-color: #e3e3e3;
	text-shadow: #fff 0 1px 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	z-index: 10;	
	-webkit-box-shadow: 2px 0px 4px rgba(0, 3, 51, 0.2);
	-moz-box-shadow: 2px 0px 4px rgba(0, 3, 51, 0.2);
	-o-box-shadow: 2px 0px 4px rgba(0, 3, 51, 0.2);
	box-shadow: 2px 0px 4px rgba(0, 3, 51, 0.2);
}

#sub_navigation a.active:hover {
	text-decoration: none;
}

#archive_upload_delete {
	float: right;
}

.flash {
	padding: 8px 8px 8px 30px;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 1000;
	opacity: 0.95;
	margin: 4px;
}

.flash.notice {
	border-color: #9cc4a1;
	color: #2e5934;
	background: #e2efd3 url(../images/icons/tick.png) no-repeat 8px 8px;
}

#page_editing_notices div.flash {
	margin-top: 0;
	margin-right: 4px;
	margin-left: 4px;
}

.error {
	border-color: #c49c9c;
	color: #592e2e;
	background: #efd3d3 url(../images/icons/exclamation-red.png) no-repeat 8px 8px;
}

.flash.info {
	border-color: #c4c19c;
	color: #726d23;
	background-color: #f3f0c1;
	padding: 8px;
}

#help_page {
	background-color: #ededed;
	height: 100%;
	min-height: 100%;
	padding: 10px;
}

img.link_arrow {
	margin-right: 4px;
	float: right;
}

img.link_arrow_left {
	margin-right: 4px;
	float: left;
}

/* @group main_navi */

#main_navi {
	padding-left: 4px;
	padding-top: 26px;
	position: absolute;
	z-index: 1;
}

#main_menu a {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#main_navi a.main_navi_entry {
	color: #555;
	position: relative;
	text-align: center;
	overflow: hidden;
	display: block;
	width: 79px;
	background: #cdcdcd;
	padding-top: 8px;
	-webkit-border-top-left-radius: 7px 7px;
	-webkit-border-bottom-left-radius: 7px 7px;
	-moz-border-radius: 7px 0px 0px 7px;
	-o-border-radius: 7px 0px 0px 7px;
	border-radius: 7px 0px 0px 7px;
	margin-bottom: 1px;
	margin-top: 0;
	border: 1px solid #afafaf;
	border-right-style: none;
	padding-bottom: 6px;
	text-shadow: #fff 0 0px 4px;
}

#main_navi a.main_navi_entry:hover {
	cursor: pointer;
	text-decoration: none;
	background: #fff;
}

#main_navi a.main_navi_entry img {
	border-style: none;
	height: 24px;
	width: 24px;
	display: inline-block;
	margin-bottom: 4px;
	margin-top: 2px;
}

#main_navi a.main_navi_entry.active {
	background: #ededed;
	color: #333;
	cursor: default;
	text-shadow: #fff 0 1px 2px;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 3, 51, 0.2);
	-moz-box-shadow: 0px 2px 4px rgba(0, 3, 51, 0.2);
	-o-box-shadow: 0px 2px 4px rgba(0, 3, 51, 0.2);
	box-shadow: 0px 2px 4px rgba(0, 3, 51, 0.2);
}

#main_navi #active img {
	float: left;
	position: relative;
	top: 3px;
}

#active span {
	float: left;
	padding: 0;
	margin: 3px 0 0 8px;
}

/* @end */

/* @group Sitemap */

.sitemap_pagename_link {
	color: black;
	text-decoration: none;
	white-space: nowrap;
	display: block;
	background-color: #fff;
}

.sitemap_pagename_link.odd {
	background-color: #eaf3f9;
}

a.sitemap_pagename_link:hover {
	text-decoration: underline;
}

.sitemap_line_spacer {
	float: left;
	width: 20px;
	height: 28px;
}

ul#sitemap ul {
	margin: 0;
	padding: 0;
	display: block;
}

ul#sitemap li,
ul#layoutpages li {
	list-style-type: none;
	display: block;
	margin-left: 22px;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	line-height: 22px;
}

div.sitemap_page {
	height: 22px;
	padding-bottom: 4px;
	padding-top: 4px;
}

div.sitemap_page:hover .sitemap_pagename_link {
	background-color: #fdffdf;
}

div.sitemap_left_images {
	margin-top: 3px;
	float: left;
	margin-right: 8px;
	background-color: #ededed;
}

#sitemap a.page_folder {
	background-image: url(../images/gui/toggle.png);
	background-repeat: no-repeat;
	height: 9px;
	width: 9px;
	font-size: 0;
	float: left;
	margin-left: -18px;
	margin-top: 3px;
}

#sitemap a.page_folder.collapsed {
	background-position: 0 0;
}

#sitemap a.page_folder.folded {
	background-position: -9px 0;
}

div.sitemap_right_tools {
	height: 22px;
	background-color: #ededed;
	padding-left: 16px;
	float: right;
}

ul#sitemap li .sitemap_toolrow,
ul.list li .sitemap_toolrow {
	margin: 0;
	overflow: auto;
	padding: 4px 0;
}

ul#sitemap .sitemap_sitename,
ul.list .sitemap_sitename {
	background-color: #ededed;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0 0 0 21px;
	line-height: 22px;
}

div.page_infos {
	width: 66px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 20px;
	float: right;
	border-left: 1px solid #ededed;
	background: white url(../images/gui/shading.png) repeat-x 0 3px;
	padding: 1px;
}

.page_status {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	float: left;
	margin: 2px 2px 0 4px;
}

#sub_navigation span.page_status_and_name span.page_status {
	float: none;
	display: inline-block;
	position: relative;
	top: 2px;
	margin-left: 2px;
}

span.page_status.restricted {
	background: url(../images/icons/lock.png) 0 0;
}

span.page_status.not_restricted {
	background: url(../images/icons/lock.png) -16px 0;
}

span.page_status.visible {
	background: url(../images/icons/page_visible.png) 0 0;
}

span.page_status.not_visible {
	background: url(../images/icons/page_visible.png) -16px 0;
}

span.page_status.public {
	background: url(../images/icons/page_public.png) 0 0;
}

span.page_status.not_public {
	background: url(../images/icons/page_public.png) 16px 0;
}

#sideboard div.sideboard_widget img {
	margin-bottom: 16px;
	float: none;
}

.site_status {
	float: left;
	width: 16px;
	height: 16px;
	background: url('../images/icons/page.png') no-repeat 0 0;
}

.site_status.locked {
	background-position: -16px 0;
}

#sub_navigation span.page_status_and_name span.site_status {
	float: none;
	display: inline-block;
	margin-right: 4px;
	margin-left: 0;
	margin-bottom: 0;
}

#sitemap img.link_arrow {
	float: right;
	text-align: right;
}

ul#sitemap li img {
	border-width: 0;
	border-style: none;
	float: left;
}

.sitemap_sitestatus {
	float: right;
	margin-top: 4px;
}

/* @group Page_movement */

.navigation_position_tools {
	float: left;
	padding: 0;
	border-width: 0;
	border-style: none;
	margin: -1px 0 0 1px;
}

.navigation_position_tools a, .navigation_position_tools span {
	margin: 0 0 0 1px;
	background: #ffffff url(../images/gui/move.png) no-repeat;
	text-decoration: none;
	float: left;
	width: 16px;
	height: 20px;
	border: 1px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.navigation_position_tools a:hover {
	border: 1px solid #afafaf;
}

.navigation_position_tools a:active {
	border: 1px solid #afafaf;
	background-color: #e3e3e3;
}

.navigation_position_tools .move_left {
	background-position: 0 0;
}

.navigation_position_tools .move_left.disabled {
	background-position: -16px 0;
}

.navigation_position_tools .move_right {
	background-position: -48px 0;
}

.navigation_position_tools .move_right.disabled {
	background-position: -32px 0;
}

.navigation_position_tools .move_up {
	background-position: -96px 1px;
}

.navigation_position_tools .move_up.disabled {
	background-position: -112px 1px;
}

.navigation_position_tools .move_down {
	background-position: -64px -1px;
}

.navigation_position_tools .move_down.disabled {
	background-position: -80px -1px;
}

/* @end */

/* @group site_tools */

.sitemap_line {
	float: left;
	width: 15px;
	height: 30px;
	margin: 0 2px 1px 4px;
	background: url(../images/gui/sitemap_lines.png) no-repeat;
}

a.folder_link {
	text-decoration: none;
	outline: none;
}

.sitemap_sitetools {
	padding: 0;
	float: left;
	width: 52px;
	margin-left: 6px;
}

.sitemap_sitetools .icon_spacer {
	width: 18px;
	height: 18px;
	margin-left: 4px;
	float: left;
	margin-right: 4px;
}

.sitemap_sitetools a {

}

/* @end */

/* @end */

/* @group page_editing */

div#page_editing_head {
	float: left;
	margin-right: 8px;
	padding-right: 8px;
	border-right-style: dotted;
	border-right-width: 1px;
	line-height: 35px;
	padding-top: 8px;
	height: 27px;
}

#page_names td {
	height: 22px;
	padding-bottom: 4px;
	vertical-align: top;
}

span.description_for_arrow {
	float: left;
	margin-top: 3px;
}

span.arrow_for_button {
	float: left;
	background-image: url(../images/gui/arrow.gif);
	width: 10px;
	height: 19px;
	margin-right: 4px;
	margin-left: 4px;
}

#page_names textarea {
	height: 78px;
}

page_names #page_meta_description {
	
}

/* @end */

#page_editing_head .site_status {
	margin: 0 4px 0 0;
	float: left;
}

div#page_status_options {
	float: left;
}

form {
	margin-bottom: 0;
}

div#page_editing_menu {
	overflow: auto;
	padding-left: 1px;
	padding-right: 1px;
}

h2#sitemap_heading {
	padding: 0;
	margin: 16px 16px 0;
}

#page_status_options .firstcol {
	float: left;
}

#page_status_options .firstcol label {
	width: 80px;
	margin-right: 10px;
}

#page_status_options .secondcol {
	float: left;
	margin-left: 16px;
}

#page_status_options .secondcol label {
	width: 120px;
	margin-right: 5px;
}

#page_status_options .thirdcol {
	float: right;
	font-size: 11px;
	text-align: right;
	width: 90px;
}

div#userinfo {
	text-align: right;
	float: right;
	margin-right: 8px;
}

#userinfo img {
	position: relative;
	top: 1px;
}

div#user_list_legend {
	overflow: auto;
	padding: 1px 1px 4px;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
	width: 370px;
}

#toolbar {
	z-index: 10;
	padding: 12px 8px;
	height: 36px;
	background: #e3e3e3 url(../images/gui/shading.png) repeat-x 0 42px;
	margin-right: 8px;
	border: 1px solid #afafaf;
	border-top-style: none;
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-o-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
	position: relative;
	margin-left: 8px;
}

#toolbar form {
	margin: 0 0 0 8px;
	float: right;
	text-align: center;
}

#toolbar_buttons div.button_with_label form {
	margin: 0;
	float: none;
}

#toolbar div.search_field {
	position: relative;
	float: left;
	margin-bottom: 4px;
}

#toolbar div p {
	float: right;
	margin: 3px 4px 0 0;
	padding: 0;
}

div#toolbar div.toolbar_spacer {
	float: left;
	width: 1px;
	height: 37px;
	border-right-style: dotted;
	border-right-width: 1px;
	margin-right: 8px;
	margin-left: 4px;
}

div#toolbar a.button {
	width: 25px;
	height: 21px;
	text-decoration: none;
	float: right;
	border-width: 0;
	border-style: none;
	font-size: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 0 0;
}

div#toolbar a.button:active {
	text-decoration: none;
	background-position: 0 -21px;
}

div#toolbar_buttons span.file_upload {
	background-image: url(../images/icons/file_upload.png);
}

/* @group add, edit and delete buttons */

button.icon_button {
	background: #f7f7f7 url(../images/gui/shading.png) repeat-x 0 2px;
	border: 1px solid #9a9a9a;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 4px;
	cursor: pointer;
	padding: 2px;
	height: 22px;
	line-height: 19px;
	font-size: 0;
	width: 22px;
}

button.icon_button:hover {
	background-color: #e6f0f5;
	color: #666;
	border: 1px solid #888;
	text-shadow: 0 1px 4px #fff;
	text-decoration: none;
}

button.icon_button:active {
	background-color: #cdd6db;
}

button.icon_button img {
	margin: 0;
	border-style: none;
	border-width: 0;
}

a.icon_button {
	float: left;
	width: 20px;
	height: 20px;
	background-color: #f7f7f7;
	background-image: url(../images/gui/shading.png);
	background-repeat: repeat-x;
	background-position: 0 1px;
	margin-right: 8px;
	border: 1px solid #9a9a9a;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
	position: relative;
}

div.sitemap_right_tools a.icon_button {
}

div.sitemap_right_tools .sitemap_sitetools a.icon_button {
	margin-right: 4px;
}

a.icon_button.small {
	width: 11px;
	height: 11px;
	float: none;
	display: inline-block;
	background-position: 0 -8px;
	vertical-align: -1px;
}

a.icon_button.old_icon {
	width: 20px;
	height: 19px;
}

a.icon_button:hover {
	background-color: #e6f0f5;
	color: #666;
	border: 1px solid #888;
	text-shadow: 0 1px 4px #fff;
	text-decoration: none;
}

a.icon_button:active {
	background-color: #cdd6db;
}

a.icon_button img {
	position: absolute;
	top: 2px;
	left: 3px;
}

a.icon_button span.icon {
	position: absolute;
	top: 2px;
	left: 2px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

span.icon.zoom-out {
	background: url(../images/icons/magnifier-zom.png) -1px 1px;
}

span.icon.zoom-equal {
	background: url(../images/icons/magnifier-zom.png) -17px 1px;
}

span.icon.zoom-in {
	background: url(../images/icons/magnifier-zom.png) -33px 1px;
}

a.icon_button.small span.icon {
	top: 2px;
	left: 2px;
	width: 9px;
	height: 9px;
	background-position: -4px -4px;
}

span.icon.delete-small {
	background-image: url(../images/icons/minus-small.png);
}

a.icon_button span.old_icon {
	position: relative;
	background-repeat: no-repeat;
	width: 22px;
	height: 20px;
	display: inline-block;
	top: -1px;
	left: -1px;
}

a.icon_button.old_icon img {
	top: 0;
	left: 1px;
}

div.table_right span.tools a.icon_button img {
	left: -1px;
}

/* @end */

#user_edit form {
	margin: 0;
	padding: 0;
}

table.list {
	width: 100%;
	border-style: none;
	border-spacing: 0 4px;
	padding: 0;
}

table.list td,
table.list th {
	padding: 4px;
	white-space: nowrap;
}

table.list th {
	text-align: left;
	height: 22px;
	vertical-align: top;
}

th.login_status {
	width: 16px;
}

table.list tr.odd td {
	background-color: white;
}

table.list tr.even td {
	background-color: #eaf3f9;
}

.list li.table_row {
	display: block;
	margin: 0 0 8px;
	background-color: #ffffff;
	position: relative;
	line-height: 18px;
	float: left;
	width: 100%;
}

ul.list {
	margin: 0;
	padding: 8px;
	list-style-type: none;
}

ul#sitemap.list {
	padding: 0 16px 8px;
}

#sitemap .drop_hover {
	background: url(../images/gui/insertpage.png) no-repeat bottom left;
	outline: 1px dotted #999;
}

#sitemap .drop_top {
	background-position: top left;
	padding-top: 16px;
}

#sitemap .drop_bottom {
	background-position: bottom left;
	padding-bottom: 16px;
}

#sitemap .drop_insert {
	background-position: 24px 100%;
	padding-bottom: 16px;
}

ul.list li {
	list-style-type: none;
	border-width: 0;
	border-style: none;
	display: block;
}

ul.list li.legend {
	background-color: transparent;
	font-weight: bold;
}

#layoutpages li img.site_status {
	float: left;
}

.list div.detail_row {
	background-color: #e3e3e3;
	font-size: 10px;
	margin-top: 3px;
	padding: 4px;
	overflow: hidden;
}

.list div.detail_row div {
	padding-top: 1px;
	padding-bottom: 1px;
}

.list span.right {
	float: right;
}

#sitemap li.legend span.right {
	margin-right: 52px;
}

#sitemap li.legend span.right span.page_move {
	display: inline-block;
	width: 74px;
	text-align: center;
}

h2#sitemap_heading span.page_infos {
	margin-right: 128px;
	width: 40px;
	text-align: center;
	float: right;
	line-height: 28px;
}

.handle {
	cursor: move;
}

#userinfo p {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

/* @group image_upload */

table.list td.tools .icon,
table.list td.icon .icon {
	width: 16px;
	height: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	margin-top: 0;
	background-repeat: no-repeat;
	display: block;
	margin-right: 4px;
}

input#search_input_field {
	width: 200px;
	text-align: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 8px;
	padding-right: 8px;
}

input.button, .editor_ok_button, a.button {
	margin: 0;
	font: 11px "Lucida Grande", "Lucida Sans", Lucida, sans-serif;
	border: 1px solid #9a9a9a;
	background: #f5f5f5 url(../images/gui/shading.png) repeat-x 0 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	color: #333;
	text-shadow: #f2f2f2 1px 1px 0;
}

input.button, .editor_ok_button {
	height: 21px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 2px;	
}

input.button:active,
a.button:active,
.editor_ok_button:active {
	text-decoration: none;
	background: #e5e5e5 url(../images/gui/shading_inv.png) repeat-x 0 -4px;
	text-shadow: none;
}

.editor_ok_button {
	width: 87px;
	margin-right: 1px;
}

a.button {
	padding: 3px 8px 2px;
	text-decoration: none;
	float: left;
}

table.list tr td.tools {
	width: 40px;
	background-color: #ededed;
}

td.input,
td.label {
	vertical-align: top;
}

table.list tr td.tools a {
	float: left;
	width: 19px;
	height: 19px;
	margin-right: 2px;
}

table.list tr td.tools.long {
	width: 60px;
}

table.list tr td.icon {
	background-color: #ededed;
	width: 20px;
	text-align: center;
}

table.list tr:hover td {
	background-color: #fffdef;
}

td.file_type {
	width: 130px;
	white-space: nowrap;
}

td.file_size {
	width: 80px;
}

td.date {
	width: 150px;
}

.list li.table_row div.table_right span{
	float: left;
	text-align: left;
}

.list li.table_row div.table_center {
	float: none;
	padding-left: 24px;
}

td.login {
	width: 100px;
}

td.email {
	width: 270px;
}

td.role {
	width: 70px;
	padding-right: 4px;
}

.list div.table_left {
	float: left;
}

.list div.table_right {
	float: right;
}

a.editor_cancel {
	color: #333;
	font-size: 13px;
	width: 20px;
	height: 21px;
	float: right;
	background: url(../images/gui/button_background.png) no-repeat;
	text-align: center;
	line-height: 20px;
	padding-left: 1px;
	text-decoration: none;
}

a.editor_cancel:active {
	background-position: 0 -21px;
}

.editor_field {
	border-width: 1px;
	padding: 1px;
	height: 15px;
	margin: 0 0 8px 0;
	width: 108px;
	font: 12px "Courier New", Courier, mono;
}

form.add_gallery_to_index select {
	width: 130px;
	border-width: 1px;
	margin-right: 2px;
}

#archive_all {
	padding: 16px;
	margin-top: 8px;
}

#archive_all .padding_left_right {
	padding-right: 8px;
	padding-left: 8px;
}

.picture_image {
	overflow: hidden;
	position: absolute;
	z-index: 0;
	padding: 1px 0 1px 1px;
}

div#archive_all .picture_detail {
	padding: 2px 0 0;
	margin: 0 16px 16px 0;
	height: 118px;
	width: 118px;
}

#archive_all .picture_name {
	width: 110px;
	height: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: block;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
	bottom: 3px;
	left: 4px;
	cursor: text;
	font-family: "Courier New", Courier, mono;
	line-height: 11px;
}

div.archive_image_spinner {
	position: absolute;
	z-index: 0;
	top: 35px;
	left: 40px;
}

.picture_detail {
	width: 119px;
	height: 118px;
	padding: 2px 0 0;
	margin: 2px 1px 2px 2px;
	background-color: #fff;
	float: left;
	width: 118px;
	padding: 3px 0 0;
	border: 1px solid #c0c0c0;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: #999 0px 1px 3px;
	-moz-box-shadow: #999 0px 1px 3px;
	-o-box-shadow: #999 0px 1px 3px;
	box-shadow: #999 0px 1px 3px;
}

.picture_detail .picture_image {
	text-align: center;
	margin-left: 3px;
	margin-bottom: 2px;
	width: 110px;
	height: 93px;
}

#archive_all .picture_image {
	margin-bottom: 0;
	position: relative;
	margin-top: 1px;
	height: 93px;
}

#archive_all .picture_detail:hover .picture_tool_delete {
	display: block;
}

.picture_image a {
	margin: auto;
	float: none;
	display: block;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: -o-zoom-in;
	cursor: zoom-in;
	width: 100%;
	height: 100%;
	background-color: #666;
}

.inplaceeditor-form {
	position: absolute;
	background-color: #ffffff;
	padding: 3px;
	border: 1px solid #c0c0c0;
	width: 112px;
	z-index: 10;
	border-top-style: none;
	left: -1px;
	top: 98px;
}

.headline_text_editor {
	overflow: auto;
	width: 374px;
}

.short_content_text {
	width: 374px;
	background-color: white;
	margin-bottom: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 2px;
	float: none;
}

.short_content_text a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.short_content_text a:hover {
	color: #000000;
	text-decoration: underline;
}

.picture_tool_assign_box {
	float: right;
	width: 105px;
	overflow: auto;
	padding: 1px;
}

/* @end */

.short_picture {
	float: left
}

.short_element {
	margin-left: 20px;
	float: left;
}

.short_element input {
	width: 190px;
	float: left;
	font: 11px "Lucida Grande", "Lucida Sans", Lucida, sans-serif;
}

.dashed_border {
	border: 1px dashed;
}

div.archive_pagination_links {
	position: relative;
	margin-bottom: 16px;
	margin-top: 8px;
	height: 19px;
	text-align: center;
	line-height: 21px;
}

div.archive_pagination_links span.pagination_current_page {
	background-position: 0 -21px;
	font-weight: bold;
	color: #333;
}

div.archive_pagination_links .first_page {
	position: absolute;
	left: 8px;
	top: -2px;
}

.archive_pagination_links .last_page {
	position: absolute;
	right: 8px;
	top: -2px;
}

.archive_pagination_links .previous_page {
	position: absolute;
	left: 32px;
	top: -2px;
}

.archive_pagination_links .next_page {
	position: absolute;
	right: 32px;
	top: -2px;
}

.archive_pagination_links span, .archive_pagination_links a {
	padding: 0;
	color: #333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 21px;
	height: 21px;
	display: inline-block;
	background: url(../images/gui/button_background.png) no-repeat 0 0;
}

.archive_pagination_links span {
	color: #9a9a9a;
}

div.archive_pagination_links a:active {
	text-decoration: none;
	background-position: 0 -21px;
}

a.rename_link {
	background: url(../images/icons/edit.png) 0 0;
}

a.delete_link {
	background: url(../images/alchemy/trash.png) no-repeat 0 0;
}

ul#all_files {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

a.file_archive_download_file:hover {
	background-position: 3px -25px;
}

form#archive_upload_form {
	padding: 4px;
	overflow: auto;
	width: 390px;
}

a.add_field:hover, a.add_field:active {
	background-position: right;
}

img.image_in_text {
	position: relative;
	top: 3px;
}

a.archive_upload_delete:hover, a.archive_upload_delete:active {
	background-position: right;
}

div.right_checkbox {
	float: left;
}

div.all_rights {
	float: left;
	clear: both;
	margin-top: 10px;
}

textarea.thin_border {
	border-style: inset;
	font: 12px "Lucida Grande", "Lucida Sans", Lucida, sans-serif;
	padding: 2px;
	border-width: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: auto;
}

.thin_border,
.input_field {
	height: 16px;
	border-width: 1px;
	font-size: 12px;
	padding: 2px 2px 1px;
	margin: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #ffffff url(../images/gui/shading_inv.png) repeat-x 0 -5px;
}

span.icon.user_add {
	background: url(../images/icons/user-icons.png) -48px 0;
}

span.icon.user {
	background: url(../images/icons/user-icons.png) 0 0;
}

span.icon.user.female {
	background: url(../images/icons/user-icons.png) -64px 0;
}

a.icon.user_edit {
	background: url(../images/icons/user-icons.png) -32px 0;
}

a.icon.user_edit.female {
	background: url(../images/icons/user-icons.png) -96px 0;
}

span.icon.settings {
	background: url(../images/icons/gear.png) 0 0;
}

span.icon.upload {
	background: url(../images/icons/upload.png) 0 0;
}

span.icon.pdf {
	background: url(../images/icons/file-icons.png) -80px 0;
}

span.icon.text {
	background: url(../images/icons/file-icons.png) -224px 0;
}

span.icon.archive {
	background: url(../images/icons/file-icons.png) -208px 0;
}

span.icon.audio {
	background: url(../images/icons/file-icons.png) -96px 0;
}

span.icon.image {
	background: url(../images/icons/file-icons.png) -112px 0;
}

span.icon.psd {
	background: url(../images/icons/file-icons.png) -64px 0;
}

span.icon.flash {
	background: url(../images/icons/file-icons.png) -128px 0;
}

span.icon.video {
	background: url(../images/icons/file-icons.png) -144px 0;
}

span.icon.rtf {
	background: url(../images/icons/file-icons.png) -160px 0;
}

span.icon.word {
	background: url(../images/icons/file-icons.png) -192px 0;
}

span.icon.excel {
	background: url(../images/icons/file-icons.png) -176px 0;
}

span.icon.file {
	background: url(../images/icons/file-icons.png) -16px 0;
}

span.icon.flush {
	background: url(../images/icons/broom.png) 0 1px;
}

span.icon.elements_window {
	background: url(../images/icons/elements_window.png) 0 0;
}

span.icon.new_element {
	background: url(../images/icons/new_element.png) 0 0;
}

a.icon.file_download {
	background: url(../images/icons/file-icons.png) -240px 0;
}

a.icon.file_delete {
	background: url(../images/icons/file-icons.png) -48px 0;
}

a.icon.file_edit {
	background: url(../images/icons/file-icons.png) -32px 0;
}

span.icon.add_page {
	background: url(../images/icons/page.png) -48px 0;
}

span.icon.delete_page {
	background: url(../images/icons/page.png) -32px 0;
}

a.icon.user_delete {
	background: url(../images/icons/user-icons.png) -16px 0;
}

span.icon.configure_page {
	background: url(../images/icons/gear.png) 0 0;
}

a.icon.user_delete.female {
	background: url(../images/icons/user-icons.png) -80px 0;
}

select.select_box {
	border: 1px solid #9a9a9a;
	color: #333;
	padding: 1px;
	margin: 0;
	font-size: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f4f4f4;
	height: 21px;
}

.alchemy_tooltip {
	background-color: white;
	border: 1px solid black;
	overflow: auto;
}

.date_select_without_time #date_date_4i{
	display: none;
}

.date_select_without_time #date_date_5i{
	display: none;
}

.with_medium_padding {
	padding: 8px;
}

.with_padding {
	padding: 8px 8px 4px;
}

.element_spinner {
	float: right;
	height: 23px;
	position: relative;
	bottom: 3px;
	right: -3px;
}

.element_folder_spinner {
	position: relative;
	bottom: 2px;
	width: 24px;
	height: 24px;
	right: -2px;
}

.element_spinner img {
	bottom: 1px;
	float: left;
	position: relative;
	width: 24px;
	height: 24px;
	right: 0;
}

span.spinner_wait_text {
	float: left;
	position: relative;
	top: 4px;
}

.progressContainer {
	padding: 4px;
	width: 320px;
	height: 40px;
	background-color: #e3e3e3;
	position: relative;
	margin-bottom: 4px;
	margin-left: auto;
	margin-right: auto;
}

.progressName, .progressBarStatus {
	margin-bottom: 4px;
}

#divFileProgressContainer {
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.progressBarInProgress {
	height: 2px;
	background-color: #77aad5;
}

.progressCancel {
	background: url(../images/icons/cross-small.png) no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: 4px;
}

#btnCancel {
	float: right;
}

div.element_head span.ajax_folder span.error_icon {
	float: left;
	width: 14px;
	height: 15px;
	text-align: center;
	background-color: white;
	border: 1px solid #935b5b;
	color: #935b5b;
}

div#images {
	margin-top: 16px;
	margin-bottom: 8px;
	overflow: visible;
}

div.pagination {
	text-align: center;
	line-height: 24px;
	height: 24px;
	width: 100%;
	margin-bottom: 8px;
}

div.pagination .prev_page {
	margin-right: 16px;
	float: left;
}

div.pagination .next_page {
	margin-left: 16px;
	float: right;
}

div.pagination a,
div.pagination span {
	padding: 2px 6px;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background: white url(../images/gui/shading.png) repeat-x 0 2px;
	height: 17px;
	line-height: 17px;
}

div.pagination a:hover {
	background-color: #e6f0f5;
	color: #666;
	border: 1px solid #888;
	text-shadow: 0 1px 4px #fff;
	text-decoration: none;
}

div.pagination .disabled {
	color: #c0c0c0;
}

div.pagination .current {
	background-color: #e6f0f5;
	color: #666;
	border: 1px solid #888;
	text-shadow: 0 1px 4px #fff;
}

#toolbar_links {
	line-height: 21px;
	margin-left: 8px;
	float: left;
}

div#toolbar_buttons {
	float: left;
	margin-right: 6px;
}

div.button_with_label {
	float: left;
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
}

div.button_with_label.disabled {
	position: relative;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

div.button_with_label .disabledButton {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#per_page_links {
	text-align: center;
	float: left;
}

div.button_with_label a.icon_button {
	float: none;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 4px;
	display: inline-block;
	position: relative;
}

div#toolbar label {
	font-size: 10px;
	text-shadow: #fff 0 1px 2px;
}

div.button_with_label:hover label {
	color: #000;
	text-shadow: #fff 0 1px 4px;
}

#toolbar_links a {
	padding: 3px 4px;
	border: 1px solid #9a9a9a;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	margin-right: 4px;
	background: white url(../images/gui/shading.png) repeat-x 0 2px;
	text-decoration: none;
}

#toolbar_links a:hover {
	background-color: #e6f0f5;
	color: #666;
	border: 1px solid #888;
	text-shadow: 0 1px 4px #fff;
	text-decoration: none;
}

#toolbar_links a:active {
	background-color: #cdd6db;
}

div#per_page_values {
	margin-bottom: 1px;
}

#toolbar_links a.active {
	background-color: #e6f0f5;
	color: #666;
	border: 1px solid #888;
	text-shadow: 0 1px 4px #fff;
}

#errorExplanation {
	background: #ffdfdf;
	padding: 8px 8px 8px 16px;
	text-align: left;
	margin-bottom: 8px;
	border: 1px solid #d08f91;
	color: #690001;
	-webkit-border-radius: 0 7px 7px 7px;
	-moz-border-radius: 0 7px 7px 7px;
	-o-border-radius: 0 7px 7px 7px;
	border-radius: 0 7px 7px 7px;
}

#errorExplanation h2 {
	font-size: 1.2em;
}

div.fieldWithErrors {
	display: inline;
}

p.foot_note {
	font-size: 0.8em;
}

#explanation p {
	margin-top: 1em;
	margin-bottom: 1em;
}

#errorExplanation ul {
	padding: 0 0 0 16px;
}

#all_files td.name a {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: -o-zoom-in;
	cursor: zoom-in;
}
