/* @override 
	http://0.0.0.0:3000/stylesheets/alchemy/contents.css
	http://localhost:3000/stylesheets/alchemy/contents.css
*/

.picture_tool_button {
	float: left;
	margin-right: 2px;
	margin-left: 2px;
}

.picture_tool_button.disabled {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.picture_tool_button.disabled a {
	cursor: default;
}

.picture_tool_button a {
	text-decoration: none;
	width: 16px;
	height: 16px;
	display: block;
	background-image: url(/images/alchemy/icons.png);
	background-repeat: no-repeat;
	margin: 1px;
}

.picture_tool_button a:hover {
	text-decoration: none;
}

.picture_tool_button a.edit_picture {
	background-position: -192px -40px;
}

.picture_tool_button a.edit_link,
.icon_button span.icon.link {
	background-image: url(/images/alchemy/icons.png);
	background-position: -160px -40px;
	left: 2px;
	top: 2px;
}

.picture_tool_button a.edit_link.linked {
	border: 1px solid #bbb;
	width: 16px;
	height: 16px;
	background-color: #f8d87b;
	background-position: -160px -40px;
	top: -1px;
	position: relative;
	left: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

div.essence_picture_editor {
	position: relative;
	float: left;
}

div.essence_picture_editor .picture_tool_delete {
	position: absolute;
	right: 4px;
	top: 4px;
	padding: 2px 2px 0;
	z-index: 2;
}

div.essence_picture_editor:hover .picture_tool_delete {
	display: block;
}

.picture_tool_button a.swap_picture {
	background-position: -144px -40px;
	margin-right: 0;
}

.picture_tool_button a.edit_picture_mask {
	background-position: -128px -40px;
	margin-right: 0;
}

.picture_tool_button a.remove_link {
	background-position: -176px -40px;
}

.dragable_picture {
	float: left;
}

.picture_detail div.missing_image {
	height: 96px;
	text-align: center;
	line-height: 99px;
}

.picture_detail div.missing_image span.icon {
	position: relative;
	top: 21px;
}

.edit_images_bottom {
	height: 19px;
	position: absolute;
	z-index: 0;
	left: 5px;
	bottom: 2px;
}

.picture_detail .picture_handle {
	position: absolute;
	z-index: 1;
	width: 110px;
	height: 93px;
	top: 4px;
	left: 4px;
	background-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dragable_picture .picture_handle {
	cursor: move;
}

.picture_content_spinner {
	position: absolute;
	z-index: 0;
	top: 35px;
	left: 39px;
}

div.file {
	padding: 0;
	margin-top: 8px;
	margin-bottom: 4px;
	border: 1px solid #c0c0c0;
	background-color: #f3f3f3;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 24px;
}

div.file_icon {
	text-align: center;
	float: left;
	height: 24px;
	width: 24px;
}

div.file_icon span.icon {
	margin: 4px;
}

div.file_icon a.assign_file {
	display: block;
	height: 16px;
	background: url(/images/alchemy/icons.png) no-repeat -240px -24px;
	width: 16px;
	margin: 4px;
}

div.file_name {
	white-space: nowrap;
	overflow: hidden;
	float: left;
	width: 293px;
	line-height: 24px;
	font-size: 10px;
}

div.essence_file_tools {
	height: 24px;
	float: right;
	background-color: white;
	width: 48px;
}

div.essence_file_tools a{
	text-decoration: none;
	width: 16px;
	height: 16px;
	margin: 4px;
	float: left;
}

div.essence_file_tools a.assign_file {
	background: url(/images/alchemy/icons.png) -256px -24px;
}

div.essence_file_tools a.edit_file {
	background: url(/images/alchemy/icons.png) -16px -24px;
}

td.content_editor_essence_type {
	width: 90px;
	height: 20px;
}

table.content_editor_table {
	margin-bottom: 8px;
}

.content_editor_table .thin_border {
	width: 210px;
}

div.content_editor label.inline {
	display: inline-block;
	min-width: 90px;
	margin-right: 4px;
}

a.new_content_link {
	float: none;
	display: inline-block;
	margin-bottom: 8px;
	margin-top: 4px;
}

div.essence_richtext_loader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #ededed;
	opacity: 0.95;
}

div.essence_richtext_loader img {
	position: absolute;
	top: 43%;
	left: 46%;
}

div.content_text_editor.text_short {
	margin-top: 0;
	margin-bottom: 0;
	display: inline;
}

input.long,
input.text_long {
	width: 363px;
}

select.long {
	width: 376px;
	margin: 0;
	padding: 0;
}

div.content_text_editor input.text_short {
	border-width: 1px;
	width: 50px;
	margin-right: 4px;
	padding: 2px;
}

div.content_editor {
	margin-bottom: 8px;
	margin-top: 8px;
	overflow: hidden;
	position: relative;
}

div.content_editor label {
	display: block;
	margin-bottom: 0.5em;
	font-size: 10px;
	text-shadow: #fff5e1 1px 1px 0;
	line-height: 15px;
}

div.content_editor label span.warning.icon {
	position: relative;
	top: 2px;
}

.element_editor p.content_editor_error {
	border: 1px solid #f5b04e;
	padding: 4px 8px;
	line-height: 21px;
	background-color: #f5dea9;
	margin-top: 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

p.content_editor_error span.icon.warning {
	position: relative;
	top: 2px;
	margin-right: 8px;
}

div.content_editor label a.icon_button.small {
	display: none;
}

div.content_editor:hover label a.icon_button.small {
	display: inline-block;
}

.o2k7Skin span.alchemy_link {
	background-position: -500px 0;
}

.o2k7Skin span.alchemy_unlink {
	background-position: -640px 0;
}

.content_rtf_text_area {
	display: none;
}

.content_rtf_editor div.editable_area_container {
	padding: 4px;
	border: 1px solid #c3c3c3;
	border-top-style: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: white url(/images/alchemy/gui/shading_inv.png) repeat-x 0 -5px;
}

.content_rtf_editor div.editable_area {
	outline: none;
	overflow-y: visible;
	overflow-x: auto;
	min-height: 105px;
}

.content_rtf_editor .editable_area a {
	color: #1c18f2;
	text-decoration: underline;
}

div.nicEdit-panelContain {
	-webkit-border-radius: 2px;
	background-repeat: repeat-x;
	background-position: 0 5px;
}

div.nicEdit-button {
	background-color: #ededed;
}

.nicEdit-main {
	background-color: white;
	outline: none;
}

div.pictures_for_element {
	overflow: auto;
	margin-top: 4px;
}

textarea.tinymce {
	font: 12px Tahoma, Arial, sans-serif;
	padding: 4px;
	margin: 0;
	width: 368px;
	border-style: inset;
	border-width: 1px;
	height: 184px;
}

.text_short_float_left {
	width: 170px;
	float: left;
	margin-right: 10px;
	border-width: 1px;
}

.droppable_content_placeholder {
	border: 1px dotted #bba589;
	background-color: #f0e8d7;
	float: left;
	width: 118px;
	height: 119px;
	padding: 2px 0 0;
	margin: 2px 1px 2px 2px;
}