/* @override http://0.0.0.0:3000/plugin_assets/alchemy/stylesheets/elements.css */

/* @override http://0.0.0.0:3000/plugin_assets/alchemy/stylesheets/elements.css */

input.text_with_icon {
	width: 343px;
	float: left;
}

div.error {
	padding: 8px 4px 8px 32px;
	margin-bottom: 8px;
	margin-top: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.element_editor p.footnote {
	clear: both;
	float: left;
	font-size: 10px;
	margin-top: 4px;
	width: 100%;
}

.element_heading .preview_text_quote {
	font-size: 10px;
	font-style: italic;
	line-height: 15px;
}

span.preview_text_element_name {
	font-size: 10px;
	text-shadow: #efefef 1px 1px 1px;
	font-weight: bold;
	line-height: 15px;
}

img.add_element_spinner {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 5px;
	bottom: 6px;
}

#element_area h2#no_elements_on_page_notice {
	padding: 8px;
	text-align: center;
}

.element_handle {
	cursor: move;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 8px;
	top: 9px;
}

.element_handle .element_icon {
	z-index: 0;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/icons/element-icons.png) no-repeat -80px 0;
}

.element_handle img.element_status {
	z-index: 1;	position: absolute;
}

div.element_foot span.element_public {
	float: left;
	margin-top: 1px;
}

.element_head_all {
	overflow: auto;
	width: 374px;
}

.element_head_left {
	float: left;
	width: 230px;
	overflow: auto;
	padding-bottom: 10px;
}

.element_head_right {
	float: left;
	width: 144px;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
}

.add_content {
	float: left;
	margin: 2px 1px 2px 2px;
	width: 120px;
	padding: 0;
	background-color: #f0e8d7;
	height: 123px;
}

.add_content a {
	color: #6c6c6c;
	text-decoration: none;
	background: url(../images/icons/image-essence.png) no-repeat 0 0;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	line-height: 104px;
	border-radius: 3px;
	font-size: 40px;
	display: block;
	height: 24px;
	margin-top: 48px;
	width: 24px;
	margin-bottom: 48px;
	margin: 48px;
}

.add_content a.assign {
	background-position: -24px 0;
}

.element_foot {
	padding: 8px;
	border-top-style: none;
	position: relative;
	background-color: #e5dcca;
	width: 100%;
	height: 18px;
	margin-left: -8px;
}

.element_foot .element_tools {
	float: left;
	margin-right: 8px;
}

.element_foot .button {
	position: absolute;
	right: 8px;
	bottom: 6px;
}

.ajax_folder {
	position: absolute;
	right: 8px;
	top: 8px;
}

.element_heading {
	padding: 0;
	z-index: 0;
	width: 322px;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	left: 35px;
	top: 11px;
}

div.element_editor {
	border: 1px solid #bba589;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f0e8d7;
	margin-bottom: 8px;
}

div.element_editor.selected {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-color: #bba589;
	outline-width: 1px;
	outline-color: #bba589;
	outline-style: solid;
}

div.element_editor form {
	margin: 4px 0 0;
	padding: 0 8px;
	overflow: hidden;
}

.element_tools a {
	width: 16px;
	height: 16px;
	float: left;
	margin: 1px 4px 1px 1px;
}

a.delete_element_button {
	background: url(../images/icons/element-icons.png) no-repeat;
}

div.element_tools {
	height: 20px;
}

span.element_tools_icons {
	float: left;
}

a.element_copy_button {
	background: url(../images/icons/element-icons.png) no-repeat -32px 0;
}

a.element_move_button {
	background: url(../images/icons/element-icons.png) no-repeat -16px 0;
}

.element_head {
	padding: 8px 0 6px;
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
	border-top-color: #e3e3e3;
	height: 20px;
	background-color: #e5dcca;
}

form.add_gallery_to_index {
	overflow: auto;
}

div.picture_gallery_images {
	margin-top: 8px;
	height: 100%;
	padding-top: 1px;
	padding-bottom: 2px;
	overflow: hidden;
	margin-bottom: 8px;
	border: 1px inset #cecece;
	padding-left: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #e5dcca;
}

div.picture_detail div.picture_image img.img_paddingtop {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.gallery_index div.picture_gallery_images {
	margin-top: 8px;
	height: 100%;
	border: 1px inset #b1b1b1;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	overflow: hidden;
	margin-bottom: 11px;
	width: 374px;
	margin-left: 7px;
}

form.add_gallery_to_index span {
	float: left;
	padding-top: 3px;
}

form.add_gallery_to_index select {
	float: left;
}

/* @group add moclecule */

.new_alchemy_element {
	margin: 0;
	padding: 8px;
	position: relative;
	height: 20px;
}

.new_alchemy_element p {
	line-height: 21px;
}

.new_alchemy_element form {
	line-height: 21px;
}

div#element_area {
	padding: 8px 8px 0;
	margin: 0;
	overflow: hidden;
}

.new_alchemy_element span {
	float: left;
}

.new_alchemy_element select {
	float: left;
	width: 185px;
	margin: 0 8px;
}

.add_element_content input.button {
	float: right;
}

/* @end */

.place_element_spinner {
	position: absolute;
	right: 8px;
	width: 24px;
	height: 24px;
	top: 5px;
}

div.content_editor a.icon_button {
	margin: 0 0 0 8px;
}

div.content_editor a.icon_button.small {
}

a.expand_element {
	background: url(../images/icons/element-icons.png) no-repeat -48px 0;
	height: 16px;
	width: 16px;
	text-decoration: none;
	display: block;
	margin: 1px;
}

a.fold_element {
	background: url(../images/icons/element-icons.png) no-repeat -64px 0;
	height: 16px;
	width: 16px;
	text-decoration: none;
	display: block;
	margin: 1px;
}

.content_editor select.essence_editor_select {
	-moz-border-radius: 2px 2px 2px 2px;
	background: white;
	border: 1px solid #9A9A9A;
	font-size:11px;
	height:21px;
	line-height:21px;
	padding:2px;
}

.content_editor select.essence_editor_select optgroup {
	color: gray;
	font-style: normal;
	font-weight: bold;
	text-indent: 8px;
}

.content_editor select.essence_editor_select option {
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
}

.content_editor select.essence_editor_select optgroup option {
	text-indent: 24px;
}
