* html ul#sitemap li .sitemap_row {
	padding: 0px;
	margin: -4px;
	overflow: auto;
	width: 376px;
	line-height:14px;
	font-size:12px;
}

* html #sitemap_for_links .sitemap_row {
	padding: 0px;
	margin: -4px;
	overflow: auto;
	width: 374px;
	font-size:12px;
	height: 28px;
	line-height:22px
}