<div class="news" id="<%= molecule_dom_id(wa_molecule) %>">
  <div class="date">
    <%= render_atom_view_by_name(wa_molecule, 'date') %>
  </div>
  <div class="headline">
    <%= render_atom_view_by_name(wa_molecule, 'headline') %>
  </div>
  <div class="body">
    <%= render_atom_view_by_name(wa_molecule, 'body') %>
  </div>
</div>
