<div id="alchemy_window_body">
	<div id="overlay_toolbar">
		<%= render :partial => 'filter_and_size_bar' %>
	</div>
	<div id="assign_image_list" class="with_padding">
	<% if @pictures.empty? -%>
		<p><%= t("no_images_in_archive") %></p>
	<% else -%>
		<%= render :partial => "picture_to_assign", :collection => @pictures, :locals => {:options => @options, :size => @size} %>
		<%= paginate @pictures, :remote => true %>
	<% end -%>
	</div>
</div>
