<%- if @pictures.blank? && params[:query].nil? -%>
<p class="padding_left_right">
	<%= t("no_images_in_archive", :scope => :alchemy) %>
</p>
<%- elsif @pictures.blank? -%>
<p class="padding_left_right">
	<%= t("no_search_results", :scope => :alchemy) %>
</p>
<%- else  -%>
<div id="pictures">
	<%= render(:partial => 'picture', :collection => @pictures) %>
</div>
<%= render :partial => 'alchemy/admin/partials/pagination_links', :locals => {:items => @pictures} %>
<%- end -%>
