<% p = params.dup %>
<% if Alchemy::Picture.tag_counts.any? %>
  <h2><%= _t("Filter by tag") %></h2>
  <%= js_filter_field '#tag_list li' %>
  <ul>
    <%= render_tag_list('Alchemy::Picture', p) %>
  </ul>
  <% if p[:tagged_with].present? %>
    <%= link_to(
      render_icon('delete-small') + _t('Remove tag filter'),
      url_for(p.delete_if { |k, v| k == "tagged_with" }.merge(action: 'index')),
      remote: request.xhr?,
      class: 'button small with_icon please_wait'
    ) %>
  <% end %>
<% end %>
