<h2><%= t("Filter by tag") %></h2>
<ul>
  <% Alchemy::Picture.tag_counts.each do |t| %>
    <%= content_tag 'li', :class => params[:tagged_with].try(:split, ',').try(:include?, t.name) ? 'active' : nil do %>
      <%= link_to(
        "#{t.name} (#{t.count})",
        url_for(
          params.delete_if { |p| p == "page" }.merge(
            :action => :index,
            :tagged_with => unique_tags_for_params(t)
          )
        ),
        :remote => request.xhr?
      ) %>
    <% end %>
  <% end %>
</ul>
<% if params[:tagged_with].present? %>
  <%= link_to(
    render_icon('delete-small') + t('Remove tag filter'),
    url_for(params.delete_if { |p| p == "tagged_with" }.merge(:action => :index)),
    :remote => request.xhr?,
    :class => 'button small with_icon'
  ) %>
<% end %>
