<% if Alchemy::Picture.tag_counts.any? %>
  <label><%= Alchemy.t("Filter by tag") %></label>
  <%= render Alchemy::Admin::ListFilter.new(".tag-list li") %>
  <ul>
    <%= render_tag_list('Alchemy::Picture') %>
  </ul>
  <% if search_filter_params[:tagged_with].present? %>
    <%= link_to(
      render_icon(:close, size: '1x') + Alchemy.t('Remove tag filter'),
      url_for(search_filter_params.except(:tagged_with)),
      remote: request.xhr?,
      class: 'secondary button small with_icon'
    ) %>
  <% end %>
<% end %>
