<%- permitted_to?(
    alchemy_module["action"].to_sym,
    alchemy_module["controller"].gsub(/\//, '_').to_sym
) do -%>

<%= link_to(
    url_for(
        :controller => "/#{alchemy_module['controller']}",
        :action => alchemy_module["action"]
    ),
    :class => "main_navi_entry#{admin_mainnavi_active?(alchemy_module) ? ' active' : nil }"
) do %>
    <%- if alchemy_module["icon"].blank? -%>
    <%= image_tag(alchemy_module["image"]) %>
    
    <%- else -%>
    <span class="module icon <%= alchemy_module["icon"] %>"></span>
    <%- end -%>
    <%# 
        We have to set the FastGettext.text_domain explicitly here, 
        because Alchemy Modules come with their own TextDomain
    %>
    <%- FastGettext.text_domain = 'alchemy' -%>
    <label><%= truncate _(alchemy_module["name"]), :length => 11 -%></label>
<% end %>

<%- end -%>
