<%- @date = content.essence -%>
<div class="content_editor">
	<label><%= t("content_names.#{content.name}", :default => content.name.capitalize) %></label>
	<%= datetime_select(
		"date",
		:date,
		:default => Date.today,
		:discard_minute => (options[:show_time] ? false : true),
		:discard_hour => (options[:show_time] ? false : true)
	) %>
</div>
