<div class="content_editor" id="<%= content_dom_id(content) %>">
	<label><%= render_content_name(content) %></label>
	<%= datetime_select(
		"contents[content_#{content.id}]",
		:date,
		:default => content.ingredient || Date.today,
		:start_year => options[:start_year],
		:end_year => options[:end_year],
		:discard_minute => (options[:show_time] ? false : true),
		:discard_hour => (options[:show_time] ? false : true)
	) %>
</div>
