<%%#
  Available locals:
  * content (The object the essence is linked to the element)
  * html_options

  Please consult Alchemy::Content.rb docs for further methods on the content object
%>
<div class="content_editor <%= @essence_name.classify.demodulize.underscore %>" id="<%%= content.dom_id %>" data-content-id="<%%= content.id %>">
  <%%= content_label(content) %>
  <%%= text_field_tag(
    content.form_field_name,
    content.ingredient,
    id: content.form_field_id
  ) %>
</div>
