<div class="image_mosaic" id="<%= element_dom_id(element) %>" <%= element_preview_code(element) -%>>
  <div class="image_mosaic_images">
  <%- element.contents.gallery_pictures.each do |image| -%>
    <div class="image_mosaic_image">
      <%= render_essence_view(image, :image_size => '300x200', :crop => true) %>
    </div>
  <%- end -%>
  </div>
  <% if element.ingredient(:show_caption) %>
  <div class="caption">
    <%= render_essence_view_by_name(element, 'caption') %>
  </div>
  <% end %>
</div>
