<footer>
  <div id="legal_info">
    <%= Alchemy.t('Alchemy is open software and itself uses open software and free resources:') %>
    <ul>
      <li>
        <a href="https://rubyonrails.org" target="_blank">Ruby on Rails</a>
      </li>
      <li>
        <a href="https://jquery.com" target="_blank">jQuery</a>
      </li>
      <li>
        <a href="https://shoelace.style" target="_blank">Shoelace</a>
      </li>
      <li>
        <a href="https://www.tiny.cloud" target="_blank">TinyMCE</a>
      </li>
      <li>
        <a href="https://remixicon.com" target="_blank">Remix Icons</a>
      </li>
    </ul>
  </div>
</footer>
