<div class="column left">
  <%= render Alchemy::Admin::Dashboard::Widgets::LockedPages.new(user: current_alchemy_user) %>
  <%= render Alchemy::Admin::Dashboard::Widgets::RecentPages.new(user: current_alchemy_user) %>
</div>
