<div class="widget">
  <h2><%= Alchemy::Site.model_name.human(:count => 2) %>:</h2>
  <table>
    <% @sites.each do |site| %>
    <tr class="<%= cycle('even', 'odd', :name => 'sites') %>">
      <td>
        <%= link_to_unless(site == Alchemy::Site.current, site.name, login_url(:protocol => 'http://', :host => site.host, :user => {:login => current_alchemy_user.login}), :target => '_blank') %>
      </td>
      <td><small><%= site.host %></small></td>
    </tr>
    <% end %>
  </table>
</div>
