<div class="stats">
  <%= render Alchemy::Admin::Dashboard::Widget.new(id: "PageCounts", style: "stat") %>
  <%= render Alchemy::Admin::Dashboard::Widget.new(id: "UserCounts", style: "stat") %>
  <%= render Alchemy::Admin::Dashboard::Widget.new(id: "PictureCounts", style: "stat") %>
  <%= render Alchemy::Admin::Dashboard::Widget.new(id: "AttachmentCounts", style: "stat") %>
</div>
