<% if Alchemy.config.dashboard.widgets.any? %>
  <div class="widgets">
    <% Alchemy.config.dashboard.widgets.each do |widget, args| %>
      <%= render widget.new(**args) %>
    <% end %>
  </div>
<% end %>
