<%- if @contents.any? || @element['picture_gallery'] -%>
= element_editor_for(element) do |el|
<%- @contents.each do |content| -%>
  = el.edit :<%= content["name"] %>
<%- end -%>
<%- else -%>
= element_editor_for(element)
<%- end -%>
