- cache(<%= @element_name -%>_view) do
  = element_view_for(<%= @element_name -%>_view) do |el|
  <%- @contents.each do |content| -%>
    <%- if @contents.length > 1 -%>
    .<%= content["name"] %>
      = el.render :<%= content["name"] %>
    <%- else -%>
    = el.render :<%= content["name"] %>
    <%- end -%>
  <%- end -%>
  <%- if @element['nestable_elements'].present? -%>
    = render <%= @element_name -%>_view.nested_elements.available
  <%- end -%>
