- cache(element) do
  = element_view_for(element) do |el|
  <%- @contents.each do |content| -%>
    <%- if @contents.length > 1 -%>
    .<%= content["name"] %>
      = el.render :<%= content["name"] %>
    <%- else -%>
    = el.render :<%= content["name"] %>
    <%- end -%>
  <%- end -%>
  <%- if @element['nestable_elements'].present? -%>
    - element.nested_elements.available.each do |nested_element|
      = render_element(nested_element)
  <%- end -%>
