# == This file defines the page layouts for new pages.
#
# For further informations please see http://guides.alchemy-cms.com/create_page_layouts.html

- name: <%= Alchemy::Config.get(:default_language)['page_layout'] %>
  unique: true
  elements: [article]
  autogenerate: [article]
