<%- permitted_to?(
    mainnavigation_entry["action"].to_sym,
    mainnavigation_entry["controller"].gsub(/\//, '_').to_sym
) do -%>

<% link_to(
    url_for(
        :controller => "/#{mainnavigation_entry['controller']}",
        :action => mainnavigation_entry["action"]
    ),
    :class => "main_navi_entry#{admin_mainnavi_active?(mainnavigation_entry) ? ' active' : nil }"
) do %>
    <%- if mainnavigation_entry["icon"].blank? -%>
    <%= image_tag(mainnavigation_entry["image"]) %>
    <br />
    <%- else -%>
    <span class="module icon <%= mainnavigation_entry["icon"] %>"></span><br />
    <%- end -%>
    <%# 
        We have to set the FastGettext.text_domain explicitly here, 
        because Alchemy Modules come with their own TextDomain
    %>
    <%- FastGettext.text_domain = 'alchemy' -%>
    <span><%= truncate _(mainnavigation_entry["name"]), :length => 11 -%></span>
<% end %>

<%- end -%>
