<div id="filter_bar">
  <% alchemy_filters.each do |filter| %>
    <%= render filter.input_component(params, @query) %>
  <% end %>
</div>

<script type="module">
  $(function() {
    $('input, select', '#filter_bar').on('change', function(e) {
      // We need to dispatch a submit event, so that Turbo that listens
      // to it submits the search form us.
      const event = new Event("submit", { bubbles: true, cancelable: true });
      this.form.dispatchEvent(event);
      return false;
    });
  });
</script>
