<div id="filter_bar">
  <alchemy-auto-submit>
    <% alchemy_filters.each do |filter| %>
      <%= render filter.input_component(search_filter_params, @query) %>
    <% end %>
  </alchemy-auto-submit>
</div>
