<label>
  <h3><%= Alchemy.t("name", scope: ["filters", resource_name, filter.name]) || Alchemy.t('Filter') %></h3>
  <%= select_tag(
    filter.name,
    options_for_select(
      filter.options_for_select, search_filter_params.dig(:filter, filter.name)
    ),
    include_blank: Alchemy.t(:all, scope: ['resources', resource_name, 'filters']),
    data: { remote: !!request.xhr? },
    is: 'alchemy-select'
  ) %>
</label>
