<div id="filter_bar">
  <% alchemy_filters.each do |filter| %>
    <%= render filter.input_component(params, @query) %>
  <% end %>
</div>

<script type="module">
  $(function() {
    $('input, select', '#filter_bar').on('change', function(e) {
      this.form.submit();
      return false;
    });
  });
</script>
