<%- label_title = t("Create #{resource_model_name}", :default => t('Create')) -%>

<%- toolbar(
  :buttons => [
    {
      :icon => 'create',
      :label => label_title,
      :url => new_resource_path,
      :title => label_title,
      :overlay_options => {
        :title => label_title,
        :size => resource_window_size
      },
      :if_permitted_to => [:new, resource_permission_scope]
    }
  ],
  :search => true,
  :search_url => resources_path
) -%>

<div id="archive_all">
  <%= render 'table' %>
</div>
