<%- cache(gallery_view) do -%>
  <%= element_view_for(gallery_view) do |el| -%>
    <div class="gallery_images">
      <% gallery_view.nested_elements.available.each do |nested_element| %>
        <%= render_element(nested_element) %>
      <% end %>
    </div>
  <%- end -%>
<%- end -%>
