<%- cache(gallery_view) do -%>
  <%= element_view_for(gallery_view) do |el| -%>
    <div class="gallery_images">
      <%= render gallery_view.nested_elements.available %>
    </div>
  <%- end -%>
<%- end -%>
