<div id="content">
  <%= render_elements %>
</div>
<div id="left-column">
  <%= render_elements only: %w[left_column], fixed: true %>
</div>
<div id="right-column">
  <%= render_elements only: %w[right_column], fixed: true %>
</div>
