<span class="linkable_essence_tools">
  <%= link_to(
    render_icon(:link),
    '#',
    onclick: "d = new Alchemy.LinkDialog(this); d.open(); return false;",
    class: "icon_button#{content.linked? ? ' linked' : ''}",
    'data-content-id' => content.id,
    title: _t(:place_link),
    id: "edit_link_#{content.id}"
  ) %>
  <%= link_to(
    render_icon(:unlink),
    '#',
    onclick: "return Alchemy.LinkDialog.removeLink(this, #{content.id})",
    class: "icon_button unlink #{content.linked? ? 'linked' : 'disabled'}",
    'data-content-id' => content.id,
    title: _t(:unlink)
  ) %>
</span>
